{% extends 'layout/list_layout.html' %}{% import '_macros/product_list.html' as list %}
{% block navigation %}
	{% set a4="openMenu" %}
	{% set a4b1="openMenu" %}
	{% include '_includes/nav.html' %}
{% endblock %}

{% block title %}Термопластавтоматы Китай{% endblock %}
{% block keywords %}термопластавтомат, Китай, серия, Yongjiang, производство, изделий, пластмасса, пластик, заготовка,
	машина{% endblock %}
{% block description %}Компания «Берег» поставляет современные термопластавтоматы из Китая{% endblock %}
{% block h1 %}Термопластавтоматы Китай{% endblock %}
{% block text %}
	<p>Компания «Берег» поставляет современные, надежные и высокотехнологичные термопластавтоматы из Китая. На нашем
		сайте представлен широкий модельный ряд <a href="/oborudovanie-iz-kitaia">оборудования из Китая</a> для литья
		под давлением. Поэтому наши клиенты всегда могут сделать оптимальный выбор и подобрать термопластавтоматы под
		конкретное производство.
	</p>

	<p><strong>Термоплставтоматы из Китая</strong> – современные станки, служащие для производства пластмассовых изделий
		и заготовок методом литья под давлением. Сырьем для такого вида оборудования служат термопластичные материалы и
		их разновидности. Особенность термопластавтоматов, предлагаемых нашей компанией, высокая экономия электроэнергии
		(порядка 30-50%%), продолжительный срок службы, низкий уровень нагрева, возможность использования в качестве
		сырья плевой фракции, наполнителей, дробленки.
	</p>
	<p>Все представленные термопластавтоматы из Китая соответствуют ГОСТ и международным стандартам.</p>

	<h2>Преимущества поставляемых термопластавтоматов</h2>
	<p>Вся линейка представленных термопластавтоматов обладает следующими преимуществами:</p>

	<ul>
		<li>Автоматизированная система управления с переводом на русский язык</li>
		<li>Технологичная компоновка узлов</li>
		<li>Надежная гидравлика</li>
		<li>Автоматическая система диагностики и контроля</li>
		<li>Программирование параметров работы</li>
		<li>Поддержка оптимальных режимов работы</li>
		<li>Автоматическая смазка рабочих и трущихся поверхностей</li>
		<li>Удобный интерфейс на русском языке</li>
		<li>Высокие скорости циклов, дают возможность изготавливать тонкостенные детали</li>
		<li>Возможность производить сложных деталей</li>
	</ul>
	<h2 class="end">Серия термопластавтоматов из Китая.</h2>
	<p>Серия машин для литья пластмассы под давлением компании Yongjiang Group</p>
{% endblock %}
{% block list %}
	<ul class="products">
		{{ list.product('yj800', 'самая миниатюрная в своем классе машина. Предназначена для производства небольших изделий из пластмассы. Технические характеристики: диаметр шнека 32-38 мм., объем впрыска 95-149 г., скорость впрыска 80-97 г/сек.') }}
		{{ list.product('yj1000', 'небольшая машина для производства пластиковых изделий.  Технические характеристики: диаметр шнека 40-42 мм., объем впрыска 183-203 г., скорость впрыска 107-150 г/сек., давление впрыска 174-158 МПа.') }}
		{{ list.product('yjk1200', 'производительная машина для изготовления средних деталей из пластмассы (кнопки, корпуса ручек, брелки и т.д.).  Технические характеристики: диаметр шнека 40-45 мм., объем впрыска 183-258 г., скорость впрыска 106-121 г/сек.') }}
		{{ list.product('yj1500', 'автомат для литья пластика под давлением.  Технические характеристики: диаметр шнека 36-43 мм., объем впрыска 115-231 г., скорость впрыска 86-120 г/сек., давление впрыска 174-158 МПа.') }}
		{{ list.product('yjk2000', 'станок для изготовления средних деталей из пластмассы (крышки, мини корпуса, ручки ножей/ножниц, одноразовых ложки, вилки и т.д.).  Технические характеристики: диаметр шнека 45-52 мм., объем впрыска 275-430 г., скорость впрыска 126-183 г/сек.') }}
		{{ list.product('yjk2200', 'машина для литья под давлением заготовок из пластмассы (небольшие корпуса, детали и т.д.).  Технические характеристики: диаметр шнека 48-55 мм., объем впрыска 376-510 г., скорость впрыска 158-198 г/сек.') }}
		{{ list.product('yjk2500', 'машина для производства средних пластиковых заготовок (небольшие корпуса, детали и т.д.).  Технические характеристики: диаметр шнека 45-60 мм., объем впрыска 457-576 г., скорость впрыска 185-227 г/сек.') }}
		{{ list.product('yjt3580', 'позволяет изготавливать более крупные детали по сравнению с серией YJK (большая одноразовая посуда, корпуса стационарных телефонов, офисной техники и т.д.) Технические характеристики: диаметр шнека 60-72 мм., объем впрыска 579-920 г., скорость впрыска 223-320 г/сек.') }}
		{{ list.product('yjt3880', 'Технические характеристики: диаметр шнека 70-75 мм., объем впрыска 1146-1315 г., скорость впрыска 372-405 г/сек., вес машины 18 тонн.') }}
		{{ list.product('yjt5080', 'Технические характеристики: диаметр шнека 80-85 мм., объем впрыска 1650-2030 г., скорость впрыска 448-500 г/сек., вес машины 22 тонн.') }}
		{{ list.product('yjt5600', 'Технические характеристики: диаметр шнека 85-90 мм., объем впрыска 1930-2380 г., скорость впрыска 487-546 г/сек., вес машины 28 тонн.') }}
		{{ list.product('yjt6600', 'Технические характеристики: диаметр шнека 90-100 мм., объем впрыска 2600-3200 г., скорость впрыска 546-638 г/сек., вес машины 35 тонн.') }}
		{{ list.product('yjt7500', 'Технические характеристики: диаметр шнека 100-110 мм., объем впрыска 3200-4191 г., скорость впрыска 660-799 г/сек., вес машины 40 тонн.') }}
		{{ list.product('yjt13000', 'Технические характеристики: диаметр шнека 110-130 мм., объем впрыска 4200-7200 г., скорость впрыска 803-1120 г/сек., вес машины 78 тонн.') }}
		{{ list.product('yjw1580', 'Технические характеристики: диаметр шнека 40-48 мм., объем впрыска 165-341 г., скорость впрыска 101-142г/сек., вес машины 5.2 тонн.') }}
		{{ list.product('yjw11000', 'Технические характеристики: диаметр шнека 110-130 мм., объем впрыска 3780-5972 г., скорость впрыска 760-974г/сек., вес машины 62 тонны.') }}
		{{ list.product('yjw16000', 'Технические характеристики: диаметр шнека 130-150 мм., объем впрыска 7560-10395 г., скорость впрыска 1107-1474г/сек., вес машины 100 тонн.') }}
		{{ list.product('yjfs1600', 'Технические характеристики: диаметр шнека 32-40 мм., объем впрыска 110-168 г., скорость впрыска 51-88г/сек., вес машины 8.1 тонн.') }}
	</ul>
{% endblock %}