{% extends 'layout/list_layout.html' %}
{% block navigation %}
	{% set a4="openMenu" %}
	{% set a4b1="openMenu" %}
	{% include '_includes/nav.html' %}
{% endblock %}

{% block title %}Термопластавтоматы Китай{% endblock %}
{% block keywords %}термопластавтомат, Китай, серия, Yongjiang, производство, изделий, пластмасса, пластик, заготовка,
	машина{% endblock %}
{% block description %}Компания «Берег» поставляет современные термопластавтоматы из Китая{% endblock %}
{% block h1 %}Термопластавтоматы Китай{% endblock %}
{% block text %}
	<p>Компания «Берег» поставляет современные, надежные и высокотехнологичные термопластавтоматы из Китая. На нашем
		сайте представлен широкий модельный ряд оборудования из Китая для литья под давлением. Поэтому наши клиенты
		всегда могут сделать оптимальный выбор и подобрать термопластавтоматы под конкретное производство.</p>

	<p>Термоплставтоматы из Китая – современные станки, служащие для производства пластмассовых изделий и заготовок
		методом литья под давлением. Сырьем для такого вида оборудования служат термопластичные материалы и их
		разновидности. Особенность термопластавтоматов, предлагаемых нашей компанией, высокая экономия электроэнергии
		(порядка 30-50%%), продолжительный срок службы, низкий уровень нагрева, возможность использования в качестве
		сырья плевой фракции, наполнителей, дробленки.</p>
	<p>Все представленные термопластавтоматы из Китая соответствуют ГОСТ и международным стандартам.</p>

	<h2>Преимущества поставляемых термопластавтоматов</h2>
	<p>Вся линейка представленных термопластавтоматов обладает следующими преимуществами:</p>

	<ul>
		<li>Автоматизированная система управления с переводом на русский язык</li>
		<li>Технологичная компоновка узлов</li>
		<li>Надежная гидравлика</li>
		<li>Автоматическая система диагностики и контроля</li>
		<li>Программирование параметров работы</li>
		<li>Поддержка оптимальных режимов работы</li>
		<li>Автоматическая смазка рабочих и трущихся поверхностей</li>
		<li>Удобный интерфейс на русском языке</li>
		<li>Высокие скорости циклов, дают возможность изготавливать тонкостенные детали</li>
		<li>Возможность производить сложных деталей</li>
	</ul>
	<h2 class="end">Серия термопластавтоматов из Китая.</h2>
	<p>Серия машин для литья пластмассы под давлением компании Yongjiang Group</p>
{% endblock %}
{% block list %}
	<ul class="products">
		<li>
			<a href="/en/produtos/iniciante/kit-200" title="Kit 200"><img src="/public/img/demo/419.jpg" alt="Kit 200" height="153" width="419"></a>

			<h3><a href="/en/produtos/iniciante/kit-200" title="Kit 200">Kit 200</a></h3>
			<span class="tipo">Complete kit to produce popsicles</span> <span class="desc">200-250 Popsicles/hour</span>
			<span class="tags">beginners, popsicles</span></li>
		<li>
			<a href="/en/produtos/iniciante/maquina-sorvete-mixer-15" title="Mixer 15"><img src="/public/img/demo/419.jpg" alt="Mixer 15" height="153" width="419"></a>

			<h3><a href="/en/produtos/iniciante/maquina-sorvete-mixer-15" title="Mixer 15">Mixer 15</a></h3>
			<span class="tipo">Aerator / emulsifier for ice cream and popsicles mixture</span> <span class="desc">Up to 8 liters of mixture</span>
			<span class="tags">beginners, popsicles, ice cream</span>
		</li>
		<li>
			<a href="/en/produtos/iniciante/maquina-sorvete-pp-60" title="PP 60"><img src="/public/img/demo/419.jpg" alt="PP 60" height="153" width="419"></a>

			<h3><a href="/en/produtos/iniciante/maquina-sorvete-pp-60" title="PP 60">PP 60</a></h3>
			<span class="tipo">Low cost Pasteurizer</span> <span class="desc">up to 60 liters / hour</span>
			<span class="tags">beginners, popsicles, ice cream</span></li>
		<li>
			<a href="/en/produtos/iniciante/maquina-sorvete-pro-4" title="Pro 4"><img src="/public/img/demo/419.jpg" alt="Pro 4" height="153" width="419"></a>

			<h3><a href="/en/produtos/iniciante/maquina-sorvete-pro-4" title="Pro 4">Pro 4</a></h3>
			<span class="tipo">Ice cream batch freezer</span> <span class="desc">Up to 60 liters / hour</span>
			<span class="tags">beginners, ice cream</span></li>
		<li>
			<a href="/en/produtos/iniciante/maquina-sorvete-turbo-8" title="Turbo 8"><img src="/public/img/demo/419.jpg" alt="Turbo 8" height="153" width="419"></a>

			<h3><a href="/en/produtos/iniciante/maquina-sorvete-turbo-8" title="Turbo 8">Turbo 8</a></h3>
			<span class="tipo">High performance popsicle machine</span>
			<span class="desc">200-250 popsicles / hour</span> <span class="tags">beginners, popsicles</span></li>
		<li>
			<a href="/en/produtos/iniciante/desenformador-banho-maria" title="Unmold Machine "><img src="/public/img/demo/419.jpg" alt="Unmold Machine " height="153" width="419"></a>

			<h3><a href="/en/produtos/iniciante/desenformador-banho-maria" title="Unmold Machine ">Unmold Machine </a>
			</h3>
			<span class="tipo">Bain Marie and Skimo</span> <span class="desc">2 tanks of 20 liters</span>
			<span class="tags">beginners</span></li>
	</ul>
{% endblock %}