{% extends 'layout/product_layout.html' %}
{% block navigation %}
	{% set a6="openMenu" %}
	{% include '_includes/nav.html' %}
{% endblock %}

{% block title %}Мини термопластавтомат YJ1000{% endblock %}
{% block keywords %}мини, термопластавтомат, YJ1000, технические, характеристики, прессформа{% endblock %}
{% block description %}Заказать мини термопластавтомат YJ1000{% endblock %}
{% block h1 %}Мини термопластавтомат YJ1000{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/YJ1000_top.jpg" width="530" height="278" border="0" alt="Мини термопластавтомат серии YJ1000"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/YJ1000_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJ1000"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><img src="/public/img/tpa_full/YJ1000_top.jpg" alt="Мини термопластавтомат серии YJ1000"></p>
	<p><strong>Мини термопластавтомат серии YJ1000</strong> небольшая машина для литья под давлением. Назначение YJ1000 – изготовление мелких деталей из пластмассы и её производных. По характеристикам немного превосходит своего предшественника YJ-800, благодаря возможности установить большую прессформу. Ввод программы осуществляется по средствам ЖК экрана. Весь процесс производства автоматизирован. Благодаря невысокой цене и хорошей производительности, термопластавтомат серии YJ1000 быстро окупает себя. Это оптимальный выбор для небольших производств, специализирующихся на производстве маленьких деталей из пластмассы.</p>
	<h2>Технические характеристики мини термопластавтомата YJ1000</h2>
	<p><img src="/public/img/tpa_full/YJ1000_pressform_top.jpg" alt="прессформа термопластавтомата YJ1000"></p>
	<table>
		<tbody>
		<tr>
			<td>Технические характеристики</td>
			<td>YJ1000</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Система впрыска</td>
			<td>I</td>
			<td>II</td>
			<td>III</td>
		</tr>
		<tr>
			<td>Диаметр шнека, мм</td>
			<td>32</td>
			<td>36</td>
			<td>38</td>
		</tr>
		<tr>
			<td>Соотношение длина/диаметр шнека, (L/D)</td>
			<td>21,8</td>
			<td>19,4</td>
			<td>18,4</td>
		</tr>
		<tr>
			<td>Теоретический объем впрыска (инжекторная емкость), см3</td>
			<td>100</td>
			<td>125</td>
			<td>160</td>
		</tr>
		<tr>
			<td>Фактическая масса впрыска (инжекторный вес), г</td>
			<td>95</td>
			<td>120</td>
			<td>149</td>
		</tr>
		<tr>
			<td>Скорость впрыска (инжексации), г/сек</td>
			<td>80</td>
			<td>86</td>
			<td>97</td>
		</tr>
		<tr>
			<td>Скорость пластикации, г/сек</td>
			<td>11</td>
			<td>12</td>
			<td>13</td>
		</tr>
		<tr>
			<td>Давление впрыска, МПа</td>
			<td>172</td>
			<td>178</td>
			<td>160</td>
		</tr>
		<tr>
			<td>Вращение шнека, об./мин.</td>
			<td>200</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Усилие сжатия прессформы, кН</td>
			<td>800</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Ход перемещения плиты, мм</td>
			<td>320</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Расстояние между колоннами, мм</td>
			<td>350 х 350</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Max толщина прессформы, мм</td>
			<td>350</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Min толщина прессформы, мм</td>
			<td>100</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Ход толкателя, мм</td>
			<td>100</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Максимальное давление насоса, МПа</td>
			<td>14,5</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Мощность нагрева, кВт</td>
			<td>5,95</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Мощность привода , кВт</td>
			<td>11</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Размеры станка, м</td>
			<td>3,8 х 1,38 х 1,7</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Масса, тонн</td>
			<td>2,7</td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>
	<p>Для заказа YJ1000 свяжитесь с нами.</p>
	<p>Посмотреть все термопластавтоматы из Китая вы можете по ссылке</p>
	<p>Комплексная поставка оборудования, производственных линий и мини заводов из Китая производится нашей компанией
		ООО Берег.</p>
{% endblock %}