{% extends 'layout/product_layout.html' %}
{% block title %}Термопластавтомат YJ1500{% endblock %}
{% block keywords %}термопластавтомат, YJ1500, технические, характеристики, прессформа{% endblock %}
{% block description %}Заказать термопластавтомат YJ1500{% endblock %}
{% block h1 %}Термопластавтомат YJ1500{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/top/YJ1500_top.jpg" width="530" height="278" border="0" alt="термопластавтомат серии YJ1500"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/top/YJ1500_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJ1500"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><img src="/public/img/tpa_full/text/tpa-yj1500.jpg" alt="термопластавтомат серии YJ1500"></p>
	<p><strong>Термопластавтомат серии YJ1500</strong> - машина для литья под давлением пластмассовых масс. Предназначен
		для серийного производства небольших изделий из полимеров. Высокотехнологичность, безопасность, простота
		управления, в купе с дешевизной – главные преимущества термопластавтомата серии YJ1500. Процесс производства
		полностью автоматизирован. Программа вводиться по средствам ЖК-дисплея. Термопластавтомат серии YJ1500
		оборудован датчиками контроля температуры, что обеспечивает возможность продолжительной и безопасной
		эксплуатации.</p>
	<h2>Характеристики термопластавтомата YJ1500</h2>
	<p><img src="/public/img/tpa_full/text/tpa-pressforma-yj1500.jpg" alt="прессформа термопластавтомата YJ1500"></p>
	<table>
		<thead>
		<tr>
			<th>Техническиехарактеристики</th>
			<th>YJ1500</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Системавпрыска</th>
			<td>I</td>
			<td>II</td>
			<td>III</td>
			<td>IV</td>
		</tr>
		<tr>
			<th>Диаметршнека,мм</th>
			<td>39</td>
			<td>41</td>
			<td>43</td>
			<td>36</td>
		</tr>
		<tr>
			<th>Соотношениедлина/диаметршнека,(L/D)</th>
			<td>22,4</td>
			<td>21</td>
			<td>20</td>
			<td>25,8</td>
		</tr>
		<tr>
			<td>Теоретическийобъемвпрыска(инжекторнаяемкость),см3</td>
			<td>160</td>
			<td>200</td>
			<td>250</td>
			<td>125</td>
		</tr>
		<tr>
			<th>Фактическаямассавпрыска(инжекторныйвес),г</th>
			<td>147</td>
			<td>185</td>
			<td>231</td>
			<td>115</td>
		</tr>
		<tr>
			<th>Скоростьвпрыска(инжексации),г/сек</th>
			<td>98</td>
			<td>106</td>
			<td>120</td>
			<td>86</td>
		</tr>
		<tr>
			<th>Скоростьпластикации,г/сек</th>
			<td>13,7</td>
			<td>16,1</td>
			<td>17,8</td>
			<td>13,5</td>
		</tr>
		<tr>
			<th>Давлениевпрыска,МПа</th>
			<td>185</td>
			<td>168</td>
			<td>152</td>
			<td>218</td>
		</tr>
		<tr>
			<th>Вращениешнека,об./мин.</th>
			<td>180</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Усилиесжатияпрессформы,кН</th>
			<td>1500</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Ходперемещенияплиты,мм</th>
			<td>380</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Расстояниемеждуколоннами,мм</th>
			<td>430х390</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Maxтолщинапрессформы,мм</th>
			<td>410</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Minтолщинапрессформы,мм</td>
			<td>130</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Ходтолкателя,мм</th>
			<td>138</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Максимальноедавлениенасоса,МПа</th>
			<td>15</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Мощностьнагрева,кВт</th>
			<td>7,55</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Мощностьпривода,кВт</th>
			<td>15</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Размерыстанка,м</th>
			<td>4,56х1,33х1,91</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Масса,тонн</th>
			<td>4,2</td>
		</tr>
		</tbody>
	</table>

	<p>Ознакомиться со всей серией <a href="/termoplastavtomaty-kitay">термопластавтоматов из Китая</a> вы можете по
		ссылке слева.</p>

	<p>Для покупки YJ1500 свяжитесь с нами или заполните <a href="/contacts">форму заявки</a>. Если вы не нашли
		подходящего оборудования на нашем сайте, напишите нам, и мы в кратчайшие сроки осуществим <a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск производителя в
		Китае</a> с дальнейшем предоставлением вариантов.</p>

	<p>Поставка, оформление и растаможка под ключ мини заводов, производственных линий и <a href="/oborudovanie-iz-kitaia">оборудования из Китая</a> осуществляется
		компанией ООО Берег.</p>
{% endblock %}