{% extends 'layout/product_layout.html' %}
{% block navigation %}
	{% set a6="openMenu" %}
	{% include '_includes/nav.html' %}
{% endblock %}

{% block title %}Мини термопластавтомат YJ800{% endblock %}
{% block keywords %}мини, термопластавтомат, YJ800, технические, характеристики, прессформа{% endblock %}
{% block description %}Заказать мини термопластавтомат YJ800{% endblock %}
{% block h1 %}Мини термопластавтомат YJ800{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/top/YJ800_top.jpg" width="530" height="278" border="0" alt="Мини термопластавтомат серии YJ800"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/top/YJ800_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJ800"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><img src="/public/img/tpa_full/text/mini-termoplastavtomat-yj800.jpg" alt="Мини термопластавтомат серии YJ800"></p>
	<p><strong>Мини термопластавтомат серии YJ800</strong> является самым миниатюрным в своём классе. Основное
		назначение YJ800 - производство маленьких деталей из пластмассы, например, канцелярских кнопок, небольших
		пуговиц, зажимов, кнопок, жетонов, маленьких шестерёнок и т.д. Размеры прессформы (см. изображение) позволяют
		изготавливать сразу несколько заготовок за один цикл, что, безусловно, положительно сказывается на
		производительности. Машина программируется по средствам ввода программы с ЖК экрана. Весь процесс производства
		полностью автоматизирован. Термопластавтомат серии YJ800 экономичен и имеет небольшие размеры.</p>
	<h2>Технические характеристики мини термопластавтомата YJ800</h2>
	<p><img src="/public/img/tpa_full/text/pressforma-termoplastavtomat-yj800.jpg" alt="прессформа термопластавтомата YJ800"></p>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>YJ800</th>
			<th></th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Система впрыска</th>
			<td>I</td>
			<td>II</td>
			<td>III</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм</th>
			<td>32</td>
			<td>36</td>
			<td>38</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>21,8</td>
			<td>19,4</td>
			<td>18,4</td>
		</tr>
		<tr>
			<td>Теоретический объем впрыска (инжекторная емкость), см3</td>
			<td>100</td>
			<td>125</td>
			<td>160</td>
		</tr>
		<tr>
			<th>Фактическая масса впрыска (инжекторный вес), г</th>
			<td>95</td>
			<td>120</td>
			<td>149</td>
		</tr>
		<tr>
			<th>Скорость впрыска (инжексации), г/сек</th>
			<td>80</td>
			<td>86</td>
			<td>97</td>
		</tr>
		<tr>
			<th>Скорость пластикации, г/сек</th>
			<td>11</td>
			<td>12</td>
			<td>13</td>
		</tr>
		<tr>
			<th>Давление впрыска, МПа</th>
			<td>172</td>
			<td>178</td>
			<td>160</td>
		</tr>
		<tr>
			<th>Вращение шнека, об./мин.</th>
			<td>200</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Усилие сжатия прессформы, кН</th>
			<td>800</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Ход перемещения плиты, мм</th>
			<td>320</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Расстояние между колоннами, мм</th>
			<td>350 х 350</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Max толщина прессформы, мм</th>
			<td>350</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Min толщина прессформы, мм</td>
			<td>100</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Ход толкателя, мм</th>
			<td>100</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Максимальное давление насоса, МПа</th>
			<td>14,5</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность нагрева, кВт</th>
			<td>5,95</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность привода , кВт</th>
			<td>11</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Размеры станка, м</th>
			<td>3,8 х 1,38 х 1,7</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Масса, тонн</th>
			<td>2,7</td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>
	<p>Для заказа YJ1000 <a href="/contacts">свяжитесь с нами</a>.</p>

	<p>Посмотреть все <a href="/termoplastavtomaty-kitay">термопластавтоматы из Китая</a> вы можете по ссылке.</p>

	<p>Комплексная <a href="/oborudovanie-iz-kitaia">оборудования из Китая</a>, <a href="/proizvodstvennye-linii-iz-kitaya">производственных линий</a> и <a href="/mini-zavody-iz-kitaya">мини заводов из Китая</a> производится нашей компанией ООО Берег.</p>
{% endblock %}