{% extends 'layout/product_layout.html' %}
{% block title %} Термопластавтомат YJFS1600{% endblock %}

{% block keywords %}Термопластавтомат, YJFS1600, машина, изделие, технические, характеристики.{% endblock %}

{% block description %}Компания берег поставит Термопластавтомат YJFS1600 из Китая.{% endblock %}

{% block h1 %}Термопластавтомат YJFS1600{% endblock %}

{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/top/YJFS1600_top.jpg" width="530" height="278" border="0" alt="термопластавтомат серии YJFS1600"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/top/YJFS1600_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJFS1600"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><img src="/public/img/tpa_full/text/tpa-yjfs1600.jpg" alt="tpa-yjfs1600"></p>
	<p><strong>Термопластавтомат серии YJFS1600</strong> – автомат инжекционно-литьевой для производства деталей из
		полимеров. Размеры прессформы (см. изображение) дают возможность производить сразу несколько деталей за проход,
		что, конечно же, сказывается на скорости литья. Автомат программируется по средствам ввода данных с ЖК экрана.
		Процесс литья деталей полностью автоматизирован. Термопластавтомат серии YJFS1600 экономичен и имеет небольшие
		размеры.
	</p><h2>Прессформа и характеристики термопластавтомата YJFS1600</h2>
	<p><img src="/public/img/tpa_full/text/tpa-pressforma-yjfs1600.jpg" alt="tpa-pressforma-yjfs1600"></p>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>YJFS1600</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Система впрыска</th>
			<td>I</td>
			<td>II</td>
			<td>III</td>
			<td>I</td>
			<td>II</td>
			<td>III</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм</th>
			<td>32</td>
			<td>36</td>
			<td>40</td>
			<td>32</td>
			<td>36</td>
			<td>40</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>23,7</td>
			<td>21,1</td>
			<td>19</td>
			<td>23,7</td>
			<td>21,1</td>
			<td>19</td>
		</tr>
		<tr>
			<th>Теоретический объем впрыска (инжекторная емкость), см3</th>
			<td>120</td>
			<td>150</td>
			<td>180</td>
			<td>120</td>
			<td>150</td>
			<td>180</td>
		</tr>
		<tr>
			<th>Фактическая масса впрыска (инжекторный вес), г</th>
			<td>110</td>
			<td>138</td>
			<td>168</td>
			<td>110</td>
			<td>138</td>
			<td>168</td>
		</tr>
		<tr>
			<th>Скорость впрыска (инжексации), г/сек</th>
			<td>51</td>
			<td>66</td>
			<td>83</td>
			<td>57</td>
			<td>72</td>
			<td>88</td>
		</tr>
		<tr>
			<th>Скорость пластикации, г/сек</th>
			<td>11,2</td>
			<td>12,4</td>
			<td>14,5</td>
			<td>11,5</td>
			<td>13,9</td>
			<td>15,2</td>
		</tr>
		<tr>
			<th>Давление впрыска, МПа</th>
			<td>249</td>
			<td>197</td>
			<td>159</td>
			<td>249</td>
			<td>197</td>
			<td>159</td>
		</tr>
		<tr>
			<th>Вращение шнека, об./мин.</th>
			<td>215</td>
			<td>190</td>
			<td>180</td>
			<td>220</td>
			<td>195</td>
			<td>185</td>
		</tr>
		<tr>
			<th>Усилие сжатия прессформы, кН</th>
			<td>1600</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Ход перемещения плиты, мм</th>
			<td>370</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Расстояние между колоннами, мм</th>
			<td>710 х 420</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Max толщина прессформы, мм</th>
			<td>460</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Min толщина прессформы, мм</th>
			<td>150</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Ход толкателя, мм</th>
			<td>100</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Максимальное давление насоса, МПа</th>
			<td>16</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность нагрева, кВт</th>
			<td>5,75+5,75</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность привода , кВт</th>
			<td>20</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Размеры станка, м</th>
			<td>5,475 х 1,520 х 1,871</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Масса, тонн</th>
			<td>8,1</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>
	<p>С полным перечнем инжекционно-литьевых машин вы можете ознакомиться на странице нашего каталога <a href="/termoplastavtomaty-kitay">термопластавтоматы
		из Китая</a>.
	</p>
	<p>За полным описанием и консультацией по вопросам приобретения термопластавтомата YJFS1600, <a href="/contacts">обращайтесь
		к нам</a>. Если вам не удалось найти на страницах каталога подходящую инжекционно-литьевой автомат, подробно
		заполните заявку на странице <a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск производителя в Китае</a>. Мы обязательно подберем Вам поможем с
		поиском.
	</p>
	<p>Осуществляем поставку под ключ <a href="/about-us">импорт товаров из Китая</a> для компаний и частных лиц.</p>
{% endblock %}