{% extends 'layout/product_layout.html' %}
{% block title %}Мини термопластавтомат YJK1200{% endblock %}
{% block keywords %}мини, термопластавтомат, YJK1200, технические, характеристики, прессформа{% endblock %}
{% block description %}Заказать мини термопластавтомат YJK1200{% endblock %}
{% block h1 %}Мини термопластавтомат YJK1200{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/top/YJK1200_top.jpg" width="530" height="278" border="0" alt="термопластавтомат серии YJK1200"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/top/YJK1200_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJK1200"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><img src="/public/img/tpa_full/text/tpa-yjk1200.jpg" alt="термопластавтомат серии YJK1200"></p>
	<p><strong>Термопластавтомат серии YJK1200</strong> так же является небольшой машиной в своём классе. Однако
		технические характеристики позволяют YJK1200 производить уже более крупные заготовки и детали из пластмассы и её
		производных. Основное назначение YJK1200 - производство небольших деталей, например, корпуса ручек и карандашей,
		средних и больших кнопок, мебельных ручек и других изделий подобного объема. Автомат программируется по
		средствам ввода программы с ЖК дисплея. YJK1200 имеет отличные показатели энергосбережения и компактную
		конструкцию. Циклы производства управляются контроллером PLC. Термопластавтомат серии YJK1200 оборудован
		датчиками контроля температуры, что обеспечивает возможность продолжительной эксплуатации.
	</p>
	<h2>Технические характеристики термопластавтомата YJK1200</h2>
	<p><img src="/public/img/tpa_full/text/tpa-pressforma-yjk1200.jpg" alt="прессформа термопластавтомата YJK1200"></p>

	<body>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>YJK1200</th>
			<th></th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Система впрыска</th>
			<td>I</td>
			<td>II</td>
			<td>III</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм</th>
			<td>40</td>
			<td>42</td>
			<td>45</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>21,8</td>
			<td>20,7</td>
			<td>19,3</td>
		</tr>
		<tr>
			<td>Теоретический объем впрыска (инжекторная емкость), см3</td>
			<td>200</td>
			<td>220</td>
			<td>280</td>
		</tr>
		<tr>
			<th>Фактическая масса впрыска (инжекторный вес), г</th>
			<td>183</td>
			<td>201</td>
			<td>258</td>
		</tr>
		<tr>
			<th>Скорость впрыска (инжексации), г/сек</th>
			<td>106</td>
			<td>110</td>
			<td>121</td>
		</tr>
		<tr>
			<th>Скорость пластикации, г/сек</th>
			<td>15</td>
			<td>16</td>
			<td>19</td>
		</tr>
		<tr>
			<th>Давление впрыска, МПа</th>
			<td>180</td>
			<td>163</td>
			<td>142</td>
		</tr>
		<tr>
			<th>Вращение шнека, об./мин.</th>
			<td>200</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Усилие сжатия прессформы, кН</th>
			<td>1200</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Ход перемещения плиты, мм</th>
			<td>370</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Расстояние между колоннами, мм</th>
			<td>400 х 400</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Max толщина прессформы, мм</th>
			<td>430</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Min толщина прессформы, мм</td>
			<td>150</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Ход толкателя, мм</th>
			<td>138</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Максимальное давление насоса, МПа</th>
			<td>16</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность нагрева, кВт</th>
			<td>7</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность привода , кВт</th>
			<td>11</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Размеры станка, м</th>
			<td>4,93 х 1,22 х 1,85</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Масса, тонн</th>
			<td>4,3</td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>
	</body>
	<p>Для заказа YJK1200 свяжитесь с нами или заполните <a href="/contacts">форму заявки</a>.</p>
	<p>Ознакомиться со всей серией <a href="/termoplastavtomaty-kitay">термопластавтоматов из Китая</a> вы можете по
		ссылке слева.
	</p>
	<p>Поставка под ключ оборудования, мини заводов и <a href="/proizvodstvennye-linii-iz-kitaya">производственных линий
		из Китая</a> осуществляется нашей компанией ООО Берег.
	</p>
{% endblock %}