{% extends 'layout/product_layout.html' %}
{% block title %}Термопластавтомат YJK2000{% endblock %}
{% block keywords %}термопластавтомат, YJK2000, технические, характеристики, прессформа{% endblock %}
{% block description %}Заказать термопластавтомат YJK2000{% endblock %}
{% block h1 %}Термопластавтомат YJK2000{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/top/YJK2000_top.jpg" width="530" height="278" border="0" alt="термопластавтомат серии YJK2000"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/top/YJK2000_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJK2000"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><img src="/public/img/tpa_full/text/tpa-yjk2000.jpg" alt="термопластавтомат серии YJK2000"></p>
	<p><strong>Термопластавтомат серии YJK2000</strong> инжекционно-литьевая машина для производства изделий из
		полимеров. Технические характеристики позволяют YJK2000 изготавливать более крупные заготовки и детали из
		пластмассы, по сравнению со своими предшественниками. Основное назначение YJK2000 - производство деталей средних
		размеров, например, брелки, большие кнопки, корпуса средних размеров, крышки и т.д. Оптимальное соотношение
		длины шнека к диаметру и высокая скорость пластификации значительно повышают производительность автомата. В
		термопластавтомат серии YJK2000 встроены датчики контроля температур, что обеспечивает безопасность и
		продолжительную работу.
	</p>
	<h2>Характеристики термопластавтомата YJK2000</h2>
	<p><img src="/public/img/tpa_full/text/tpa-pressforma-yjk2000.jpg" alt="прессформа термопластавтомата YJK2000"></p>

	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>YJK2000</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Система впрыска</th>
			<td>I</td>
			<td>II</td>
			<td>III</td>
			<td>IV</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм</th>
			<td>39</td>
			<td>41</td>
			<td>43</td>
			<td>36</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>22,4</td>
			<td>21</td>
			<td>20</td>
			<td>25,8</td>
		</tr>
		<tr>
			<td>Теоретический объем впрыска(инжекторная емкость), см3</td>
			<td>160</td>
			<td>200</td>
			<td>250</td>
			<td>125</td>
		</tr>
		<tr>
			<th>Фактическая масса впрыска(инжекторный вес), г</th>
			<td>147</td>
			<td>185</td>
			<td>231</td>
			<td>115</td>
		</tr>
		<tr>
			<th>Скорость впрыска(инжексации), г/сек</th>
			<td>98</td>
			<td>106</td>
			<td>120</td>
			<td>86</td>
		</tr>
		<tr>
			<th>Скорость пластикации, г/сек</th>
			<td>13,7</td>
			<td>16,1</td>
			<td>17,8</td>
			<td>13,5</td>
		</tr>
		<tr>
			<th>Давление впрыска, МПа</th>
			<td>185</td>
			<td>168</td>
			<td>152</td>
			<td>218</td>
		</tr>
		<tr>
			<th>Вращение шнека, об./мин.</th>
			<td>180</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Усилие сжатия прессформы, кН</th>
			<td>1500</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Ходперемещенияплиты,мм</th>
			<td>380</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Расстояние между колоннами,мм</th>
			<td>430х390</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Max толщина прессформы, мм</th>
			<td>410</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Min толщина прессформы,мм</td>
			<td>130</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Ход толкателя, мм</th>
			<td>138</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Максимальное давление насоса,МПа</th>
			<td>15</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Мощность нагрева, кВт</th>
			<td>7,55</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Мощностьпривода, кВт</th>
			<td>15</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Размеры станка, м</th>
			<td>4,56 х 1,33 х 1,91</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>Масса, тонн</th>
			<td>4,2</td>
		</tr>
		</tbody>
	</table>

	<p>Ознакомиться со всей серией <a href="/termoplastavtomaty-kitay">термопластавтоматов из Китая</a> вы можете по
		ссылкеслева.
	</p>
	<p>Для покупки YJK2000 свяжитесь с нами или заполните <a href="/contacts">форму заявки</a>. Если вы не нашли
		подходящего термопластавтомата на нашем портале, напишите нам, мы максимально быстро осуществим
		<a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск производителей в Китае</a> и предоставим варианты
		автоматов на выбор.
	</p>
	<p>Покупка, оформление, растаможка и поставка оборудования, производственных линий и
		<a href="/mini-zavody-iz-kitaya">мини заводов из Китая</a> реализуется компанией ООО Берег по контракту.
	</p>
{% endblock %}