{% extends 'layout/product_layout.html' %}
{% block title %}Купить термопластавтомат YJK2500{% endblock %}
{% block keywords %} Термопластавтомат, купить, YJK2500, технические, характеристики, прессформа{% endblock %}
{% block description %}На сайте компании «Берег» вы можете оформить заявку и купить термопластавтомат YJK2500 из Китая{% endblock %}
{% block h1 %}Термопластавтомат YJK2500{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/top/YJK2500_top.jpg" width="530" height="278" border="0" alt="термопластавтомат серии YJK2500"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/top/YJK2500_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJK2500"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><img src="/public/img/tpa_full/text/tpa-yjk2500.jpg" alt="tpa-yjk2500"></p>
	<p><strong>Термопластавтомат серии YJK2500</strong> инжекционно-литьевой станок для изготовления заготовок из
		полимеров. Основное назначение YJK2500 - производство деталей, корпусов и других изделий из пластмассы. Размеры
		прессформы (см. изображение) позволяют один цикл производить несколько деталей, что, безусловно, положительно
		сказывается на скорости изготовления партии. Компьютерный интерфейс управления термопластавтомата серии YJK2500
		позволяет задавать разнообразные параметры работы машины. В процессе работы оператор видит отображение на экране
		заданных и фактических параметров. Преимущества YJK2500 - экономия энергии и пониженный уровнь шума.
	</p><h2>Характеристики термопластавтомата YJK2500</h2>
	<p><img src="/public/img/tpa_full/text/tpa-pressforma-yjk2500.jpg" alt="tpa-pressforma-yjk2500"></p>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>YJK2500</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Система впрыска</th>
			<td>I</td>
			<td>II</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм</th>
			<td>55</td>
			<td>60</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>21,8</td>
			<td>20</td>
		</tr>
		<tr>
			<th>Теоретический объем впрыска (инжекторная емкость), см3</th>
			<td>500</td>
			<td>630</td>
		</tr>
		<tr>
			<th>Фактическая масса впрыска (инжекторный вес), г</th>
			<td>457</td>
			<td>576</td>
		</tr>
		<tr>
			<th>Скорость впрыска (инжексации), г/сек</th>
			<td>185</td>
			<td>227</td>
		</tr>
		<tr>
			<th>Скорость пластикации, г/сек</th>
			<td>30</td>
			<td>36</td>
		</tr>
		<tr>
			<th>Давление впрыска, МПа</th>
			<td>167</td>
			<td>140</td>
		</tr>
		<tr>
			<th>Вращение шнека, об./мин.</th>
			<td>150</td>
			<td></td>
		</tr>
		<tr>
			<th>Усилие сжатия прессформы, кН</th>
			<td>2500</td>
			<td></td>
		</tr>
		<tr>
			<th>Ход перемещения плиты, мм</th>
			<td>560</td>
			<td></td>
		</tr>
		<tr>
			<th>Расстояние между колоннами, мм</th>
			<td>580 х 580</td>
			<td></td>
		</tr>
		<tr>
			<th>Max толщина прессформы, мм</th>
			<td>580</td>
			<td></td>
		</tr>
		<tr>
			<th>Min толщина прессформы, мм</th>
			<td>220</td>
			<td></td>
		</tr>
		<tr>
			<th>Ход толкателя, мм</th>
			<td>138</td>
			<td></td>
		</tr>
		<tr>
			<th>Максимальное давление насоса, МПа</th>
			<td>14,5</td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность нагрева, кВт</th>
			<td>13,25</td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность привода , кВт</th>
			<td>22,5</td>
			<td></td>
		</tr>
		<tr>
			<th>Размеры станка, м</th>
			<td>6,1 х 1,5 х 2,14</td>
			<td></td>
		</tr>
		<tr>
			<th>Масса, тонн</th>
			<td>8,6</td>
			<td></td>
		</tr>
		</tbody>
	</table>
	<p>Вся серия <a href="/termoplastavtomaty-kitay">термопластавтоматов из Китая</a> представлена по ссылке.</p>
	<p>Сделать заявку и купить термопласт YJK2500 вы можете связавшись с нами или заполнив <a href="/contacts">форму заказа</a>.
		Если вам не удалось подобрать термопластавтомат с искомыми характеристиками, напишите нам, мы максимально быстро
		осуществим <a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск производителей по Китаю</a> и предоставим возможные варианты на выбор.
	</p>
	<p>Покупка и поставка под ключ оборудования, мини заводов и <a href="/proizvodstvennye-linii-iz-kitaya">производственных линий из Китая</a>
		производится нашей компанией по договору.
	</p>
{% endblock %}