{% extends 'layout/product_layout.html' %}
{% block title %}Купить термопластавтомат YJK2200{% endblock %}
{% block keywords %}Термопластавтомат, купить, YJK2200, технические, характеристики, прессформа{% endblock %}
{% block description %}На сайте компании «Берег» вы можете оформить заявку и купить термопластавтомат YJK2200 из
	Китая{% endblock %}
{% block h1 %}Термопластавтомат YJK2200{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/top/YJK2200_top.jpg" width="530" height="278" border="0" alt="термопластавтомат серии YJK2200"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/top/YJK2200_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJK2200"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><img src="/public/img/tpa_full/text/tpa-yjk2200.jpg" alt="tpa"></p>
	<p><strong>Термопластавтомат серии YJK2200</strong> инжекционно-литьевой автомат для производства деталей из
		пластмасс и её производных. Технические характеристики позволяют YJK2200 серийно изготавливать заготовки и
		детали из пластмассы средних размеров. Термопластавтомат серии YJK2200 полностью соответствует всем современным
		требованиям к автоматам по производству пластиковых изделий. Вся серия YJK идеально подходят для производства
		изделий из российского сырья. Блок управления YJK2200 основан на ультрасовременной микропроцессорной системе.
		Панель ввода программы удобно размещена и полностью защищена от попадания пыли.
	</p><h2> Характеристики термопластавтомата YJK2200</h2>
	<p><img src="/public/img/tpa_full/text/tpa-pressforma-yjk2200.jpg" alt="tpa"></p>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>YJK2200</th>
			<th></th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Система впрыска</th>
			<td>I</td>
			<td>II</td>
			<td>III</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм</th>
			<td>48</td>
			<td>52</td>
			<td>55</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>21</td>
			<td>19,5</td>
			<td>18,5</td>
		</tr>
		<tr>
			<th>Теоретический объем впрыска (инжекторная емкость), см3</th>
			<td>400</td>
			<td>470</td>
			<td>550</td>
		</tr>
		<tr>
			<th>Фактическая масса впрыска (инжекторный вес), г</th>
			<td>376</td>
			<td>438</td>
			<td>510</td>
		</tr>
		<tr>
			<th>Скорость впрыска (инжексации), г/сек</th>
			<td>158</td>
			<td>183</td>
			<td>198</td>
		</tr>
		<tr>
			<th>Скорость пластикации, г/сек</th>
			<td>25</td>
			<td>27</td>
			<td>30</td>
		</tr>
		<tr>
			<th>Давление впрыска, МПа</th>
			<td>189</td>
			<td>161</td>
			<td>144</td>
		</tr>
		<tr>
			<th>Вращение шнека, об./мин.</th>
			<td>180</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Усилие сжатия прессформы, кН</th>
			<td>2200</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Ход перемещения плиты, мм</th>
			<td>500</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Расстояние между колоннами, мм</th>
			<td>520 х 520</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Max толщина прессформы, мм</th>
			<td>530</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Min толщина прессформы, мм</th>
			<td>200</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Ход толкателя, мм</th>
			<td>138</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Максимальное давление насоса, МПа</th>
			<td>16</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность нагрева, кВт</th>
			<td>13,2</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность привода , кВт</th>
			<td>18,5</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Размеры станка, м</th>
			<td>5,88 х 1,43 х 2,03</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Масса, тонн</th>
			<td>7</td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>
	<p>Вся серия <a href="/termoplastavtomaty-kitay">термопластавтоматов из Китая</a> представлена по ссылке.</p>
	<p>Купить термопласт YJK2200 вы можете связавшись с нами или заполнив <a href="/contacts">форму заказа</a>. Если вы не нашли
		термопластавтомата с подходящими характеристиками, напишите нам, мы максимально быстро осуществим <a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск
			производителей в Китае</a> и предоставим варианты машин на выбор.
	</p>
	<p>Покупка и поставка под ключ оборудования, мини заводов и <a href="/proizvodstvennye-linii-iz-kitaya">производственных линий из Китая</a>
		реализуется компанией ООО Берег по контракту.
	</p>
{% endblock %}