{% extends 'layout/product_layout.html' %}
{% block title %}Термопластавтомат YJT13000 – изготовление изделий из пластмассы{% endblock %}

{% block keywords %}Термопластавтомат, YJT13000,изготовление, изделие, пластмасса, детали, машина, технические,
	характеристики, прессформа.{% endblock %}

{% block description %}Термопластавтомат YJT13000 – изготовление изделий из пластмассы{% endblock %}

{% block h1 %}Термопластавтомат YJT13000 - изготовление изделий из пластмассы{% endblock %}

{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/top/YJT13000_top.jpg" width="530" height="278" border="0" alt="термопластавтомат серии YJT13000"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/top/YJT13000_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJT13000"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p>
		<img src="/public/img/tpa_full/text/tpa-yjt13000.jpg" alt="tpa-yjt13000" title="Термопластавтомат YJT13000 – изготовление изделий из пластмассы">
	</p>
	<p><strong>Термопластавтомат серии YJT13000</strong> – вершина технического развития Китая, автомат для массового
		изготовления больших изделий из пластмассы. Машина YJT13000 разработана для изготовления заготовок и деталей
		массой до 7,2 кг. Термопластавтомат серии YJT13000 оснащен функцией автоматического управления усилием, скоростю
		и массой впрыска. Линейный преобразователь смещения точно контролирует впрыск. Функция полной самодиагностики,
		датчики контроля давления, температур, электрики, механики значительно увеличили надежность и эксплуатационные
		характеристики YJT13000.
	</p><h2>Прессформа и характеристики термопластавтомата YJT13000</h2>
	<p>
		<img src="/public/img/tpa_full/text/tpa-pressforma-yjt13000.jpg" alt="tpa-pressforma-yjt13000" title="Прессформа YJT13000">
	</p>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>YJT13000</th>
			<th></th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Система впрыска</th>
			<td>I</td>
			<td>II</td>
			<td>III</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм</th>
			<td>110</td>
			<td>120</td>
			<td>130</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>23.8</td>
			<td>22</td>
			<td>20.2</td>
		</tr>
		<tr>
			<th>Теоретический объем впрыска (инжекторная емкость), см3</th>
			<td>4600</td>
			<td>6300</td>
			<td>7800</td>
		</tr>
		<tr>
			<th>Фактическая масса впрыска (инжекторный вес), г</th>
			<td>4200</td>
			<td>5755</td>
			<td>7200</td>
		</tr>
		<tr>
			<th>Скорость впрыска (инжексации), г/сек</th>
			<td>803</td>
			<td>952</td>
			<td>1120</td>
		</tr>
		<tr>
			<th>Скорость пластикации, г/сек</th>
			<td>102</td>
			<td>124</td>
			<td>145</td>
		</tr>
		<tr>
			<th>Давление впрыска, МПа</th>
			<td>204</td>
			<td>172</td>
			<td>146</td>
		</tr>
		<tr>
			<th>Вращение шнека, об./мин.</th>
			<td>100</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Усилие сжатия прессформы, кН</th>
			<td>13000</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Ход перемещения плиты, мм</th>
			<td>1360</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Расстояние между колоннами, мм</th>
			<td>1360 х 1360</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Max толщина прессформы, мм</th>
			<td>1360</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Min толщина прессформы, мм</th>
			<td>500</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Ход толкателя, мм</th>
			<td>360</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Максимальное давление насоса, МПа</th>
			<td>16</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность нагрева, кВт</th>
			<td>65,7</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность привода , кВт</th>
			<td>65+65</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Размеры станка, м</th>
			<td>13,52 х 2,88 х 4,13</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Масса, тонн</th>
			<td>78</td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>
	<p>С полным перечнем оборудования для <em>изготовления изделий из пластмассы</em> вы можете ознакомиться на странице
		<a href="/termoplastavtomaty-kitay">термопластавтоматы из Китая</a>.
	</p>
	<p>Для получения полного описания и консультации по вопросам приобретения термопластавтомат YJT13000,
		<a href="/contacts">свяжитесь с нами</a>. Если вы не нашли на нашем ресурсе подходящую машину для изготовления
		изделий из пластмассы, детально заполните заявку на странице <a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск
			производителя в Китае</a>. Мы обязательно подберем для вашего производства подходящее оборудование.
	</p>
	<p>Осуществляем комплексный <a href="/about-us">импорт оборудования из Китая</a> для российских компаний и
		производств.
	</p>
{% endblock %}