{% extends 'layout/product_layout.html' %}
{% block title %}Термопластавтомат YJT3880 - производство средних и крупных изделий из пластмассы{% endblock %}
{% block keywords %}Купить, термопластавтомат, YJT3880, технические, характеристики, прессформа,
	производство, изделие, деталь, пластмасса{% endblock %}
{% block description %}Термопластавтомат YJT3880 позволяет производить средние и крупные изделия из
	пластмассы{% endblock %}
{% block h1 %}Термопластавтомат YJT3880{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/top/YJT3880_top.jpg" width="530" height="278" border="0" alt="термопластавтомат серии YJT3880"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/top/YJT3880_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJT3880"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><img src="/public/img/tpa_full/text/tpa-yjt3880.jpg" alt="tpa-yjt3880"></p>
	<p><strong>Термопластавтомат серии YJT3880</strong> – автомат для производства средних и крупных изделий из
		пластмассы методом литья. YJT3880<strong> </strong>разработан с использованием передовым технологиий. Данная
		машина отличается производительностью и экономией при энергозатратах. Оптимальный вариант для крупносерийного и
		массового производства высокоточных изделий из пластика. Оснащен двухцилиндровым впрыском балансировочного типа
		и регулировкой противодавления и противопотока. Встроенные функции автоматической смазки в сочетании с датчиками
		контроля скорости значительно увеличили срок эксплуатации YJT3880. Для управления автоматизацией процесса
		используется импортный компьютер.
	</p>
	<h2>Технические характеристики термопластавтомата YJT3880</h2>
	<img src="/public/img/tpa_full/text/tpa-pressforma-yjt3880.jpg" alt="tpa-pressforma-yjt3880">
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>YJT3880</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Система впрыска</th>
			<td>I</td>
			<td>II</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм</th>
			<td>70</td>
			<td>75</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>22</td>
			<td>20,5</td>
		</tr>
		<tr>
			<th>Теоретический объем впрыска (инжекторная емкость), см3</th>
			<td>1250</td>
			<td>1435</td>
		</tr>
		<tr>
			<th>Фактическая масса впрыска (инжекторный вес), г</th>
			<td>1146</td>
			<td>1315</td>
		</tr>
		<tr>
			<th>Скорость впрыска (инжексации), г/сек</th>
			<td>372</td>
			<td>405</td>
		</tr>
		<tr>
			<th>Скорость пластикации, г/сек</th>
			<td>46</td>
			<td>50</td>
		</tr>
		<tr>
			<th>Давление впрыска, МПа</th>
			<td>163</td>
			<td>142</td>
		</tr>
		<tr>
			<th>Вращение шнека, об./мин.</th>
			<td>150</td>
			<td></td>
		</tr>
		<tr>
			<th>Усилие сжатия прессформы, кН</th>
			<td>3880</td>
			<td></td>
		</tr>
		<tr>
			<th>Ход перемещения плиты, мм</th>
			<td>720</td>
			<td></td>
		</tr>
		<tr>
			<th>Расстояние между колоннами, мм</th>
			<td>720 х 720</td>
			<td></td>
		</tr>
		<tr>
			<th>Max толщина прессформы, мм</th>
			<td>720</td>
			<td></td>
		</tr>
		<tr>
			<th>Min толщина прессформы, мм</th>
			<td>250</td>
			<td></td>
		</tr>
		<tr>
			<th>Ход толкателя, мм</th>
			<td>160</td>
			<td></td>
		</tr>
		<tr>
			<th>Максимальное давление насоса, МПа</th>
			<td>16</td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность нагрева, кВт</th>
			<td>24,6</td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность привода , кВт</th>
			<td>37</td>
			<td></td>
		</tr>
		<tr>
			<th>Размеры станка, м</th>
			<td>7,92 х 1,89 х 2,35</td>
			<td></td>
		</tr>
		<tr>
			<th>Масса, тонн</th>
			<td>18</td>
			<td></td>
		</tr>
		</tbody>
	</table>
	<p>Вся серия машин представлена по ссылке <a href="/termoplastavtomaty-kitay">термопластавтоматы из Китая</a>.</p>
	<p><em>Купить термопластавтомат YJT3880</em> вы можете связавшись с нами или заполнив <a href="/contacts">форму заявки</a>.
		Если вы не нашли на нашем портале искомого оборудования, напишите нам, мы в кратчайшие сроки проведем
		<a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск производителей по Китаю</a> и предоставим оптимальные
		варианты.
	</p>
	<p>Комплексная покупка, поставка и растаможка оборудования, производственных линий и <a href="/">станков из Китая</a>
		от компании «Берег».
	</p>

{% endblock %}