{% extends 'layout/product_layout.html' %}
{% block title %}Купить термопластавтомат YJT3580{% endblock %}
{% block keywords %} Термопластавтомат, купить, YJT3580, технические, характеристики, прессформа{% endblock %}
{% block description %}На сайте компании «Берег» вы можете оформить заявку и купить термопластавтомат YJT3580 из
	Китая{% endblock %}
{% block h1 %}Термопластавтомат YJT3580{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/top/YJT3580_top.jpg" width="530" height="278" border="0" alt="термопластавтомат серии YJT3580"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/top/YJT3580_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJT3580"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><img src="/public/img/tpa_full/text/tpa-yjt3580.jpg" alt="tpa-yjt3580"></p>
	<p><strong>Термопластавтомат серии YJT3580</strong> позволяет изготавливать средние и крупные изделия из пластмассы
		и её производных. Заданные производителем технические характеристики позволяют YJT3580 изготавливать более
		крупные изделия по сравнению с серией YJK. Основное назначение YJT3580 – производство корпусов ПК, музыкальных
		центров, калькуляторов, стационарных телефонов, офисной техники, пластиковой посуды крупных размеров и т.д.
		Термопластавтомат серии YJT3580 имеет значительный объём впрыска до, что позволяет производить изделия массой до
		900 грамм. Первый в классе YJT. Так же отлично подходит для производства небольших изделий. Контроллер PLC
		YJT3580, программируемый по средствам Ж/К-дисплэя, делает управление простым и понятным.
	</p><h2>Технические характеристики термопластавтомата YJT3580</h2>
	<p><img src="/public/img/tpa_full/text/tpa-pressforma-yjt3580.jpg" alt="tpa-pressforma-yjt3580"></p>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>YJT3580</th>
			<th></th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Система впрыска</th>
			<td>I</td>
			<td>II</td>
			<td>III</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм</th>
			<td>60</td>
			<td>65</td>
			<td>72</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>25,2</td>
			<td>23,2</td>
			<td>21</td>
		</tr>
		<tr>
			<th>Теоретический объем впрыска (инжекторная емкость), см3</th>
			<td>630</td>
			<td>800</td>
			<td>1000</td>
		</tr>
		<tr>
			<th>Фактическая масса впрыска (инжекторный вес), г</th>
			<td>579</td>
			<td>736</td>
			<td>920</td>
		</tr>
		<tr>
			<th>Скорость впрыска (инжексации), г/сек</th>
			<td>223</td>
			<td>266</td>
			<td>320</td>
		</tr>
		<tr>
			<th>Скорость пластикации, г/сек</th>
			<td>31</td>
			<td>37</td>
			<td>42</td>
		</tr>
		<tr>
			<th>Давление впрыска, МПа</th>
			<td>219</td>
			<td>186</td>
			<td>152</td>
		</tr>
		<tr>
			<th>Вращение шнека, об./мин.</th>
			<td>150</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Усилие сжатия прессформы, кН</th>
			<td>3580</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Ход перемещения плиты, мм</th>
			<td>650</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Расстояние между колоннами, мм</th>
			<td>650 х 650</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Max толщина прессформы, мм</th>
			<td>650</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Min толщина прессформы, мм</th>
			<td>250</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Ход толкателя, мм</th>
			<td>160</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Максимальное давление насоса, МПа</th>
			<td>16</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность нагрева, кВт</th>
			<td>23</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность привода , кВт</th>
			<td>30</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Размеры станка, м</th>
			<td>7,37 х 1,79 х 2,24</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Масса, тонн</th>
			<td>15</td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>
	<p>Вся серия машин представлена по ссылке <a href="/termoplastavtomaty-kitay">термопластавтоматы из Китая</a>.</p>
	<p><em>Купить термопластавтомат YJT3580</em> вы можете связавшись с нами или заполнив <a href="/contacts">форму
		заявки</a>. Если вам не удалось подобрать термопластавтомат с искомыми характеристиками, напишите нам, мы
		максимально быстро осуществим <a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск производителей по
			Китаю</a> и предоставим возможные варианты на выбор.
	</p>
	<p>Комплексная поставка и растаможка оборудования, производственных линий и <a href="/mini-zavody-iz-kitaya">мини
		заводов из Китая</a> от компании «Берег».
	</p>
{% endblock %}