{% extends 'layout/product_layout.html' %}
{% block title %}Термопластавтомат YJT5080 - производство изделий из пластмассы{% endblock %}
{% block keywords %}Купить, термопластавтомат, YJT5080, технические, характеристики, прессформа,
	производство, изделие, деталь, пластмасса{% endblock %}
{% block description %}Термопластавтомат YJT5080 позволяет производить средние и крупные изделия из
	пластмассы{% endblock %}
{% block h1 %}Производство изделий из пластмассы по средствам термопластавтомата
	YJT5080{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/top/YJT5080_top.jpg" width="530" height="278" border="0" alt="термопластавтомат серии YJT5080"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/top/YJT5080_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJT5080"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><img src="/public/img/tpa_full/text/tpa-yjt5080.jpg" alt="tpa-yjt5080"></p>
	<p><strong>Термопластавтомат серии YJT5080</strong> – автомат для производства крупных изделий из пластмассы с
		большим объемом впрыска. Вес заготовок производимых на данном оборудовании может достигать 2кг. Это могут быть
		пластиковые стулья, игрушки, большие корпуса, створки для крупной бытовой техники, корпуса мониторов, подставки
		и т.д. Термопластавтомат серии YJT5080 обладает высокой производительностью, оснащён различными системами
		самодиагностики и безопасности. Встроенные функции автоматической смазки всех трущихся поверхностей в купе с
		датчиками контроля механической, электрической и гидравлической системы многократно увеличили срок службы
		YJT5080. Данный термопластавтомат подходит для крупносерийного и массового производства изделий из пластмассы.
	</p><h2>Технические характеристики термопластавтомата YJT5080</h2>
	<p><img src="/public/img/tpa_full/text/tpa-pressforma-yjt5080.jpg" alt="tpa-pressforma-yjt5080"></p>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>YJT5080</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Система впрыска</th>
			<td>I</td>
			<td>II</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм</th>
			<td>80</td>
			<td>85</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>22</td>
			<td>20,7</td>
		</tr>
		<tr>
			<th>Теоретический объем впрыска (инжекторная емкость), см3</th>
			<td>1800</td>
			<td>2200</td>
		</tr>
		<tr>
			<th>Фактическая масса впрыска (инжекторный вес), г</th>
			<td>1650</td>
			<td>2030</td>
		</tr>
		<tr>
			<th>Скорость впрыска (инжексации), г/сек</th>
			<td>448</td>
			<td>500</td>
		</tr>
		<tr>
			<th>Скорость пластикации, г/сек</th>
			<td>58</td>
			<td>68</td>
		</tr>
		<tr>
			<th>Давление впрыска, МПа</th>
			<td>158</td>
			<td>140</td>
		</tr>
		<tr>
			<th>Вращение шнека, об./мин.</th>
			<td>130</td>
			<td></td>
		</tr>
		<tr>
			<th>Усилие сжатия прессформы, кН</th>
			<td>5080</td>
			<td></td>
		</tr>
		<tr>
			<th>Ход перемещения плиты, мм</th>
			<td>780</td>
			<td></td>
		</tr>
		<tr>
			<th>Расстояние между колоннами, мм</th>
			<td>780 х 780</td>
			<td></td>
		</tr>
		<tr>
			<th>Max толщина прессформы, мм</th>
			<td>780</td>
			<td></td>
		</tr>
		<tr>
			<th>Min толщина прессформы, мм</th>
			<td>300</td>
			<td></td>
		</tr>
		<tr>
			<th>Ход толкателя, мм</th>
			<td>200</td>
			<td></td>
		</tr>
		<tr>
			<th>Максимальное давление насоса, МПа</th>
			<td>16</td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность нагрева, кВт</th>
			<td>32,8</td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность привода , кВт</th>
			<td>45</td>
			<td></td>
		</tr>
		<tr>
			<th>Размеры станка, м</th>
			<td>8,94 х 1,96 х 2,3</td>
			<td></td>
		</tr>
		<tr>
			<th>Масса, тонн</th>
			<td>22</td>
			<td></td>
		</tr>
		</tbody>
	</table>
	<p>Полный список машин для производства изделий из пластмассы под давлением вы можете найти, перейдя по ссылке
		<a href="/termoplastavtomaty-kitay">термопластавтоматы из Китая</a>.
	</p>
	<p>Купить термопластавтомат YJT5080 вы можете связавшись с нами или заполнив <a href="/contacts">форму заказа</a>. Если вас
		интересует <a href="">станки из Китая</a>, которые Вы не смогли найти на нашем портале, заполните как можно
		детальнее заявку на <a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск производителя в Китае</a>. И в скором времени наш специалист свяжется с
		вами и предоставит оптимальные варианты.
	</p>
	<p>Комплексная покупка, поставка и растаможка мини заводов, производственных линий и <a href="/oborudovanie-iz-kitaia">оборудования из
		Китая</a> от компании «Берег».
	</p>
{% endblock %}