{% extends 'layout/product_layout.html' %}
{% block title %}Термопластавтомат YJT5600 - инжекционно-литьевая машина{% endblock %}
{% block keywords %}Термопластавтомат, YJT5600, инжекционно-литьевая, машина, технические, характеристики,
	прессформа.{% endblock %}
{% block description %}Термопластавтомат YJT5600 - инжекционно-литьевая машина для высокоточного литья
	полимеров под давлением.{% endblock %}
{% block h1 %}инжекционно-литьевая машина термопластавтомата YJT5600{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/top/YJT5600_top.jpg" width="530" height="278" border="0" alt="термопластавтомат серии YJT5600"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/top/YJT5600_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJT5600"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><img src="/public/img/tpa_full/text/tpa-yjt5600.jpg" alt="tpa-yjt5600"></p>
	<p><strong>Термопластавтомат серии YJT5600</strong> – инжекционно-литьевая машина для массового производства больших
		изделий из полимеров и их производных. Машина серии YJT5600 обладает отличной производительностью и оснащёна
		системой самодиагностики. Все рабочие поверхности постоянно смазываются в автоматическом режиме. Оснащение
		ультрасовременным компьютером, датчиками контроля механической, электрической и гидравлической системы
		значительно улучшили эксплуатационные характеристики и безопасность машины. Процесс производства деталей из
		пластмассы полностью автоматизирован. Программа на инжекционно-литьевая машине YJT5600 вводиться по средствам
		ЖК-дисплея.
	</p><h2>Технические характеристики термопластавтомата YJT5600</h2>
	<p><img src="/public/img/tpa_full/text/tpa-pressforma-yjt5600.jpg" alt="tpa-pressforma-yjt5600"></p>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>YJT5600</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Система впрыска</th>
			<td>I</td>
			<td>II</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм</th>
			<td>85</td>
			<td>90</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>22</td>
			<td>20,8</td>
		</tr>
		<tr>
			<th>Теоретический объем впрыска (инжекторная емкость), см3</th>
			<td>2100</td>
			<td>2575</td>
		</tr>
		<tr>
			<th>Фактическая масса впрыска (инжекторный вес), г</th>
			<td>1930</td>
			<td>2380</td>
		</tr>
		<tr>
			<th>Скорость впрыска (инжексации), г/сек</th>
			<td>487</td>
			<td>546</td>
		</tr>
		<tr>
			<th>Скорость пластикации, г/сек</th>
			<td>65</td>
			<td>73</td>
		</tr>
		<tr>
			<th>Давление впрыска, МПа</th>
			<td>159</td>
			<td>142</td>
		</tr>
		<tr>
			<th>Вращение шнека, об./мин.</th>
			<td>120</td>
			<td></td>
		</tr>
		<tr>
			<th>Усилие сжатия прессформы, кН</th>
			<td>5600</td>
			<td></td>
		</tr>
		<tr>
			<th>Ход перемещения плиты, мм</th>
			<td>850</td>
			<td></td>
		</tr>
		<tr>
			<th>Расстояние между колоннами, мм</th>
			<td>850 х 850</td>
			<td></td>
		</tr>
		<tr>
			<th>Max толщина прессформы, мм</th>
			<td>850</td>
			<td></td>
		</tr>
		<tr>
			<th>Min толщина прессформы, мм</th>
			<td>350</td>
			<td></td>
		</tr>
		<tr>
			<th>Ход толкателя, мм</th>
			<td>200</td>
			<td></td>
		</tr>
		<tr>
			<th>Максимальное давление насоса, МПа</th>
			<td>16</td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность нагрева, кВт</th>
			<td>36,8</td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность привода , кВт</th>
			<td>55</td>
			<td></td>
		</tr>
		<tr>
			<th>Размеры станка, м</th>
			<td>9,54 х 2,07 х 2,47</td>
			<td></td>
		</tr>
		<tr>
			<th>Масса, тонн</th>
			<td>28</td>
			<td></td>
		</tr>
		</tbody>
	</table>
	<p>Полный список <em>инжекционно-литьевых машин</em> вы можете найти, перейдя по ссылке <a href="/termoplastavtomaty-kitay">термопластавтоматы
		из Китая</a>.
	</p>
	<p>Компания Берег готова поставить термопластавтомат YJT5600, для этого вам необходимо <a href="/contacts">связаться
		с нами</a>. Если вы не нашли на нашем портале инжекционно-литьевую машину с подходящими характеристиками,
		заполните как можно детальнее заявку на <a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск производителя в
			Китае</a>. И в скором времени наши сотрудники выйдут с вами на связь и предоставят подходящие варианты.
	</p>
	<p>Комплексная поставка и оформление под ключ <a href="/oborudovanie-iz-kitaia">оборудования из Китая</a>, мини
		заводов, станков и производственных линий от компании «Берег».
	</p>
{% endblock %}