{% extends 'layout/product_layout.html' %}
{% block title %}Термопластавтомат YJT6600- литье пластмассы под давлением.{% endblock %}
{% block keywords %}Термопластавтомат, YJT6600, литье, пластмассы, давление, машина, технические,
	характеристики, прессформа.{% endblock %}
{% block description %}Термопластавтомат YJT6600 – машина для литья пластмассы под давлением в прессформы.{% endblock %}
{% block h1 %}Термопластавтомат YJT6600 - литье пластмассы под давление{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/top/YJT6600_top.jpg" width="530" height="278" border="0" alt="термопластавтомат серии YJT6600"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/top/YJT6600_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJT6600"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><img src="/public/img/tpa_full/text/tpa-yjt6600.jpg" alt="tpa-yjt6600"></p>
	<p><strong>Термопластавтомат серии YJT6600</strong> – высокопроизводительная машина для литья пластмассы под
		давлением в прессформы. Автомат серии YJT6600 предназначен для производства крупных изделий из полимеров. Данная
		модель обладает большим объемом впрыска, благодаря чему возможно изготавливать литьем пластмассы под давлением
		изделия весом до 3 кг. Термопластавтомат YJT6600 оптимально сконструирован, а так же полностю соответствует
		мировым требованиям и стандартам качества ISO. Оснащен современной системой управления, программируется по
		средствам ввода программы с ЖК-дисплея
	</p><h2>Прессформа и характеристики термопластавтомата YJT6600</h2>
	<p><img src="/public/img/tpa_full/text/tpa-pressforma-yjt6600.jpg" alt="tpa-pressforma-yjt6600"></p>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>YJT6600</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Система впрыска</th>
			<td>I</td>
			<td>II</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм</th>
			<td>90</td>
			<td>100</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>22,1</td>
			<td>20</td>
		</tr>
		<tr>
			<th>Теоретический объем впрыска (инжекторная емкость), см3</th>
			<td>2600</td>
			<td>3200</td>
		</tr>
		<tr>
			<th>Фактическая масса впрыска (инжекторный вес), г</th>
			<td>2375</td>
			<td>2930</td>
		</tr>
		<tr>
			<th>Скорость впрыска (инжексации), г/сек</th>
			<td>546</td>
			<td>638</td>
		</tr>
		<tr>
			<th>Скорость пластикации, г/сек</th>
			<td>74</td>
			<td>81</td>
		</tr>
		<tr>
			<th>Давление впрыска, МПа</th>
			<td>177</td>
			<td>143</td>
		</tr>
		<tr>
			<th>Вращение шнека, об./мин.</th>
			<td>120</td>
			<td></td>
		</tr>
		<tr>
			<th>Усилие сжатия прессформы, кН</th>
			<td>6600</td>
			<td></td>
		</tr>
		<tr>
			<th>Ход перемещения плиты, мм</th>
			<td>920</td>
			<td></td>
		</tr>
		<tr>
			<th>Расстояние между колоннами, мм</th>
			<td>920 х 920</td>
			<td></td>
		</tr>
		<tr>
			<th>Max толщина прессформы, мм</th>
			<td>920</td>
			<td></td>
		</tr>
		<tr>
			<th>Min толщина прессформы, мм</th>
			<td>400</td>
			<td></td>
		</tr>
		<tr>
			<th>Ход толкателя, мм</th>
			<td>280</td>
			<td></td>
		</tr>
		<tr>
			<th>Максимальное давление насоса, МПа</th>
			<td>16</td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность нагрева, кВт</th>
			<td>41</td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность привода , кВт</th>
			<td>30+30</td>
			<td></td>
		</tr>
		<tr>
			<th>Размеры станка, м</th>
			<td>10,4 х 2,46 х 3,21</td>
			<td></td>
		</tr>
		<tr>
			<th>Масса, тонн</th>
			<td>35</td>
			<td></td>
		</tr>
		</tbody>
	</table>
	<p>Полный список машин для литья пластмассы под давлением вы можете найти на странице <a href="/termoplastavtomaty-kitay">термопластавтоматы
		из Китая</a>.
	</p>
	<p>Компания Берег готова поставить термопластавтомат YJT6600, для этого вам необходимо <a href="/contacts">связаться с
		нами</a>. Если вы не нашли на нашем сайте подходящую машину для литья пластмассы под, заполните максимально
		подробно заявку на <a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск производителя в Китае</a>. Мы обязательно вам поможем.
	</p>
	<p>Поставка, оформление и растаможка под ключ мини заводов, <a href=/proizvodstvennye-linii-iz-kitaya">любых производственных линий из Китая</a> и
		оборудования осуществляется компанией ООО Берег по контракту.
	</p>
{% endblock %}