{% extends 'layout/product_layout.html' %}
{% block title %}Термопластавтомат YJT7500 – изготовление деталей из пластмассы{% endblock %}

{% block keywords %}Термопластавтомат, YJT7500,изготовление, пластмассы, детали, машина, изделия,
	технические, характеристики, прессформа.{% endblock %}

{% block description %}Термопластавтомат YJT7500 – автомат для изготовления деталей из пластмассы{% endblock %}

{% block h1 %}Термопластавтомат YJT7500 - изготовление деталей из пластмассы{% endblock %}

{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/top/YJT7500_top.jpg" width="530" height="278" border="0" alt="термопластавтомат серии YJT7500"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/top/YJT7500_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJT7500"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><img src="/public/img/tpa_full/text/tpa-yjt7500.jpg" alt="tpa"></p>
	<p><strong>Термопластавтомат серии YJT7500</strong> – высокопроизводительный и ультросовременный автомат для
		изготовления крупных деталей из пластмассы. Термопластавтомат YJT7500 предназначен для изготовления заготовок и
		деталей объемом до 4 кг. Процесс производства полностью автоматизирован. Автоматическая регулировка скорости и
		давления впрыска, система контроля точного впрыска позволяет производить невероятно сложные детали. Функция
		самодиагностики, защита от холодного запуска, датчики контроля температур, гидравлики, электрики, механики
		позволили увеличить срок службы и надежность YJT7500
	</p><h2>Прессформа и характеристики термопластавтомата YJT7500</h2>
	<p><img src="/public/img/tpa_full/text/tpa-pressforma-yjt7500.jpg" alt="tpa"></p>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>YJT7500</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Система впрыска</th>
			<td>I</td>
			<td>II</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм</th>
			<td>100</td>
			<td>110</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>22</td>
			<td>20</td>
		</tr>
		<tr>
			<th>Теоретический объем впрыска (инжекторная емкость), см3</th>
			<td>3200</td>
			<td>4191</td>
		</tr>
		<tr>
			<th>Фактическая масса впрыска (инжекторный вес), г</th>
			<td>2956</td>
			<td>3873</td>
		</tr>
		<tr>
			<th>Скорость впрыска (инжексации), г/сек</th>
			<td>660</td>
			<td>799</td>
		</tr>
		<tr>
			<th>Скорость пластикации, г/сек</th>
			<td>88</td>
			<td>100</td>
		</tr>
		<tr>
			<th>Давление впрыска, МПа</th>
			<td>184</td>
			<td>152</td>
		</tr>
		<tr>
			<th>Вращение шнека, об./мин.</th>
			<td>96</td>
			<td></td>
		</tr>
		<tr>
			<th>Усилие сжатия прессформы, кН</th>
			<td>7500</td>
			<td></td>
		</tr>
		<tr>
			<th>Ход перемещения плиты, мм</th>
			<td>1000</td>
			<td></td>
		</tr>
		<tr>
			<th>Расстояние между колоннами, мм</th>
			<td>1000 х 1000</td>
			<td></td>
		</tr>
		<tr>
			<th>Max толщина прессформы, мм</th>
			<td>1000</td>
			<td></td>
		</tr>
		<tr>
			<th>Min толщина прессформы, мм</th>
			<td>400</td>
			<td></td>
		</tr>
		<tr>
			<th>Ход толкателя, мм</th>
			<td>280</td>
			<td></td>
		</tr>
		<tr>
			<th>Максимальное давление насоса, МПа</th>
			<td>16</td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность нагрева, кВт</th>
			<td>45,9</td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность привода , кВт</th>
			<td>37+37</td>
			<td></td>
		</tr>
		<tr>
			<th>Размеры станка, м</th>
			<td>11,02 х 2,6 х 3,22</td>
			<td></td>
		</tr>
		<tr>
			<th>Масса, тонн</th>
			<td>40</td>
			<td></td>
		</tr>
		</tbody>
	</table>
	<p>Полный список автоматов для <em>изготовления деталей из пластмассы</em> вы можете найти на странице
		<a href="/termoplastavtomaty-kitay">термопластавтоматы из Китая</a>.
	</p>
	<p>Компания Берег готова поставить термопластавтомат YJT7500, для этого вам необходимо <a href="/contacts">связаться
		с нами</a>. Если вы не нашли на нашем ресурсе подходящую машину для изготовления деталей из пластмассы,
		корректно заполните заявку на странице <a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск производителя в
			Китае</a>. Мы обязательно найдем оптимальное оборудование для вас.
	</p>
	<p>Поставка, оформление и растаможка под ключ мини заводов, <a href="/">любых станков из Китая</a> и производственных
		линий производится компанией ООО Берег по контракту.
	</p>
{% endblock %}