{% extends 'layout/product_layout.html' %}
{% block title %}Термопластавтомат YJW11000 – изготовление изделий из полимеров{% endblock %}

{% block keywords %}Термопластавтомат, YJW11000,изготовление, изделие, полимер, детали, машина, технические,
	характеристики, прессформа.{% endblock %}

{% block description %}Термопластавтомат YJW11000 – изготовление изделий из полимеров{% endblock %}

{% block h1 %}Термопластавтомат YJW11000 - изготовление изделий из полимеров{% endblock %}

{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/top/YJW11000_top.jpg" width="530" height="278" border="0" alt="термопластавтомат серии YJW11000"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/top/YJW11000_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJW11000"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><img src="/public/img/tpa_full/text/tpa-yjw11000.jpg" alt="tpa-yjw11000"></p>
	<p><strong>Термопластавтомат серии YJW11000</strong> – машина для производства заготовок и детлаей методом литья
		полимеров и её производных. Производительные характеристики позволяют YJW11000 массово изготавливать крупные
		изделия весом до 6 кг. Весь процесс изготовления полностью автоматизирован. Самодиагностика, регулировка
		компьютером скорости и давления впрыска, программа контроля точности впрыска позволяет производить любые детали
		методом литья полимеров под давлением. Термопластавтомат серии YJW11000 оснащен современной компьютерной
		системой, программируется по средствам ввода данных с ЖК-экрана.

	</p><h2>Прессформа и характеристики термопластавтомата YJW11000</h2>
	<p><img src="/public/img/tpa_full/text/tpa-pressforma-yjw11000.jpg" alt="tpa-pressforma-yjw11000"></p>
	<table>
	<thead>
	<tr>
		<th>
			Технические характеристики
		</th>
		<th>
			YJW11000
		</th>
		<th>
			&nbsp;
		</th>
		<th>
			&nbsp;
		</th>
	</tr>
	</thead>
	<tbody>

	<tr>
		<th>
			Система впрыска
		</th>
		<td>
			I
		</td>
		<td>
			II
		</td>
		<td>
			III
		</td>
	</tr>
	<tr>
		<th>
			Диаметр шнека, мм
		</th>
		<td>
			110
		</td>
		<td>
			120
		</td>
		<td>
			130
		</td>
	</tr>
	<tr>
		<th>
			Соотношение длина/диаметр шнека, (L/D)
		</th>
		<td>
			24
		</td>
		<td>
			22
		</td>
		<td>
			20,3
		</td>
	</tr>
	<tr>
		<th>
			Теоретический объем впрыска (инжекторная емкость), см3
		</th>
		<td>
			4000
		</td>
		<td>
			5600
		</td>
		<td>
			6320
		</td>
	</tr>
	<tr>
		<th>
			Фактическая масса впрыска (инжекторный вес), г
		</th>
		<td>
			3780
		</td>
		<td>
			5292
		</td>
		<td>
			5979
		</td>
	</tr>
	<tr>
		<th>
			Скорость впрыска (инжексации), г/сек
		</th>
		<td>
			760
		</td>
		<td>
			904
		</td>
		<td>
			974
		</td>
	</tr>
	<tr>
		<th>
			Скорость пластикации, г/сек
		</th>
		<td>
			98,3
		</td>
		<td>
			122,3
		</td>
		<td>
			149,8
		</td>
	</tr>
	<tr>
		<th>
			Давление впрыска, МПа
		</th>
		<td>
			169
		</td>
		<td>
			142
		</td>
		<td>
			132
		</td>
	</tr>
	<tr>
		<th>
			Вращение шнека, об./мин.
		</th>
		<td>
			80
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Усилие сжатия прессформы, кН
		</th>
		<td>
			11000
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Ход перемещения плиты, мм
		</th>
		<td>
			1220
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Расстояние между колоннами, мм
		</th>
		<td>
			1160 х 1160
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Max толщина прессформы, мм
		</th>
		<td>
			1250
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Min толщина прессформы, мм
		</th>
		<td>
			520
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Ход толкателя, мм
		</th>
		<td>
			330
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Максимальное давление насоса, МПа
		</th>
		<td>
			16
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Мощность нагрева, кВт
		</th>
		<td>
			65,7
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Мощность привода , кВт
		</th>
		<td>
			45+45
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Размеры станка, м
		</th>
		<td>
			12,95 х 2,73 х 4,3
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Масса, тонн
		</th>
		<td>
			62
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<p>С полным перечнем оборудования для <em>литья полимеров</em> вы можете ознакомиться на странице
		<a href="/termoplastavtomaty-kitay">термопластавтоматы из Китая</a>.
	</p>
	<p>За полным описанием и консультацией по вопросам приобретения термопластавтомата YJW11000, <a href="/contacts">обращайтесь
		к нам</a>. Если вы не нашли на страницах каталога подходящий автомат для литья полимеров, подробно заполните
		заявку на странице <a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск производителя в Китае</a>. Мы
		обязательно подберем для вашего производства оптимальное оборудование.
	</p>
	<p>Осуществляем под ключ <a href="/about-us">импорт оборудования из Китая</a> для компаний и частных
		лиц.
	</p>
{% endblock %}