{% extends 'layout/product_layout.html' %}
{% block title %}Термопластавтомат YJW1580 – изготовление изделий из полимеров{% endblock %}

{% block keywords %}Термопластавтомат, YJW1580,изготовление, изделие, полимер, детали, машина, технические,
	характеристики, прессформа.{% endblock %}

{% block description %}Термопластавтомат YJW1580 – изготовление изделий из полимеров{% endblock %}

{% block h1 %}Термопластавтомат YJW1580 - изготовление изделий из полимеров{% endblock %}

{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/top/YJW1580_top.jpg" width="530" height="278" border="0" alt="термопластавтомат серии YJW1580"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/top/YJW1580_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJW1580"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><img src="/public/img/tpa_full/text/tpa-yjw1580.jpg" alt="tpa-yjw1580"></p>
	<p><strong>Термопластавтомат серии YJW1580</strong> – машина для изготовления заготовок и изделий из полимеров.
		Технические характеристики позволяют YJW1580 серийно производить небольшие изделия из полимеров средних
		размеров. Термопластавтомат серии YJW1580 соответствует всем современным требованиям и стандартам ISO для машин
		по производству пластиковых деталей. Вся серия YJW идеально подходят для работы с российским сырьем.
		Программируемое управление по средствам ЖК экрана, основано на современной микропроцессорной системе. Панель
		ввода удобно размещена и защищена от влаги и пыли. YJW1580 идельно подходит для небольших производств.
	</p><h2>Прессформа и характеристики термопластавтомата YJW1580</h2>
	<p><img src="/public/img/tpa_full/text/tpa-pressforma-yjw1580.jpg" alt="tpa-pressforma-yjw1580"></p>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>YJW1580</th>
			<th></th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Система впрыска</th>
			<td>I</td>
			<td>II</td>
			<td>III</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм</th>
			<td>40</td>
			<td>45</td>
			<td>48</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>24,3</td>
			<td>21,6</td>
			<td>20,3</td>
		</tr>
		<tr>
			<th>Теоретический объем впрыска (инжекторная емкость), см3</th>
			<td>180</td>
			<td>300</td>
			<td>370</td>
		</tr>
		<tr>
			<th>Фактическая масса впрыска (инжекторный вес), г</th>
			<td>165</td>
			<td>275</td>
			<td>341</td>
		</tr>
		<tr>
			<th>Скорость впрыска (инжексации), г/сек</th>
			<td>101</td>
			<td>126</td>
			<td>142</td>
		</tr>
		<tr>
			<th>Скорость пластикации, г/сек</th>
			<td>15</td>
			<td>20</td>
			<td>23</td>
		</tr>
		<tr>
			<th>Давление впрыска, МПа</th>
			<td>224</td>
			<td>177</td>
			<td>156</td>
		</tr>
		<tr>
			<th>Вращение шнека, об./мин.</th>
			<td>180</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Усилие сжатия прессформы, кН</th>
			<td>1580</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Ход перемещения плиты, мм</th>
			<td>380</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Расстояние между колоннами, мм</th>
			<td>420 х 420</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Max толщина прессформы, мм</th>
			<td>450</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Min толщина прессформы, мм</th>
			<td>150</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Ход толкателя, мм</th>
			<td>138</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Максимальное давление насоса, МПа</th>
			<td>16</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность нагрева, кВт</th>
			<td>10,5</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Мощность привода , кВт</th>
			<td>15</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Размеры станка, м</th>
			<td>5,20 х 1,35 х 2</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Масса, тонн</th>
			<td>5,2</td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>
	<p>С полным перечнем оборудования для вы можете ознакомиться на странице <a href="/termoplastavtomaty-kitay">термопластавтоматы
		из Китая</a>.
	</p>
	<p>Для получения полного описания и консультации по вопросам покупки и поставки термопластавтомат YJW1580,
		<a href="/contacts">свяжитесь с нами</a>. Если вы не нашли на страницах каталога подходящую машину для
		изготовления изделий из полимеров, подробно заполните заявку на странице
		<a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск производителя в Китае</a>. И в скором времени наши
		специалисты свяжутся с вами и предоставят варианты на выбор.
	</p>
	<p>Реализуем проекты комплексного <a href="/about-us">импорта оборудования из Китая</a> под ключ.</p>
{% endblock %}