{% extends 'layout/product_layout.html' %}
{% block title %}Термопластавтомат YJW16000 – производство крупных изделий из полимеров{% endblock %}

{% block keywords %}Термопластавтомат, YJW16000, полимер, производство, машина, изделие, крупных, технические,
	характеристики.{% endblock %}

{% block description %}Термопластавтомат YJW16000 – автомат для производства крупных изделий из полимеров.{% endblock %}

{% block h1 %}Термопластавтомат YJW16000 – производство крупных изделий из полимеров{% endblock %}

{% block top_images %}
	<li class="active">
		<img src="/public/img/tpa_full/top/YJW16000_top.jpg" width="530" height="278" border="0" alt="термопластавтомат серии YJW16000"/>
	</li>
	<li>
		<img src="/public/img/tpa_full/top/YJW16000_pressform_top.jpg" width="530" height="278" border="0" alt="прессформа термопластавтомата YJW16000"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p>
		<img src="/public/img/tpa_full/text/tpa-yjw16000.jpg" alt="tpa-yjw16000" title="Термопластавтомат YJW16000 – производство крупных изделий из полимеров">
	</p>
	<p><strong>Термопластавтомат серии YJW16000</strong> – автомат для производства крупных изделий из полимеров,
		гордость компании Yongjiang Group. Машина YJW16000 разработана для производства методом литья под давлением
		крупногабаритных изделий из полимеров и её производных. Масса выпускаемой продукции до 10.5 кг. Обладает
		впечатлительными возможностями и функционалом. Самодиагностика, датчики защиты и блокировки, полный контроль
		всего процесса производства, делает термопластавтомат YJW16000 незаменимым помощником на крупного производстве.

	</p>
	<h2>Прессформа и характеристики термопластавтомата YJW16000</h2>
	<p>
		<img src="/public/img/tpa_full/text/tpa-pressforma-yjw16000.jpg" alt="tpa-pressforma-yjw16000" title="Прессформа YJW16000">
	</p>
	<table>
	<thead>
	<tr>
		<th>
			Технические характеристики
		</th>
		<th>
			YJW16000
		</th>
		<th>
			&nbsp;
		</th>
		<th>
			&nbsp;
		</th>
	</tr>
	</thead>
	<tbody>

	<tr>
		<th>
			Система впрыска
		</th>
		<td>
			I
		</td>
		<td>
			II
		</td>
		<td>
			III
		</td>
	</tr>
	<tr>
		<th>
			Диаметр шнека, мм
		</th>
		<td>
			130
		</td>
		<td>
			140
		</td>
		<td>
			150
		</td>
	</tr>
	<tr>
		<th>
			Соотношение длина/диаметр шнека, (L/D)
		</th>
		<td>
			23,7
		</td>
		<td>
			22
		</td>
		<td>
			20,5
		</td>
	</tr>
	<tr>
		<th>
			Теоретический объем впрыска (инжекторная емкость), см3
		</th>
		<td>
			8000
		</td>
		<td>
			9500
		</td>
		<td>
			11000
		</td>
	</tr>
	<tr>
		<th>
			Фактическая масса впрыска (инжекторный вес), г
		</th>
		<td>
			7560
		</td>
		<td>
			8978
		</td>
		<td>
			10395
		</td>
	</tr>
	<tr>
		<th>
			Скорость впрыска (инжексации), г/сек
		</th>
		<td>
			1107
		</td>
		<td>
			1284
		</td>
		<td>
			1474
		</td>
	</tr>
	<tr>
		<th>
			Скорость пластикации, г/сек
		</th>
		<td>
			149,8
		</td>
		<td>
			173,8
		</td>
		<td>
			199
		</td>
	</tr>
	<tr>
		<th>
			Давление впрыска, МПа
		</th>
		<td>
			174
		</td>
		<td>
			150
		</td>
		<td>
			131
		</td>
	</tr>
	<tr>
		<th>
			Вращение шнека, об./мин.
		</th>
		<td>
			80
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Усилие сжатия прессформы, кН
		</th>
		<td>
			16000
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Ход перемещения плиты, мм
		</th>
		<td>
			1530
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Расстояние между колоннами, мм
		</th>
		<td>
			1500 х 1500
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Max толщина прессформы, мм
		</th>
		<td>
			1450
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Min толщина прессформы, мм
		</th>
		<td>
			650
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Ход толкателя, мм
		</th>
		<td>
			405
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Максимальное давление насоса, МПа
		</th>
		<td>
			16
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Мощность нагрева, кВт
		</th>
		<td>
			96,1
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Мощность привода , кВт
		</th>
		<td>
			45+45+45
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Размеры станка, м
		</th>
		<td>
			15,99 х 3,3 х 4,56
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th>
			Масса, тонн
		</th>
		<td>
			100
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
	</tbody>
	</table>
	<p>С полным перечнем оборудования для <em>производства крупных изделий из полимеров</em> вы можете ознакомиться на
		странице нашего сайта <a href="/termoplastavtomaty-kitay">термопластавтоматы из Китая</a>.
	</p>
	<p>За полным описанием и консультацией по вопросам приобретения термопластавтомата YJW16000, <a href="/contacts">обращайтесь
		к нам</a>. Если вам не удалось найти на страницах каталога подходящий автомат для производства крупных изделий
		из полимеров, подробно заполните заявку на странице <a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск
			производителя в Китае</a>. Мы обязательно подберем Вам поможем.
	</p>
	<p>Осуществляем поставку под ключ <a href="/about-us">импорт товаров из Китая</a> для компаний и частных лиц.
	</p>
{% endblock %}