<div id="footer">
	<div class="wrapper">
		<ul id="sociais">
			<li class="yt"><a href="" target="_blank">Vimeo</a></li>
			<li class="rss"><a href="">Feeds</a></li>
			<li class="tw"><a href="" target="_blank">Twitter</a></li>
			<li class="fb"><a href="" target="_blank">Facebook</a></li>
			<li class="you"><a href="" target="_blank">Youtube</a></li>
			<!--
			  <li class="okt"><a href="http://www.orkut.com" target="_blank">Orkut</a></li>
			  <li class="in"><a href="http://www.linkedin.com/profile/edit?trk=hb_tab_pro_top" target="_blank">linked-in</a></li>
			  -->
		</ul>
		<br class="c"/>

		<div class="links">
			<div><a href="/">Главная</a></div>
		</div>
		<div class="links">
			<div><a href="/http://pivolan.ru:8080/proizvodstvennye-linii-iz-kitaya">Производственные линии</a></div>
		</div>
		<div class="links">
			<div><a href="http://pivolan.ru:8080/mini-zavody-iz-kitaya">Мини заводы</a></div>
		</div>
		<div class="links">
			<div><a href="http://pivolan.ru:8080/oborudovanie-iz-kitaia">Оборудование</a></div>
			<ol>
				<li><a href="http://pivolan.ru:8080/termoplastavtomaty-kitay">Термопластавтоматы</a></li>
				<li><a href="http://pivolan.ru:8080/ekstruzionno-vyduvnye-mashiny">Выдувное оборудование</a></li>
			</ol>
		</div>
		<div class="links">
			<div><a href="http://pivolan.ru:8080/uslugi-kompanii-bereg">Услуги</a></div>
			<ol>
				<li><a href="http://pivolan.ru:8080/perevod-s-kitayskogo-i-na-kitayskiy-saytov-tekstov-dokumentov">Переводы на китайский</a></li>
			</ol>
		</div>
		<div class="links">
			<div><a href="http://pivolan.ru:8080/poisk-proizvoditelei-i-tovarov-v-kitae">Поиск производителей</a></div>
		</div>
		<div class="links">
			<div><a href="/about-us">О нас</a></div>
			<ol>
				<li><a href="http://pivolan.ru:8080/etapy-postavki-tovarov-i-oborudovaniia">Как мы работаем</a></li>
			</ol>
		</div>
		<div class="links">
			<div><a href="/articles">Статьи</a></div>
		</div>
		<div class="links">
			<div><a href="/contacts">Контакты</a></div>
		</div>
		<br class="c"/>

		<div class="copyNotice">&copy; 2012 ООО "Берег"</div>
		<br class="c"/>
	</div>
</div>
