<div id="footer">
	<div class="wrapper">
		<ul id="sociais">
			<li class="yt"><span>Vimeo</span></li>
			<li class="rss"><span>Feeds</span></li>
			<li class="tw"><span>Twitter</span></li>
			<li class="fb"><span>Facebook</span></li>
			<li class="you"><span>Youtube</span></li>
			<!--
			  <li class="okt"><a href="http://www.orkut.com" target="_blank">Orkut</a></li>
			  <li class="in"><a href="http://www.linkedin.com/profile/edit?trk=hb_tab_pro_top" target="_blank">linked-in</a></li>
			  -->
		</ul>
		<br class="c"/>

		<div class="links">
			<a href="/">Главная</a>
			<a href="/proizvodstvennye-linii-iz-kitaya">Производственные линии</a>
		</div>
		<div class="links">
			<a href="/uslugi-kompanii-bereg">Услуги</a>
			<a href="/ekstruzionno-vyduvnye-mashiny">Выдувное оборудование</a>
			<a href="/termoplastavtomaty-kitay">Термопластавтоматы</a>
		</div>
		<div class="links">
			<a href="/mini-zavody-iz-kitaya">Мини заводы</a>
			<a href="/oborudovanie-iz-kitaia">Оборудование</a>
		</div>
		<div class="links">
			<a href="/perevod-s-kitayskogo-i-na-kitayskiy-saytov-tekstov-dokumentov">Переводы на китайский</a>
			<a href="/poisk-proizvoditelei-i-tovarov-v-kitae">Поиск производителей</a>
		</div>
		<div class="links">
			<a href="/about-us">О нас</a>
			<a href="/etapy-postavki-tovarov-i-oborudovaniia">Как мы работаем</a>
		</div>
		<div class="links">
			<a href="/articles">Статьи</a>
			<a href="/contacts">Контакты</a>
			<a href="/sitemap">Карта сайта</a>
		</div>
		<br class="c"/>

		<div class="center">{% include '_includes/stat.html' %}</div>
		<div class="copyNotice">&copy; 2012 ООО "Берег"</div>
		<br class="c"/>
	</div>
</div>
