<div id="footer">
	<div class="wrapper">
		<ul id="sociais">
			<li class="yt"><a href="http://vimeo.com/3019875?ab" target="_blank">Vimeo</a></li>
			<li class="rss"><a href="/en/rss">Feeds</a></li>
			<li class="tw"><a href="http://twitter.com/FinamacArpifrio" target="_blank">Twitter</a></li>
			<li class="fb"><a href="http://www.facebook.com/FinamacArpifrio" target="_blank">Facebook</a></li>
			<li class="you"><a href="http://www.youtube.com/user/Finamac" target="_blank">Youtube</a></li>
			<!--
			  <li class="okt"><a href="http://www.orkut.com" target="_blank">Orkut</a></li>
			  <li class="in"><a href="http://www.linkedin.com/profile/edit?trk=hb_tab_pro_top" target="_blank">linked-in</a></li>
			  -->
		</ul>
		<br class="c"/>

		<div class="links">
			<h3><a href="/en/sobre">Company</a></h3>
			<ol>
				<li><a href="/en/sobre/historia">History</a></li>
				<li><a href="/en/sobre/missao">Mission</a></li>
				<li><a href="/en/sobre/tecnologia">Technology</a></li>
				<li><a href="/en/sobre/como-chegar">Location</a></li>
				<li><a href="/en/sobre/parceiros">Partners</a></li>
			</ol>
			<h3><a href="/en/videos">Videos</a></h3>
		</div>
		<div class="links">
			<h3><a href="/en/produtos">Products</a></h3>
			<ol>
				<li><a href="/en/produtos/iniciante">Beginners</a></li>
				<li><a href="/en/produtos/intermediario">Intermediates</a></li>
				<li><a href="/en/produtos/industrial">Industrial</a></li>
				<li><a href="/en/produtos/gelateria">Gelateria</a></li>
				<li><a href="/en/produtos/chocolate">Chocolate</a></li>
				<li><a href="http://www.finamac.com.br/catalogo/" target="_blank">Catalog</a></li>
			</ol>
			<h3><a href="/en/noticias">News</a></h3>
		</div>
		<div class="links">
			<h3><a href="/en/assistencia">Technical Support</a></h3>
			<ol>
				<li><a href="/en/assistencia/localiza">Find a technician</a></li>
				<li><a href="/en/assistencia/contato">Technical consult</a></li>
				<li><a href="/en/assistencia/treinamento">Train your technician</a></li>
				<li><a href="/en/assistencia/credenciamento">Accreditation</a></li>
			</ol>
			<h3><a href="/en/cursos">Courses</a></h3>
		</div>
		<div class="links">
			<h3><a href="/en/faq">Frequent Asked Questions</a></h3>
			<ol>
				<li><a href="/en/faq/duvidas-gerais">General Doubts</a></li>
				<li><a href="/en/faq/como-comprar">Ordering</a></li>
				<li><a href="/en/faq/pos-venda">After Sales</a></li>
			</ol>
		</div>
		<div class="links">
			<h3><a href="/en/atendimento">Contact</a></h3>
			<ol>
				<li><a href="/en/atendimento/consulta-produtos">Consult our products</a></li>
				<li><a href="/en/atendimento/contato">Suggestions or complaints</a></li>
				<li><a href="/en/atendimento/trabalhe-conosco">Work with us</a></li>
			</ol>
		</div>
		<div class="links">
			<h3><a href="/en/pesquisa-desenvolvimento">Research and Development</a></h3>
			<ol>
				<li><a href="/en/pesquisa-desenvolvimento/objetivos">Objectives</a></li>
				<li><a href="/en/pesquisa-desenvolvimento/areas">Areas</a></li>
				<li><a href="/en/pesquisa-desenvolvimento/parcerias">Partnerships</a></li>
				<li><a href="/en/pesquisa-desenvolvimento/projetos">Projects</a></li>
			</ol>
		</div>
		<br class="c"/>

		<div class="copyNotice">&copy; 2012 Vasya Zerubaba | BR: +77 88 15645-45</div>
		<br class="c"/>
	</div>
</div>
