<div id="getBlog">
	<div id="footerSlider">
		<ul id="footerPics">
			<li class="active">
				<a href="/en/produtos"><img src="/public/img/service/footer-familia-en.jpg" width="820" height="349" border="0"/></a>
			</li>
			<li>
				<a href="/en/produtos/intermediario/maquina-sorvete-super-c2"><img src="/public/img/service/supercplus-en.jpg" width="820" height="349" border="0"/></a>
			</li>
			<li>
				<a href="/en/produtos/industrial/maquina-sorvete-gyrofiller"><img src="/public/img/service/gyrofiller-banner-botton-en.jpg" width="820" height="349" border="0"/></a>
			</li>
			<li>
				<a href="/en/produtos/industrial/maquina-sorvete-if-900"><img src="/public/img/service/footer-if900-en.jpg" width="820" height="349" border="0"/></a>
			</li>
			<li>
				<img src="/public/img/service/footer-suprema-br.jpg" width="820" height="349" border="0"/>
			</li>
			<li>
				<img src="/public/img/service/chocolate-modelagem4.jpg" width="820" height="349" border="0"/>
			</li>
			<li>
				<a href="/en/produtos/chocolate/maquina-chocomachine"><img src="/public/img/service/banner-inferior-chocomachine-en.jpg" width="820" height="349" border="0"/></a>
			</li>
			<li>
				<a href="/en/produtos/industrial/maquina-sorvete-titan-12"><img src="/public/img/service/banner-inferior-titan12-en.jpg" width="820" height="349" border="0"/></a>
			</li>
			<li>
				<a href="/en/produtos/iniciante/maquina-sorvete-turbo-8"><img src="/public/img/service/banner-inferior-turbo8-en.jpg" width="820" height="349" border="0"/></a>
			</li>
		</ul>
		<ul id="footerpagination"></ul>
	</div>
</div>
