<div id="nav">
	<ul>
		<li><a href="/" class="{{ a1 }}">Главная</a></li>
		<li><a href="/proizvodstvennye-linii-iz-kitaya" class="{{ a2 }}">Производственные линии</a></li>
		<li><a href="/mini-zavody-iz-kitaya" class="{{ a3 }}">Мини заводы</a></li>
		<li><a href="/oborudovanie-iz-kitaia" class="{{ a4 }}">Оборудование</a>
			<ul>
				<li class="nav_prod"><a href="/termoplastavtomaty-kitay" class="{{ a4b1 }}">Термопластавтоматы</a></li>
				<li class="nav_prod"><a href="/ekstruzionno-vyduvnye-mashiny" class="{{ a4b2 }}">Выдувное оборудование</a></li>
			</ul>
		</li>
		<li><a href="/uslugi-kompanii-bereg" class="{{ a5 }}">Услуги</a>
			<ul>
				<li class="nav_prod">
					<a href="perevod-s-kitayskogo-i-na-kitayskiy-saytov-tekstov-dokumentov" class="{{ a5b1 }}">Переводы
						на китайский</a></li>
			</ul>
		</li>
		<li><a href="/poisk-proizvoditelei-i-tovarov-v-kitae" class="{{ a6 }}">Поиск производителей</a></li>
		<li><a href="/about-us" class="{{ a7 }}">О нас</a>
			<ul>
				<li class="nav_prod"><a href="/etapy-postavki-tovarov-i-oborudovaniia" class="{{ a7b1 }}">Как мы
					работаем</a></li>
			</ul>
		</li>
		<li><a href="/articles" class="{{ a8 }}">Статьи</a></li>
		<li class="zero"><a href="/contacts" class="{{ a9 }}">Контакты</a></li>
	</ul>
</div>
