<div id="nav">
	<ul>
		<li><a href="/" class="openMenu">Главная</a></li>
		<li><a href="/proizvodstvennye-linii-iz-kitaya">Производственные линии</a></li>
		<li><a href="/mini-zavody-iz-kitaya">Мини заводы</a></li>
		<li><a href="/oborudovanie-iz-kitaia">Оборудование</a>
			<ul>
				<li class="nav_prod"><a href="/en/produtos/iniciante">Термопластавтоматы</a></li>
			</ul>
		</li>
		<li><a href="/uslugi-kompanii-bereg">Услуги</a>
			<ul>
				<li class="nav_prod"><a href="/etapy-postavki-tovarov-i-oborudovaniia">Как мы работаем</a></li>
				<li class="nav_prod"><a href="perevod-s-kitayskogo-i-na-kitayskiy-saytov-tekstov-dokumentov">Переводы на китайский</a></li>
			</ul>
		</li>
		<li><a href="/poisk-proizvoditelei-i-tovarov-v-kitae">Поиск производителей</a></li>
		<li><a href="/about-us">О нас</a></li>
		<li><a href="/articles">Статьи</a></li>
		<li class="zero"><a href="/contacts">Контакты</a></li>
	</ul>
</div>
