<ul class="lista3-col">
	<li>
		<h3 class="titlename top5">Specials and Releases </h3>

		<div>
			<ol>
				<li>
					<h4><a href="/en/noticias/2012/04/227/kit-ice-cream-production">Kit Ice-cream
						Production!</a>
					</h4>

					<p>The complete kit for your Ice-cream production!</p>
				</li>
				<li>
					<h4>
						<a href="/en/noticias/2012/04/224/gyrofiller-automatic-equipment-for-ice-cream-filling-and-packing">Gyrofiller
							- Automatic Equipment for ice cream filling and packing</a></h4>

					<p>GYROFILLER - ROTARY MACHINE TO FILL, PACK AND LABEL ICE CREAM CONTAINERS</p>
				</li>
				<li>
					<h4><a href="/en/noticias/2012/02/137/kit-200-start-your-own-business">Kit 200 - Start your
						own business!</a></h4>

					<p>Complete kit to star your own business!</p>
				</li>
				<li>
					<h4><a href="/en/noticias/2012/01/131/kit-gelato">Kit Gelato</a></h4>

					<p>Produce delicous italian Gelato with quality and lowest price!</p>
				</li>
			</ol>
		</div>
	</li>
	<li>
		<h3 class="titlename top5">Courses: ice cream and chocolate </h3>

		<div>
			<ol>
				<li>
					<h4><a href="/en/cursos/sorvete-basico-en"><strong>20/12</strong>: Promotional Combo:
						Begginer + Market</a></h4>
					&#160;

					&#160;Bereg has prepared...
				</li>
				<li>
					<h4><a href="/en/cursos/chocolate-en"><strong>07/01</strong>: Chocolate Market</a></h4>
					&#160;

					Designed for new entrepreneurs, and the...
				</li>
				<li>
					<h4><a href="/en/cursos/sorvete-basico-en"><strong>10/01</strong>: Ice Cream - Beginners</a>
					</h4>
					&#160; Consists of the Theory of Ice Cream,...
				</li>
				<li>
					<h4><a href="/en/cursos/---------"><strong>16/01</strong>: </a></h4>

				</li>
			</ol>
		</div>
	</li>
	<li class="ultima">
		<h3 class="titlename top5">News</h3>

		<div>
			<ol>
				<li>
					<h4><a href="/en/noticias/2012/11/411/marked-presence-in-brazil-apex">
						PRESENCE IN BRAZIL APEX</a></h4>

					<p>Finalist Award in the category "Market Diversification"</p>
				</li>
				<li>
					<h4>
						<a href="/en/noticias/2012/11/408/sigep-2013-the-salon-international-ice-cream-pastry-and-bakery-craft.">SIGEP
							2013 - The Salon International Ice Cream, Pastry and Bakery Craft.</a></h4>

					<p>SIGEP, is the Salon International Ice Cream, Pastry and Bakery Craft. The fair remains
						one of the world's most important sector of artisanal ice cream, and how exposure
						predominant European artisan candy, still consolidating sector of artisanal baking.</p>
				</li>
				<li>
					<h4><a href="/en/noticias/2012/11/401/automatic-rotary-filling-machine-for-ice-cream">AUTOMATIC
						ROTARY FILLING MACHINE FOR ICE CREAM</a></h4>

					<p>Optimizes working time and enables the diversification of your products.</p>
				</li>
				<li>
					<h4>
						<a href="/en/noticias/2012/11/402/super-c-continuous-production-of-ice-cream-aerated">Super
							C Continuous Production of ice cream aerated</a></h4>

					<p>Produce in a continuous way up to 200 liters.</p>
				</li>
			</ol>
		</div>
	</li>
</ul>
