<div id="rotate">
	<ul id="headPics">
		<li class="active">
			<div class="infopics"> Fantastic Popsicle Factory
				<p></p>
			</div>
			<a href="http://www.finamac.com.br/en/noticias/2012/08/336/fantastic-popsicle-factory"><img src="/public/img/head_pics/banner-topo-fantastic-popsicle-factory-en.jpg" width="735" height="170" border="0"/></a>
		</li>
		<li>
			<div class="infopics"> Industrial Business Pack
				<p></p>
			</div>
			<a href="http://www.finamac.com.br/en/noticias/2012/08/341/industrial-business-pack"><img src="/public/img/head_pics/banner-topo-industrial-business-pack-en.jpg" width="735" height="170" border="0"/></a>
		</li>
		<li>
			<div class="infopics"> Master Business Pack
				<p></p>
			</div>
			<a href="http://www.finamac.com.br/en/noticias/2012/08/342/master-business-pack"><img src="/public/img/head_pics/banner-topo-master-business-pack-en.jpg" width="735" height="170" border="0"/></a>
		</li>
		<li>
			<div class="infopics"> Professional Kit
				<p></p>
			</div>
			<a href="http://www.finamac.com.br/en/noticias/2012/08/338/professional-kit"><img src="/public/img/head_pics/banner-topo-professional-kit-en.jpg" width="735" height="170" border="0"/></a>
		</li>
		<li>
			<div class="infopics"> Slim Kit
				<p></p>
			</div>
			<a href="http://www.finamac.com.br/en/noticias/2012/08/337/slim-kit"><img src="/public/img/head_pics/banner-topo-slim-kit-en.jpg" width="735" height="170" border="0"/></a>
		</li>
		<li>
			<div class="infopics"> Smart Factory
				<p></p>
			</div>
			<a href="http://www.finamac.com.br/en/noticias/2012/08/339/smart-factory"><img src="/public/img/head_pics/banner-topo-smart-factory-en.jpg" width="735" height="170" border="0"/></a>
		</li>
		<li>
			<div class="infopics"> Smart Factory Plus
				<p></p>
			</div>
			<a href="http://www.finamac.com.br/en/noticias/2012/08/340/smart-factory-plus"><img src="/public/img/head_pics/banner-topo-smart-factory-plus-en.jpg" width="735" height="170" border="0"/></a>
		</li>
		<li>
			<div class="infopics"> Turbo 100
				<p></p>
			</div>
			<a href="http://www.finamac.com.br/en/produtos/industrial/maquina-sorvete-turbo-100"><img src="/public/img/head_pics/banner-topo-turbo100-en.jpg" width="735" height="170" border="0"/></a>
		</li>
	</ul>
	<ul id="paginatepics"></ul>
</div>
