<div id="rotate">
	<ul id="headPics">
		<li class="active">
			<div class="infopics"> Мини заводы из Китая под ключ
				<p></p>
			</div>
			<img alt="мини заводы из китая" src="/public/img/head_pics/mini-zavody-iz-kitaya-pod-kluch.jpg" width="735" height="170" border="0"/>
		</li>
		<li>
			<div class="infopics"> Поставка производственных линий под ключ
				<p></p>
			</div>
			<img alt="Производственные линии из китая" src="/public/img/head_pics/postavka-proizvodstvennyh-liniy-pod-clyuch.jpg" width="735" height="170" border="0"/>
		</li>
		<li>
			<div class="infopics"> Организация бизнеса
				<p></p>
			</div>
			<img alt="Организация производства" src="/public/img/head_pics/organizaciya-biznesa.jpg" width="735" height="170" border="0"/>
		</li>
		<li>
			<div class="infopics"> Выгодные условия работы
				<p></p>
			</div>
			<img alt="Модернизация производства" src="/public/img/head_pics/vygodye-usloviya-raboty.jpg" width="735" height="170" border="0"/>
		</li>
		<li>
			<div class="infopics"> Товары из Китая оптом
				<p></p>
			</div>
			<img alt="Импорт из китая" src="/public/img/head_pics/tovary-iz-kitaya-optom.jpg" width="735" height="170" border="0"/>
		</li>
		<li>
			<div class="infopics"> Мы Ваше окно в Китай
				<p></p>
			</div>
			<img alt="товары из китая" src="/public/img/head_pics/my-vashe-okno-v-kitay.jpg" width="735" height="170" border="0"/>
		</li>
		<li>
			<div class="infopics"> Берег - Ваш надежный партнер
				<p></p>
			</div>
			<img alt="оборудование из китая" src="/public/img/head_pics/bereg-vash-nadezhnyy-partner.jpg" width="735" height="170" border="0"/>
		</li>
		<li>
			<div class="infopics"> Производители Китая
				<p></p>
			</div>
			<img alt="Поиск производителей и товаров в Китае" src="/public/img/head_pics/proizvoditeli-kitaya.jpg" width="735" height="170" border="0"/>
		</li>
	</ul>
	<ul id="paginatepics"></ul>
</div>
