<div id="rotate">
	<ul id="headPics">
		<li class="active">
			<div class="infopics"> Мини заводы из Китая под ключ
				<p></p>
			</div>
			<a href="http://www.finamac.com.br/en/noticias/2012/08/336/fantastic-popsicle-factory"><img src="/public/img/head_pics/mini-zavody-iz-kitaya-pod-kluch.jpg" width="735" height="170" border="0"/></a>
		</li>
		<li>
			<div class="infopics"> Поставка производственных линий под ключ
				<p></p>
			</div>
			<a href="http://www.finamac.com.br/en/noticias/2012/08/341/industrial-business-pack"><img src="/public/img/head_pics/postavka-proizvodstvennyh-liniy-pod-clyuch.jpg" width="735" height="170" border="0"/></a>
		</li>
		<li>
			<div class="infopics"> Организация бизнеса
				<p></p>
			</div>
			<a href="http://www.finamac.com.br/en/noticias/2012/08/342/master-business-pack"><img src="/public/img/head_pics/organizaciya-biznesa.jpg" width="735" height="170" border="0"/></a>
		</li>
		<li>
			<div class="infopics"> Выгодные условия работы
				<p></p>
			</div>
			<a href="http://www.finamac.com.br/en/noticias/2012/08/338/professional-kit"><img src="/public/img/head_pics/vygodye-usloviya-raboty.jpg" width="735" height="170" border="0"/></a>
		</li>
		<li>
			<div class="infopics"> Товары из Китая оптом
				<p></p>
			</div>
			<a href="http://www.finamac.com.br/en/noticias/2012/08/337/slim-kit"><img src="/public/img/head_pics/tovary-iz-kitaya-optom.jpg" width="735" height="170" border="0"/></a>
		</li>
		<li>
			<div class="infopics"> Мы Ваше окно в Китай
				<p></p>
			</div>
			<a href="http://www.finamac.com.br/en/noticias/2012/08/339/smart-factory"><img src="/public/img/head_pics/my-vashe-okno-v-kitay.jpg" width="735" height="170" border="0"/></a>
		</li>
		<li>
			<div class="infopics"> Берег - Ваш надежный партнер
				<p></p>
			</div>
			<a href="http://www.finamac.com.br/en/noticias/2012/08/340/smart-factory-plus"><img src="/public/img/head_pics/bereg-vash-nadezhnyy-partner.jpg" width="735" height="170" border="0"/></a>
		</li>
		<li>
			<div class="infopics"> Производители Китая
				<p></p>
			</div>
			<a href="http://www.finamac.com.br/en/produtos/industrial/maquina-sorvete-turbo-100"><img src="/public/img/head_pics/proizvoditeli-kitaya.jpg" width="735" height="170" border="0"/></a>
		</li>
	</ul>
	<ul id="paginatepics"></ul>
</div>
