<div id="sidebar"><h3 class="titlename top5 sideAds"><span>Мини заводы бетона</span></h3>
	<a href="/mini-zavody-iz-kitaya"><img title="Бетонные мини заводы" src="/public/img/right_pics/mini_zavody_betona.jpg" width="160" height="592" alt="Мини заводы бетона"/></a>

	<div class="boxParceiro" style="margin-top: 17px;">
		<h3 class="titlename top5 sideAds">Производство плитки</h3>
		<a href="http://www.finamac.com.br/en/produtos/industrial/maquina-sorvete-turbo-100"><img title="Производство плитки" src="/public/img/right_pics/proizvodstvo_plitki.jpg" width="160" height="145" alt="Производство плитки"/></a>
	</div>
	<div class="boxParceiro" style="margin-top: 15px; margin-bottom: 1px;">
		<h3 class="titlename top5 sideAds">Производство пленки</h3>
		<a href="http://www.finamac.com.br/en/produtos/intermediario/maquina-sorvete-super-c2"><img title="Оборудование для производства пленки" src="/public/img/right_pics/proizvodstvo_plenki.jpg" width="160" height="145" alt="Производство пленки"/></a>
	</div>
	<div class="boxParceiro" style="margin-top: 15px; margin-bottom: 1px;">
		<h3 class="titlename top5 sideAds">Выдувное оборудование</h3>
		<a href="http://www.finamac.com.br/en/produtos/industrial/maquina-sorvete-titan-12"><img title="Выдувное оборудование" src="/public/img/right_pics/vyduvnoye_oborudovanie.jpg" width="160" height="145" alt="Выдувное оборудование"/></a>
	</div>
</div>
