<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
		"target=_blank><img src='//counter.yadro.ru/hit?t17.4;r"+
		escape(document.referrer)+((typeof(screen)=="undefined")?"":
		";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
				screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
		";"+Math.random()+
		"' alt='' title='LiveInternet: показано число просмотров за 24"+
		" часа, посетителей за 24 часа и за сегодня' "+
		"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->


<a href="http://yandex.ru/cy?base=0&amp;host=www.bereg-china.ru"><img src="http://www.yandex.ru/cycounter?www.bereg-china.ru" width="88" height="31" alt="Яндекс цитирования" border="0" /></a>




<!-- begin of Top100 code -->

<script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?2828639"></script>
<noscript>
	<a href="http://top100.rambler.ru/navi/2828639/">
		<img src="http://counter.rambler.ru/top100.cnt?2828639" alt="Rambler's Top100" border="0" />
	</a>

</noscript>
<!-- end of Top100 code -->



<!--Openstat-->
<span id="openstat2297698"></span>
<script type="text/javascript">
	var openstat = { counter: 2297698, image: 5081, color: "828282", next: openstat, track_links: "all" };
	(function(d, t, p) {
		var j = d.createElement(t); j.async = true; j.type = "text/javascript";
		j.src = ("https:" == p ? "https:" : "http:") + "//openstat.net/cnt.js";
		var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
	})(document, "script", document.location.protocol);
</script>
<!--/Openstat-->


<!-- HotLog -->
<script type="text/javascript">
	hotlog_r=""+Math.random()+"&s=2271311&im=44&r="+
			escape(document.referrer)+"&pg="+escape(window.location.href);
	hotlog_r+="&j="+(navigator.javaEnabled()?"Y":"N");
	hotlog_r+="&wh="+screen.width+"x"+screen.height+"&px="+
			(((navigator.appName.substring(0,3)=="Mic"))?screen.colorDepth:screen.pixelDepth);
	hotlog_r+="&js=1.3";
	document.write('<a href="http://click.hotlog.ru/?2271311" target="_blank"><img '+
			'src="http://hit41.hotlog.ru/cgi-bin/hotlog/count?'+
			hotlog_r+'" border="0" width="88" height="31" title="" alt="HotLog"><\/a>');
</script>
<noscript>
	<a href="http://click.hotlog.ru/?2271311" target="_blank"><img
			src="http://hit41.hotlog.ru/cgi-bin/hotlog/count?s=2271311&im=44" border="0"
			width="88" height="31" title="" alt="HotLog"></a>
</noscript>
<!-- /HotLog -->


<!-- Rating@Mail.ru counter -->
<script type="text/javascript">//<![CDATA[
(function(w,n,d,r,s){d.write('<a href="http://top.mail.ru/jump?from=2289352">'+
		'<img src="http://de.ce.b2.a2.top.mail.ru/counter?id=2289352;t=68;js=13'+
		((r=d.referrer)?';r='+escape(r):'')+((s=w.screen)?';s='+s.width+'*'+s.height:'')+';_='+Math.random()+
		'" style="border:0;" height="31" width="38" alt="Рейтинг@Mail.ru" /><\/a>');})(window,navigator,document);//]]>
</script><noscript><a href="http://top.mail.ru/jump?from=2289352">
	<img src="http://de.ce.b2.a2.top.mail.ru/counter?id=2289352;t=68;js=na"
	     style="border:0;" height="31" width="38" alt="Рейтинг@Mail.ru" /></a></noscript>
<!-- //Rating@Mail.ru counter -->


