{% extends 'layout/text_layout.html' %}
{% block navigation %}
	{% set a7="openMenu" %}
	{% include '_includes/nav.html' %}
{% endblock %}

{% block title %}Компания «Берег» - импорт товаров и оборудования из Китая.{% endblock %}
{% block keywords %}компания, Берег, импорт, товар, оборудование, Китай, под ключ, преимущества.{% endblock %}
{% block description %}Компания Берег специализируется на импорте товаров и оборудования из Китая.{% endblock %}
{% block h1 %}Компания «Берег» - импорт товаров и оборудования из Китая{% endblock %}
{% block text %}
	<h2>Компания Берег – качественный импорт из Китая в Россию</h2>
	<p>Сегодня КНР является самым экономически выгодным партнером. Товары, оборудование и <a href="/mini-zavody-iz-kitaya">мини заводы из
		Китая</a> пользуются колоссальным спросом во всех уголках мира, привлекая своей технологичностью, качеством и
		ценой. <strong>Компания «Берег»</strong> уже 10 лет специализируется на <em>импорте из Китая</em>. Значительный
		опыт в области поставки товаров и оборудования позволил выстроить доверительные отношения со многими
		производителями в Китае. Мы сотрудничаем с лучшими машиностроительными заводами и помогаем российским компаниям
		построить долгосрочные, выгодные и перспективные отношения с Востоком.
	</p>
	<p><strong>Наша миссия:</strong> обеспечение малого и среднего бизнеса высокотехнологичным оборудованием, оптовый
		импорт товаров из Китая.
	</p>
	<p><strong>Наша задача:</strong> быть эффективными и полезными для клиента. Мы всегда стараемся проллобировать ваши
		интересы производителю и предоставить максимальную выгоду от сделки.
	</p>
	<p><strong>Наши преимущества: </strong>прямое сотрудничество с производителями. Импорт товаров и оборудования из
		Китая под ключ. Обеспечиваем полный цикл работы от поиска производителя до поставки товара на склад клиента,
		включая ведение переговоров, составление и заключение контракта, таможенное оформление.
	</p>
	<p>Компания Берег поможет вам построить собственный доходный бизнес с минимальными вложениями. Обращаясь к нам, вы
		обеспечиваете успех своему делу!
	</p>
	<p><a href="/contacts">Свяжитесь с нами</a> прямо сейчас и наши сотрудники предоставят вам исчерпывающую информацию по всем
		вопросам импорта из Китая и взаимовыгодному сотрудничеству.
	</p>
	<h2>Импорт из Китая «под ключ»</h2>
	<p><strong>Импорт из Китая «под ключ»</strong> - это комплексная услуга, предоставляемая нашей компанией для
		российских организаций. Включает в себя поиск, импорт, оформление, доставку товаров и оборудования из Китая на
		территорию Российской Федерации с минимальным участием заказчика.
	</p>
	<p>Компания Берег специализируется на импорте товаров и <a href="/oborudovanie-iz-kitaia">оборудовании из Китая</a>. Мы оказываем полный
		спектр услуг по комплексной поставке любого оборудования и товаров из Поднебесной. Проводим таможенное
		оформление, осуществляем <a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск производителей и товаров в Китае</a>, устраиваем переговоры и деловые
		поездки. Компания Берег – ваш путеводитель в бизнес-индустрию Китая.
	</p>
	<p>Комплексный <em>импорт товаров и оборудования из Китая</em> подразумевает:</p>
	<ul>
		<li>Поиск производителей и товаров;</li>
		<li>Анализ и ранжирование производителей;</li>
		<li>Ведение переговоров;</li>
		<li>По желанию клиента, поездка на завод производителя / <a href="/uslugi-kompanii-bereg">выставку в Китае</a>.</li>
		<li>Составление и заключение контракта;</li>
		<li>Проведение сделки;</li>
		<li>Контроль отгрузки оборудования / товара / <a href="/proizvodstvennye-linii-iz-kitaya">производственной линии из Китая</a>;</li>
		<li>Импорт из Китая на территорию Российской Федерации;</li>
		<li>Проведение сертификации и оформление документов;</li>
		<li>Растаможка/ таможенное оформление;</li>
		<li>Поставка товара / оборудования на склад заказчика;</li>
		<li>Оформление отчетных и бухгалтерских документов.</li>
	</ul>
{% endblock %}