{% extends 'layout/text_layout.html' %}
{% block navigation %}
	{% set a9="openMenu" %}
	{% include '_includes/nav.html' %}
{% endblock %}

{% block title %}Контакты компании «Берег»{% endblock %}
{% block keywords %}Контакты, компания, Берег, адрес, e-mail, телефон, директор, форма, связи{% endblock %}
{% block description %}Контакты и форма обратной связи компании «Берег»{% endblock %}
{% block h1 %}Контакты компании «Берег»{% endblock %}
{% block text %}
	<h2>Наши контакты </h2>
	<p><strong>Адрес</strong>: 426068, Россия, Ижевск, Восточная магистраль, д1, офис со стороны улицы.</p>
	<p><strong>Часы работы</strong>: с 9:00 до 19:00</p>
	<p><strong>Сайт</strong>: http://bereg-cn.ru</p>
	<p><strong>Телефон</strong>: +7(3412) 508-008</p>
	<p><strong>Факс</strong>: +7(3412)21-78-05</p>
	<p><strong>E-mail</strong>: pvt@bereg-cn.ru</p>
	<p><strong>Директор</strong>: Суздальцев Игорь Юрьевич, Тел. +7 (3412) 508-008, E-mail: siy@bereg-cn.ru</p>
	<p><strong>Заместитель директора</strong>: Печеникин Владимир Тимофеевич, Тел. +7 (3412) 21-78-05, E-mail:
		pvt@bereg-cn.ru
	</p>
	<h2>Форма обратной связи </h2>
	<p>Для получения более подробной информации, заполните, пожалуйста, форму и менеджер нашей компании свяжется с Вами
		в ближайшее время.
	</p>
{% endblock %}