{% extends 'layout/text_layout.html' %}
{% block navigation %}
	{% set a9="openMenu" %}
	{% include '_includes/nav.html' %}
{% endblock %}

{% block title %}Контакты компании «Берег»{% endblock %}
{% block keywords %}Контакты, компания, Берег, адрес, e-mail, телефон, директор, форма, связи{% endblock %}
{% block description %}Контакты и форма обратной связи компании «Берег»{% endblock %}
{% block h1 %}Контакты компании «Берег»{% endblock %}
{% block text %}
	<h2>Наши контакты </h2>
	<p><strong>Адрес</strong>: 426068, Россия, Ижевск, Восточная магистраль, д1, офис со стороны улицы.</p>
	<p><strong>Часы работы</strong>: с 8:00 до 17:00</p>
	<p><strong>Сайт</strong>: http://bereg-china.ru</p>
	<p><strong>Телефон</strong>: +7(3412) 508-600</p>
	<p><strong>Факс</strong>: +7(3412)508-600</p>
	<p><strong>E-mail</strong>:
		<script language="JavaScript" type="text/javascript">
			<!--
			var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
			var path = 'hr' + 'ef' + '=';
			var sdfkje2178 = 'pechenikin' + 'v' + '' + '&#64;';
			sdfkje2178 = sdfkje2178 + 'gmail' + '&#46;' + 'com';
			document.write('<a ' + path + '\'' + prefix + ':' + sdfkje2178 + '\'>');
			document.write(sdfkje2178);
			document.write('<\/a>');
			// --> \n </script>
		<script language="JavaScript" type="text/javascript">
			<!--
			document.write('<span style=\'display: none;\'>');
			// -->
		</script>
		Этот e-mail адрес защищен от спам-ботов, для его просмотра у Вас должен быть включен Javascript
		<script language="JavaScript" type="text/javascript">
			<!--
			document.write('</');
			document.write('span>');
			// -->
		</script>
	</p>
	<p><strong>Директор</strong>: Суздальцев Игорь Юрьевич, Тел. +7 (3412) 508-600
	</p>
	<p><strong>Заместитель директора</strong>: Печеникин Владимир Тимофеевич, Тел. +7 (3412) 508-600, E-mail:
		<script language="JavaScript" type="text/javascript">
			<!--
			var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
			var path = 'hr' + 'ef' + '=';
			var addy57435 = 'pechenikin' + 'v' + '' + '&#64;';
			addy57435 = addy57435 + 'gmail' + '&#46;' + 'com';
			document.write('<a ' + path + '\'' + prefix + ':' + addy57435 + '\'>');
			document.write(addy57435);
			document.write('<\/a>');
			// --> \n </script>
		<script language="JavaScript" type="text/javascript">
			<!--
			document.write('<span style=\'display: none;\'>');
			// -->
		</script>
		Этот e-mail адрес защищен от спам-ботов, для его просмотра у Вас должен быть включен Javascript
		<script language="JavaScript" type="text/javascript">
			<!--
			document.write('</');
			document.write('span>');
			// -->
		</script>
	</p>
	<h2>Форма обратной связи </h2>
	<p>Для получения более подробной информации, заполните, пожалуйста, форму и менеджер нашей компании свяжется с Вами
		в ближайшее время.
	</p>
	{#	<div>#}
	{#		<form action="" class="uni_form" method="POST">#}
	{#			<fieldset>#}
	{#				<div class="ctrlHolder">#}
	{#					<label for="">ФИО</label>#}
	{#					<input id="" name="" value="" size="35" class="textInput" type="text">#}
	{#				</div>#}
	{#				<div class="ctrlHolder">#}
	{#					<label for="">Телефон</label>#}
	{#					<input id="" name="" value="" size="35" class="textInput" type="text">#}
	{#				</div>#}
	{#				<div class="ctrlHolder">#}
	{#					<label for="">Email</label>#}
	{#					<input id="" name="" value="" size="35" class="textInput" type="text">#}
	{#				</div>#}
	{#				<div class="ctrlHolder">#}
	{#					<label for="">Сообщение</label>#}
	{#					<textarea id="" name="" value="" size="35" class="textInput" type="text"></textarea>#}
	{#				</div>#}
	{#				<div class="buttonHolder"><input type="submit" class="primaryAction" value="Отправить"></div>#}
	{#			</fieldset>#}
	{#		</form>#}
	{#	</div>#}
{% endblock %}