{% extends 'layout/text_layout.html' %}
{% block navigation %}
	{% set a7="openMenu" %}
	{% set a7b1="openMenu" %}
	{% include '_includes/nav.html' %}
{% endblock %}

{% block title %}Этапы поставки товаров и оборудования{% endblock %}
{% block keywords %}Этап, поставка, оборудование, товар, заключение, контракт{% endblock %}
{% block description %}Этапы поставки оборудования и товаров из Китая. О том как компания Берег осуществляет поставки
	оборудования.{% endblock %}
{% block h1 %}Этапы поставки товаров и оборудования {% endblock %}
{% block text %}
	<h2>Ознакомление с каталогом </h2>
	<p>Внимательно изучите сайт компании «Берег». Ознакомьтесь с оборудованием, станками, линиями производства и мини
		заводами из Китая, которые предлагает наша компания. Выберите необходимое оборудование / товар.</p>
	<p>Если вы нашли то, что вам необходимо, переходите к Этапу «Выбор и ознакомление»</p>
	<p>Если искомого оборудования / товара нет на нашем сайте, переходите к Этапу поиска.</p>
	<h2>Этап поиска товаров и оборудования</h2>
	<p>Ознакомьтесь со страницей поиск производителей и товаров в Китае. Отправьте нам заявку на поиск необходимого
		оборудования / товара, воспользовавшись специальной формой. В заявке максимально детально опишите то, в чем вы
		нуждаетесь. Если это оборудование, укажите продукт производства, технические характеристики, габариты, бюджет,
		партию, ссылки на сайты или фотографии, где вы его встречали. Если товары – объем партии, описание,
		характеристики, фото, ссылки. Чем подробнее в заявке вы расскажете нам о предмете поиска, тем быстрее наши
		сотрудники свяжутся с Вами. Заполняя форму, укажите регион доставки, наименование вашей организации, телефон и
		email для связи. Обычно процесс поиска занимает не более 3-6 календарных дней. После чего вы получаете от нас
		готовое коммерческое предложение с проработанными вариантами поставки товаров или оборудования из Китая.</p>
	<h2>Выбор и ознакомление с товаром / оборудованием </h2>
	<p>После ознакомления с коммерческим предложением, выберете оборудование и свяжитесь с нами. Сотрудники компании
		«Берег» проконсультируют вас по всем вопросам покупка, оформления и поставки товара / оборудования.</p>
	<p>Если вам необходимо воочию увидеть оборудование в работе, то предстоит совершить поездку в Китай на завод
		производителя, дабы лично убедиться в качестве производимых изделий. На время поездки мы готовы вам предложить
		услуги переводчика. С полным перечнем предоставляемых услуг вы можете ознакомиться на странице услуги компании
		«Берег».</p>
	<h2>Этап заключения контракта </h2>
	<p>Самый важный и ответственный этап – составление и заключение контракта на поставку товаров / оборудования /
		производственных линий из Китая. Обговариваются условия поставки, оплаты, оформления и растаможки. Согласование
		условий контракты проводим как при личной встрече, так и удаленно.</p>

	<h2>Поставка товара / оборудования </h2>
	<p>Заключительный и самый приятный этап – поставка товара / оборудования на склад заказчика. Все грузы проходят
		«белую» растаможку, полное оформление и сертификацию. Подписывается акт сдачи-приемки.</p>
{% endblock %}