{% extends 'layout/text_layout.html' %}
{% block navigation %}
	{% set a5="openMenu" %}
	{% set a5b1="openMenu" %}
	{% include '_includes/nav.html' %}
{% endblock %}

{% block title %}Перевод с китайского и на китайский сайтов, текстов, документов.{% endblock %}
{% block keywords %}перевод, китайский, русский, язык, сайт, документ, текст, контракт{% endblock %}
{% block description %}Предоставляем услуги перевода с китайского и на китайский язык сайтов, текстов, документов,
	технической литературы{% endblock %}
{% block h1 %}Перевод с китайского и на китайский сайтов, текстов, документов.{% endblock %}
{% block text %}
	<p>Язык Поднебесной заслуженно считается одним из важнейших и, одновременно, невероятно сложным. Экономика Китая
		развивается семимильными шагами, внешнеэкономическое влияние постоянно растет, а сотрудничество с Китаем
		приобретает массовый характер. Данные факты рождают спрос на услуги профессионального перевода технических
		текстов и документов.
	</p>
	<p>Компания Берег предлагает услуги <strong>перевода с китайского и на китайский язык сайтов, текстов,
		документов</strong>. Наше основное преимущество – выполнение переводов непосредственно носителями китайского
		языка, а это крайне необходимо для технических и деловых текстов. Наши сотрудники имеют значительный опыт
		переводов разнообразных текстовых документов, тем самым, мы можем гарантировать оперативность и качество
		исполнения вашего заказа.
	</p><h2>Перевод китайских сайтов</h2>
	<p>Сегодня <strong>перевод китайских сайтов</strong> на русский язык и русских сайтов на китайский очень популярен.
		Связано это с желанием компаний наладить онлайн торговлю между Россией и Китаем. Многие производители и оптовики
		КНР, ища новые рынки сбыта, заказывают перевод своих сайтов, каталогов и интернет магазинов на русский язык, и в
		дальнейшем размещают и продвигают их в Рунете.
	</p>
	<p>Нюансов перевода китайских сайтов очень много. Порой, довольно сложно понять, что именно хотел донести китайский
		разработчик до читателя. Наши специалисты помогут максимально точно и читабельно осуществить перевод любого
		сайта, как с китайского на русский язык, так и с русского на китайский. Ответственный подход к работе в купе с
		большим опытом, позволяют нам предоставлять качественные услуги перевода сайтов.
	</p>
	<p><a href="/contacts">Свяжитесь с нами</a> прямо сейчас и закажите перевод сайта.</p>
	<h2>Переводы документов на китайский и с китайского</h2>
	<p>Для компаний, фирм и производителей осуществляем профессиональный <em>перевод с китайского и на китайский язык
		различных документов</em>. Компания «Берег» рада предложить своим партнерам услуги по переводу договоров и
		контрактов, технических текстов, таможенных деклараций и иных бумаг, сопутствующих импорту и растаможке.
	</p>
	<p>Осуществляем переводы с китайского и на китайский следующих документов:</p>
	<ul>
		<li>Контракты, уставы, сертификаты, лицензии</li>
		<li>Нормативные документы</li>
		<li>Договоры и соглашения</li>
		<li>Спецификации к <a href="/oborudovanie-iz-kitaia">оборудованию из Китая</a></li>
		<li>Документы таможенного оформления</li>
		<li>Финансовые и налоговые документы</li>
		<li>Сопроводительная документация на товары</li>
		<li>Бизнес переписка</li>
		<li>Коммерческие предложения, реклама, каталоги, буклеты.</li>
		<li>Сопутствующие документы на <a href="/proizvodstvennye-linii-iz-kitaya">производственные линии из Китая</a>
		</li>
		<li>Сопутствующие документы на <a href="/mini-zavody-iz-kitaya">мини заводы из Китая</a></li>
	</ul>
	<p>Мы стремимся к тому, чтобы наши клиенты предельно ясно понимали друг-друга, несмотря на языковые и культурные
		различия. Если вам необходимо провести переговоры лично, наш переводчик поможет провести успешную встречу с
		партнерами. <a href="/contacts">Свяжитесь с нами,</a> и мы предоставим всю информацию о стоимости и сроках
		выполнения перевода.
	</p>
{% endblock %}