{% extends 'layout/text_layout.html' %}
{% block navigation %}
	{% set a6="openMenu" %}
	{% include '_includes/nav.html' %}
{% endblock %}

{% block title %}Поиск производителей и товаров в  Китае{% endblock %}
{% block keywords %}Поиск, товар, производитель, оборудование, Китай, услуга, форма, заявка.{% endblock %}
{% block description %}Предоставляем услуги поиска производителей и товаров на территории Китая{% endblock %}
{% block h1 %}Поиск производителей и товаров в  Китае{% endblock %}
{% block text %}
	<h2>Поиск производителей, товаров и оборудования в Китае.</h2>
	<p>В процессе <strong>поиска производителей и товаров в Китае</strong>, мы уделяем большое внимание проверке на надежность компании и
		оценке качества продукции. При мониторинге производителей, мы отталкиваемся от того, что заказчик полностью
		должен быть уверен в актуальности информации. Мы ищем китайских производителей и товары, проводим
		предварительные переговоры, составляем контракты, обсуждаем цены, контролируем качество и сроки поставки.
	</p>
	<p>В случае, если Вы решили сотрудничать с найденными нами заводами – мы разрабатываем и подписываем трехсторонние
		договора либо на разовую сделку/поставку, либо на постоянное сотрудничество и представление ваших интересов в
		КНР. Наши гарантии, полномочия, обязанности четко прописываются в контракте. Компания «Берег» заинтересована в
		долгосрочном и перспективном сотрудничестве, поэтому мы к своей работе подходим с полной ответственностью.
	</p>
	<p>Для отправки заявки на <em>поиск производителей или товаров в Китае</em> заполните <a href="#form">форму ниже</a>. При составлении заявки
		постарайтесь максимально точно и полно описать интересующие Вас товары / оборудование / производителей. После
		обработки запроса наш сотрудник свяжется с Вами по телефону для уточнение деталей поиска.
	</p>

	<h2>Услуга поиска товаров в Китае</h2>
	<p><em>Услуга поиска товаров в Китае</em> включает в себя сбор и анализ информации по интересующим товарам на территории КНР.
		После совместного с заказчиком формирования заявки на поиск товаров в Китае, мы приступаем к работе. Проработка
		заявки осуществляется в несколько этапов:
	</p>

	<ul>
		<li>Поиск товаров и производителей в соответствии с критериями клиента</li>
		<li>Исследование рынка, проработка баз данных, <a href="/uslugi-kompanii-bereg">выставок в Китае</a>.</li>
		<li>Ведение переговоров, прямой контакт, посещение производства по желанию.</li>
		<li>Проверка надежности партнеров.</li>
		<li>Оценка производства и качество товаров</li>
		<li>Получение образцов, проведение исследование, сертификация</li>
		<li>Переговоры по цене, условиям и срокам поставки.</li>
	</ul>
	<p class="end">Для формировании заявки на поиск товаров в Китае воспользуйтесь формой ниже.</p>
	<h2>Услуга поиска производителей в Китае</h2>
	<p><strong>Услуга поиска производителей в Китае</strong> позволяет получить полную информацию о любой компании в
		КНР(бесплатно, если данная информация имеется в базе). Поиск и ранжирование производителей осуществляется в
		соответствии с заданными критериями. По вашему требованию мы подготовим полноценный отчет о любой компании в
		Китае, после чего вы сможете объективно оценить технологическое оснащение и финансовую целесообразность
		сотрудничества с компанией.
	</p>
	<p>Мы осуществляем поиск производителей:</p>

	<ul>
		<li><a href="/mini-zavody-iz-kitaya">Мини заводов в Китае</a></li>
		<li><a href="/proizvodstvennye-linii-iz-kitaya">Производственных линий в Китае</a></li>
		<li><a href="/oborudovanie-iz-kitaia">Оборудования в Китае</a></li>
		<li>Станков и товаров</li>
	</ul>

	<p class="end">Услуга поиска производителя в Китае включает:</p>

	<ul>
		<li>Общая информация (адрес, сайт, телефон, факс, юр.форма, капитал)</li>
		<li>Описание структуры предприятия</li>
		<li>Оценка технологического оснащения компании</li>
		<li>Квалификация сотрудников и рабочих</li>
		<li>Оценка сертификации и стандартизации</li>
		<li>Анализ финансовых показателей</li>
		<li>Цены на интересующие товары</li>
		<li>Позиции производителя на рынке</li>
		<li>Ответственность за качество и сроки изготовления</li>
		<li>Мониторинг и анализ конкурентов.</li>
	</ul>
	<h2 class="end">Форма поиска производителей и товаров в Китае</h2>
{% endblock %}