{% extends 'layout/list_layout.html' %}
{% block header %}{% endblock %}
{% block rotate %}{% endblock %}
{% block footer %}{% endblock %}
{% block list %}{% endblock %}
{% block title %}Карта сайта{% endblock %}
{% block h1 %}Карта сайта{% endblock %}
{% block text %}
	<style type="text/css">
	li ul{
		padding-left: 20px;
	}
	</style>
	<header>
		<h1 class="title">Карта сайта</h1>
	</header>
	<div class="xmap">
		<div class="componentheading">SiteMap</div>
		<div class="contentpaneopen">
			<h2 class="menutitle">Меню сайта</h2>
			<ul class="level_0">
				<li>
					<a href="/" title="Главная || Станки, оборудование, линии производства из Китая - компания «Берег»">Главная
						|| Bereg-cn.ru</a></li>
				<li>
					<a href="/proizvodstvennye-linii-iz-kitaya" title="Производственные линии, линии производства из Китая">Производственные
						линии из Китая</a>
				<li><a href="/mini-zavody-iz-kitaya" title="Мини заводы и мини производства из Китая">Мини заводы из
					Китая</a>
				<li><a href="/oborudovanie-iz-kitaia" title="Оборудование из Китая">Оборудование из Китая</a>
					<ul class="level_1">
						<li><a href="/termoplastavtomaty-kitay" title="Термопластавтоматы Китай">Термопластавтоматы
							Китай</a></li>
						<li><a href="/termoplastavtomat-yj800" title="Мини термопластавтомат YJ800">Мини
							термопластавтомат YJ800</a></li>
						<li><a href="/termoplastavtomat-yj1000" title="Мини термопластавтомат YJ1000">Мини
							термопластавтомат YJ1000</a></li>
						<li><a href="/termoplastavtomat-yjk1200" title="Мини термопластавтомат YJK1200">Мини
							термопластавтомат YJK1200</a></li>
						<li><a href="/termoplastavtomat-yj1500" title="Термопластавтомат YJ1500">Термопластавтомат
							YJ1500</a></li>
						<li><a href="/termoplastavtomat-yjk2000" title="Термопластавтомат YJK2000">Термопластавтомат
							YJK2000</a></li>
						<li><a href="/termoplastavtomat-yjk2200" title="Купить термопластавтомат YJK2200">Термопластавтомат
							YJK2200</a></li>
						<li><a href="/termoplastavtomat-yjk2500" title="Купить термопластавтомат YJK2500">Термопластавтомат
							YJK2500</a></li>
						<li><a href="/termoplastavtomat-yjt3580" title="Купить термопластавтомат YJT3580">Термопластавтомат
							YJT3580</a></li>
						<li>
							<a href="/termoplastavtomat-yjt3880" title="Термопластавтомат YJT3880 - производство средних и крупных изделий из пластмассы">Термопластавтомат
								YJT3880</a></li>
						<li>
							<a href="/termoplastavtomat-yjt5080" title="Термопластавтомата YJT5080 | Производство изделий из пластмассы">Термопластавтомата
								YJT5080 | Производство изделий из пластмассы</a></li>
						<li>
							<a href="/termoplastavtomat-yjt5600" title="Термопластавтомата YJT5600  | Инжекционно-литьевая машина">Термопластавтомата
								YJT5600 | Инжекционно-литьевая машина</a></li>
						<li>
							<a href="/termoplastavtomat-yjt6600" title="Термопластавтомат YJT6600 | Литье пластмассы под давление">Термопластавтомат
								YJT6600 | Литье пластмассы под давление</a></li>
						<li>
							<a href="/termoplastavtomat-yjt7500" title="Термопластавтомат YJT7500 | Изготовление деталей из пластмассы">Термопластавтомат
								YJT7500 | Изготовление деталей из пластмассы</a></li>
						<li>
							<a href="/termoplastavtomat-yjt13000" title="Термопластавтомат YJT13000 | Изготовление изделий из пластмассы">Термопластавтомат
								YJT13000 | Изготовление изделий из пластмассы</a></li>
						<li>
							<a href="/termoplastavtomat-yjw1580" title="Термопластавтомат YJW1580 | изготовление изделий из полимеров">Термопластавтомат
								YJW1580 | изготовление изделий из полимеров</a></li>
						<li>
							<a href="/termoplastavtomat-yjw11000" title="Термопластавтомат YJW11000 | Машина для литья полимеров">Термопластавтомат
								YJW11000 | Машина для литья полимеров</a></li>
						<li><a href="/termoplastavtomat-yjfs1600" title="Термопластавтомат YJFS1600">Термопластавтомат
							YJFS1600</a></li>
						<li>
							<a href="/termoplastavtomat-yjw16000" title="Термопластавтомат YJW16000 | производство крупных изделий из полимеров">Термопластавтомат
								YJW16000 | производство крупных изделий из полимеров</a></li>
						<li><a href="/ekstruzionno-vyduvnye-mashiny" title="Экструзионно выдувные машины">Экструзионно
							выдувные машины</a></li>
					</ul>
				<li>
					<a href="/uslugi-kompanii-bereg" title="Услуги компании «Берег»| Покупка, растаможка, поставка оборудования из Китая | Поиск оборудования в	Китае | Перевод китайских сайтов и текстов | Посещение выставок в Китае">Услуги
						компании «Берег»</a>
					<ul class="level_1">
						<li>
							<a href="/perevod-s-kitayskogo-i-na-kitayskiy-saytov-tekstov-dokumentov" title="Перевод с китайского и на китайский сайтов, текстов, документов">Перевод
								с китайского и на китайский сайтов, текстов, документов</a></li>
					</ul>
				<li><a href="/poisk-proizvoditelei-i-tovarov-v-kitae" title="Поиск производителей и товаров в Китае">Поиск
					производителей и товаров в Китае</a>
				<li><a href="/about-us" title="Компания «Берег» - импорт товаров и оборудования из Китая">Компания Берег
					| Импорт товаров и оборудования из Китая </a>
					<ul class="level_1">
						<li>
							<a href="/etapy-postavki-tovarov-i-oborudovaniia" title="Этапы поставки товаров и оборудования">Этапы
								поставки товаров и оборудования</a></li>
					</ul>
				<li><a href="/articles" title="статьи">статьи</a></li>
				<li><a href="/contacts" title="Наши контакты, форма обратной связи">Наши контакты | Форма обратной
					связи</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}