#rotate ul#headPics {
	width: 990px;
	height: 170px;
	overflow: hidden;
	list-style: none;
}

#rotate ul#headPics li {
	position: absolute;
	display: none;
}

#headPics img {
	max-width: 735px;
	float: right;
	display: block;
}

#headPics .infopics {
	width: 215px;
	float: left;
	padding: 20px;
	font-size: 19px;
	text-transform: uppercase;
}

#headPics .infopics p {
	color: #4486ba;
	display: block;
	margin: 0;
}

#paginatepics li.active a {
	background-color: #125084;
}

#galrotate {
	width: 530px;
	float: left;
}

#galrotate ul#gallPics {
	width: 530px;
	height: 278px;
	overflow: hidden;
	list-style: none;
}

#galrotate ul#gallPics li {
	position: absolute;
	display: none;
}

#footerSlider {
	width: 820px;
	height: 349px;
	overflow: hidden;
}

#footerSlider ul#footerPics {
	height: 349px;
	list-style: none;
}

#footerSlider ul#footerPics li {
	position: absolute;
	display: none;
}

#nav li ul {
	z-index: 9999;
}

.footerContent {
	padding: 0;
	float: left;
}

.lista3-col li {
	width: 264px;
	margin-right: 14px;
	float: left;
}

.lista3-col li div {
	background: #eeeded;
}

ul.faq {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.faq li.pergunta {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
	background: url(/public/img/service/faq_setas.png) no-repeat 0 -2px;
	padding-left: 20px;
}

ul.faq li.pergunta a {
	color: #606060;
}

ul.faq li.pergunta.aberta {
	background-position: 0 -58px;
}

ul.faq li.resposta {
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 25px;
	margin-left: 20px;
	display: none;
	color: #808080;
}

h3.cursos {
	color: #b9b9b9;
}

#pagination {
	list-style: none;
	text-align: center;
}

#pagination li {
	display: inline-block;
	background-color: #6D6D6D;
	color: #fff;
	height: 23px !important;
	width: 25px !important;
}

#pagination li.currentPage {
	background-color: #EEEDED;
}

#pagination li.currentPage a {
	color: #333;
}

#pagination li a {
	color: #fff;
	display: inline-block;
	padding-top: 4px;
	height: 19px !important;
	width: 25px !important;
	text-align: center;
}

#pagination li.next {
	float: right;
	width: 65px !important;
}

#pagination li.next a {
	width: 65px !important;
}

#pagination li.prev {
	float: left;
	width: 65px !important;
}

#pagination li.prev a {
	width: 65px !important;
}

#produtoHome li {
	display: inline-block;
}

#produtoHome li a {
	padding: 5px;
	width: 142px;
	text-align: center;
	display: inline-block;
	margin-right: 5px;
}

#produtoHome li a.lastLink {
	margin-right: 0 !important;
}

.lista3-col li div {
	height: 319px !important;
	overflow: hidden;
}

#header h1 a {
	background-image: url(/public/img/service/logo.png) !important;
}

.contentTab .desc {
	width: 210px;
	padding: 20px 20px 20px 0;
}

.lista3-col h4 {
	margin-bottom: 7px;
}

.lista3-col li li {
	margin-bottom: 18px;
}

#cursoInscreve {
	padding: 4px 12px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	background-color: #AFABAA;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.extraTabContent {
	background: #fff;
	padding: 0 20px 20px 20px;
}

.stylefomrs input[type=text].error, .stylefomrs  select.error, .stylefomrs  textarea.error {
	border: 1px solid #933;
}

.stylefomrs label.error {
	display: block;
	margin: -10px 0 0 0;
	pagging: 0;
	font-size: 9px;
	color: #933;
}

#nav li a {
	padding: 19px 8px 16px 7px;
}

.osMac #nav ul {
	margin-top: 1px !important;
}

.osMac #nav ul li ul {
	margin-top: -1px !important;
}

.osMac #nav li a, .Firefox4 #nav li a, .Firefox5 #nav li a {
	padding: 19px 9px 16px 9px;
}

#lang a.current {
	color: #F25835;
}

#lang a:hover {
	color: #F25835;
}

#sidebar h3.titlename {
	height: 26px !important;
}

#sidebar .boxParceiro h3.titlename {
	height: auto !important;
}

.sideAds, .sideAds span {
	text-transform: none !important;
}

.copyNotice {
	color: #fff;
}

#entry h2 a {
	font-size: 20px;
}

#nav li ul {
	padding-bottom: 2px;
	opacity: 0.9;
}

#nav ul li ul li a, #nav li.zero ul li a {
	background-color: #000 !important;
	text-transform: none !important;
	padding: 5px 15px !important;
}

#nav ul li ul li a:hover, #nav li.zero ul li a:hover {
	color: #F25835 !important;
	background-color: #000 !important;
	padding: 5px 15px !important;
}

#model-prod h2 {
	margin-bottom: 40px;
}

#nav .openMenu {
	color: #F25835 !important;
}

.contentTab a.homeLinks {
	height: 17px;
	padding-right: 23px;
	background-position: top right;
	background-repeat: no-repeat;
	text-indent: 0;
	width: 150px;
	text-align: right;
	left: 580px;
}

#artigo #headPics img {
	max-width: 780px !important;
	float: right;
	display: block;
	max-height: 290px !important;
}

#header div.logo a {
	display: block;
	background: url(/public/img/service/logo.png) no-repeat !important;
	width: 280px;
	height: 68px;
	float: left;
	position: relative;
	top: -10px;
	text-indent: -9999px;
	margin: 0px !important;
}

.contentTab #paginatepics a {
	display: block;
	float: left;
	background: #408fd1;
	padding: 2px 4px;
	opacity: 0.8;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	width: auto;
	height: auto;
	text-indent: 0;
	position: relative;
	left: 0;
	top: 0;
}

.leftContent div.tabContent a, a.linkMais {
	color: #005CFF;
	text-decoration: none;
}

.leftContent div.tabContent a:hover, a.linkMais:hover {
	text-decoration: underline;
}

#favoritos ul li {
	background-repeat: repeat-x;
}

#favoritos ul li .removeFave {
	margin: -4px 0 0 5px;
	display: block;
	color: #fff;
}

.duvidas {
	background-image: url(/public/img/service/duvidas.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	height: 38px;
	width: 410px;
	margin: 28px 0 0 175px;
	padding: 14px 0 0 40px;
	font-size: 14px;
	font-weight: bold;
}
html body.osWindows div#wrapper div#content-820p div.content div#artigo div.post p.end,
html body.osWindows div#wrapper div#content-820p div.content div#artigo div.post h2.end,
html body.osWindows div#wrapper div#content-990p div.content div#model-prod h2.end,
html body.osWindows div#wrapper div#content-990p div.content div#model-prod p.end
{
	padding-top: 20px;;
}
html body.osWindows div#wrapper div#content-990p div.content div#model-prod ul li{
	width: 419px;
}
html body.osWindows div#wrapper div#content-990p div.content div#model-prod p{
	margin-bottom: 25px; font-size: 14px; line-height: 20px;
}
html body.osWindows div#wrapper div#content-990p div.content div#model-prod ul.products li span.desc a,
html body.osWindows div#wrapper div#content-820p div.content div#artigo div.post p a,
html body.osWindows div#wrapper div#content-820p div.content div#artigo div.post ul li a{
	color: blue;
	text-decoration: underline;
}
html body.osWindows div#wrapper div#content-990p div.content div#model-prod ul.products li span.desc a:hover,
html body.osWindows div#wrapper div#content-820p div.content div#artigo div.post p a:hover,
html body.osWindows div#wrapper div#content-820p div.content div#artigo div.post ul li a:hover{
	color: blue;
	text-decoration: none;
}
html body.osWindows div#wrapper div#content-990p div#sidebar{
	padding-top: 15px;
}
.uni_form label{
	font-weight: bold;
}
.uni_form input{
	border: 1px solid;
	display: block;
}
.uni_form textarea{
	width: 300px;
	height: 200px;
	border: 1px solid;
	display: block;
}
.uni_form input.button{
	border: 0;
}
.center{
	text-align: center;
}
.left{
	float: left;
}
.right{
	float: right;
}
.footer a{
	color: #96BCFF;
}