
/* CSS Finamac  */
/* Jan/2011  */
/* by andrebeltrame */

/* reset */
* { margin:0; padding:0; border:0;}
.c { clear:both}
.l { float:left}
.r { float:right;}
a { text-decoration:none; color:#404040 }
body { font-family: Arial, 'Helvetica'; font-size:12px; color:#404040  }

#wrapper, .wrapper { width:990px; margin:0 auto;}
#header { margin:20px 0px 15px 0px; }
#lang { display: block; height:20px; }
li#en { border-right:1px solid #787676;}
#lang li { display:block; float:right;}
#lang a { text-transform:uppercase; color:#787676; text-decoration:none; font-size:11px; padding:1px 5px 1px 5px;  }
#header h1 a { display:block; background: url(/public/img/service/logo.gif); width:213px; height:35px; float:left; text-indent:-9999px; margin:10px 0px 0px 0px;}
#header #login { display:block; padding:6px 5px 0px 5px; float:left; font-size:14px; color:#787676; text-decoration:none}
#header  .r { width:250px; margin-bottom:15px;}
#header h3 { display:block; float:left; margin:30px 0px 0px 100px; text-transform:uppercase; color:#787676;}
#header h3 span.on a { color:#f25835; text-decoration:none;}

#searchform { float:right }
#searchform input[type=text] { background:url(/public/img/service/searchField.gif) no-repeat; width:115px; height:23px; float:left; padding:0px 0px 3px 20px;}
#searchform input[type=submit] { background:url(/public/img/service/btnSearch.gif); width:27px; height:26px; float:left; cursor:pointer;}

#nav { background:url(/public/img/service/navHolder.gif); width:990px; height:49px;}
#nav ul { list-style:none; display:block; float:left; margin-left:7px;}
#nav li { display:block; float:left; position: relative;}
#nav li a {margin:0 0 0 2px; display:block; padding:19px 8px 16px 8px; float:left; background:url(/public/img/service/separa.gif) right bottom no-repeat; font-size:10px; color:#f6f6f6; font-weight:bold; text-transform:uppercase; text-decoration:none;}
#nav li.zero a { margin-right:0px !important; background:none!important;}
#nav .current a, #nav a:hover { color:#f67027 }
#nav li ul { display: none; position: absolute; top: 47px; left: -8px; width:145px;  background: #4b4b4b;  -webkit-border-bottom-left-radius: 4px;  -webkit-border-bottom-right-radius: 4px;  -moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px;  border-bottom-left-radius: 4px;  border-bottom-right-radius: 4px;  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.15);  -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.15);  box-shadow: 0 3px 3px rgba(0,0,0,0.15); padding-bottom:30px;  }
#nav li:hover ul { display: block;  }
#nav li ul li { float: none;}
#nav li ul li a {  padding: 8px 8px 8px 8px;  background: none #000;  display: block; float:none!important}
#nav li ul li a {display: block;}
#nav li ul li a:hover {background: #444; color: #bbb; }


#rotate { background:#eeeded; height:170px; margin-bottom:15px; position:relative}

/* Pics */
#headPics img { max-width:750px; float:right; display:block;}
#headPics .infopics { width:200px; float:left; padding:20px; font-size:19px; text-transform:uppercase;}
#headPics .infopics a { color:#4486ba; display:block }
#headPics .infopics a:hover { color:#408fd1; }
#paginatepics {  bottom:20px; right:40px; z-index:9999; position:absolute; list-style:none; }
#paginatepics li { display:block; float:left; margin-left:2px; }
#paginatepics li a { display:block; float:left; background:#408fd1; padding:2px 4px; opacity:0.8; -moz-border-radius: 2px; border-radius: 2px; color:#fff;  }

#footerpagination {  bottom:35px; left:625px; z-index:9999; position:relative; list-style:none; }
#footerpagination li { display:block; float:left; margin-left:2px; }
#footerpagination li a { display:block; float:left; background:#408fd1; padding:2px 4px; opacity:0.8; -moz-border-radius: 2px; border-radius: 2px; color:#fff;  }
#footerpagination li.active a { background-color: #125084;}

#content-820p { width:820px; float:left; margin:0px 0px 50px 0px }
#content-990p { width:990px; margin:0px 0px 50px 0px  }
.content { background:#eeeded; padding:20px; }
#content-990p .content { background:#eeeded; }
#content-990p #sidebar .boxParceiro span  { background:#fff; }
.leftContent { width:780px; margin:0px 10px 20px 0px; float:left;}
.proSlider { border: 3px solid #c8c7c7; margin-bottom:15px;}
#model-prod { padding:20px 25px 20px 45px;}
#model-prod h2 { text-transform:uppercase; color:#f67027; font-size:36px; margin-bottom:20px;}
#model-prod ul { list-style:none;}
#model-prod li { position:relative; display:block; width:202px; height:285px; margin-right:15px; float:left; background:url(/public/img/service/libottom.gif) #fff repeat-x bottom; margin-bottom:20px;}
#model-prod h3 a { display:block; color:#000; font-size:18px; padding:2px 5px 5px 5px; border-bottom: 1px solid #acacac; min-height:40px; margin:0px 5px 0px 5px;}
#model-prod span { display:block;  padding:5px }
#model-prod .tipo  { color:#005cff;}
#model-prod .tags { position:absolute; bottom:0; padding:0px 5px 2px 5px; color:#fff;}

/* tab para produtos single */
#tab { list-style:none;}
#tab li { display:block; float:left;}
#tab a { display:block; background:#afabaa; float:left; padding:8px 8px 2px 8px;  margin-right:1px; font-size:12px; color:#fff; height:22px; text-align:center;  }
#tab a:hover, #tab .aberto a { background:#fff; color:#000;}
#tab .vantagens a { padding:1px 8px 9px 8px }
.tabContent { background:#fff; padding:20px;}
.tabContent p { font-size:13px; margin-bottom:15px;}
a.fave { display:block; background: url(/public/img/service/more.png) no-repeat right; text-align:right; padding-right:20px; width:200px; float:right; }

.titlename   { display:block; padding:10px 10px 10px 10px;  color:#fff; text-transform:uppercase; font-size:11px; background:#6d6d6d; font-weight:bold;}
.secNav a { display:inline; margin:0px 10px 0px 5px; color: #bebbbb;}
.navContato a { margin-right:2px !important; font-size:10px;}
.secNav a:hover, .secNav .aberto { color:#f67027;}
#sidebar { width:160px; float:right; margin:0px 0px 50px 0px}
#sidebar h3.titlename { padding:4px 10px 4px 10px; font-weight:lighter}
#sidebar h3.titlename span {   padding:0px 10px 0px 0px; text-transform:capitalize;}
.boxParceiro { margin:15px 0px 2px 0px}
.boxParceiro span { background:#eeeded; display:block; padding:10px; text-decoration:none;}

#artigo, #artigoSec { background:#fff;}
#artigo .post, #artigoSec .post {  margin:15px; padding:20px; }
#artigo h2,  #artigoSec h2 { color:#343434; font-size:24px; font-weight:lighter; display: block; margin-bottom:20px; text-transform:uppercase;}
#artigo p,  #artigoSec p { margin-bottom:20px; color:#343434; font-size:13px;}
#artigoSec { margin-top:20px;}

.navRelated { display:block; float:right; list-style:none; line-height:19px; text-align:right}
.navRelated a { color:#4b4b4b; }
.navRelated a:hover, .navRelated .aberto a { color:#f67027; }

/* margens default para divs dentro da content 820p */
.custom_tab {  }

#produtoHome { list-style:none;}
#produtoHome li { display:block; float:left}
#produtoHome a { display:block; padding:5px 45px 5px 45px; float: left; background:#afabaa; color:#fff; font-size:18px; text-decoration:none; margin-right:10px;}
#produtoHome a:hover {  background:#d2cccf; color:#656565;}
#produtoHome .aberto a {  background:#125084; color:#fff;}
.contentTab { border:4px solid #d6d6d6; position:relative; background:#fff;}
.contentTab img { float:left; max-width:530px;}
.contentTab .desc { float:right; width:190px; padding:20px;}
.desc h3 { color:#828081; margin:35px 0 0 0} .desc p { color:#1c5fae;}
.desc h3, .desc p { font-size:20px; text-align:left; text-transform:uppercase; font-weight:lighter; margin: 0 0 0 10px; }
.sliderHolder { background:#e1dcdf; padding:15px 0px 15px 0; }
.contentTab a.maisDestaque { display: block; background:url(/public/img/service/more.png); width:17px; height:17px; text-indent:-9999px; position:absolute; left:740px; top:250px; }
.lista3-col { display:block; list-style:none; margin:15px 0px 15px 0px; }
.lista3-col li { width:250px; margin-right:15px; float:left; }
.lista3-col li div { padding:10px; background:#fff; min-height:280px;}
.lista3-col h4 { color:#0057a5; font-weight:lighter; font-size:14px; margin-bottom:15px;}
.lista3-col li ol { list-style:none;}
.lista3-col li li { display:block; float:none; margin-bottom:10px; width:230px;}
.lista3-col li li a { text-transform:uppercase; color:#0057a5; text-decoration:none;}
.lista3-col p { font-size:12px; color:#4e4f4f; }
.lista3-col .ultima { margin-right:0px!important}
.lista3-col .licursos div { padding:10px 0px 10px 0px}
.lista3-col .licursos h4 { margin:0px 10px 10px 10px}

#getBlog { margin:15px 0px 0px 0px; }
#getBlog h4 a { color:#4a4a4a; text-transform:uppercase; margin:0px 0px 15px 0px; display:block;}


#footer { background:#4b4b4b; clear:both; width:100%; }

/*Redes sociais
<li class="fl"><a href="#">Flickr</a></li>
<li class="yt"><a href="#">Youtube</a></li>
<li class="rss"><a href="#">Feeds</a></li>
<li class="wp"><a href="#">Wordpress</a></li>
<li class="tw"><a href="#">Twitter</a></li>
<li class="fb"><a href="#">Facebook</a></li>
<li class="okt"><a href="#">Orkut</a></li>
<li class="in"><a href="#">linked-in</a></li>
*/

#sociais { display:block; list-style:none; float:right; margin-top:-25px;}
#sociais li { display: block; float:left; }
#sociais a { display:block; float:left; margin-left:10px; width:47px; height:47px; background:url(/public/img/service/sociais.png) no-repeat; text-indent:-9999px;}
#sociais .fl a { background-position: 0px 0px;}
#sociais .yt a { background-position: -54px 0px;}
#sociais .rss a { background-position: -110px 0px;}
#sociais .wp a { background-position: -165px 0px;}
#sociais .tw a { background-position: -220px 0px;}
#sociais .fb a { background-position: -275px 0px;}
#sociais .you a { background-position: -439px 0px;}

#sociais .fl a:hover { background-position: 0px bottom;}
#sociais .yt  a:hover { background-position: -54px bottom;}
#sociais .rss  a:hover { background-position: -110px bottom;}
#sociais .wp  a:hover { background-position: -165px bottom;}
#sociais .tw  a:hover { background-position: -220px bottom;}
#sociais .fb  a:hover { background-position: -275px bottom;}
#sociais .you  a:hover { background-position: -439px bottom;}



#footer .links { float:left; width:165px; margin:20px 0px 20px 0px }
#footer .links ol { list-style:none; margin:0px 0px 10px 0px}
#footer .links a { text-decoration:none;}
#footer .links li a { text-decoration:none; text-transform:lowercase; color:#d1d1d1; font-size:14px; padding-right:10px;}
#footer .links li a:hover { border-bottom:1px dotted #d1d1d1}
#footer .links h3, #footer .links h3 a { text-transform:uppercase; color:#96bcff; font-size:14px; display:block; margin:0px 0px 10px 0px}




/* J query Carrousel  Faves */
#favoritos { position: relative; overflow: hidden ; width: 100%; height: 265px; margin:0 0 0 0}
#favoritos ul {     width: 20000px; position: absolute; list-style: none; margin: 0; padding: 0; }
#favoritos ul li { background:url(/public/img/service/libottom.png) bottom no-repeat; float:left; margin:0; padding:0 28px 0 0}

.jcarousel-next-horizontal {  position: absolute; top:-30px;  right: 0px;  width: 28px;  height: 26px; cursor: pointer;   background: url(/public/img/service/next.png); }
.jcarousel-prev-horizontal {  position: absolute; top:-30px;  left:  0px;  width: 28px;  height: 26px; cursor: pointer;   background: url(/public/img/service/prev.png); }
.jcarousel-next-horizontal:hover, .jcarousel-prev-horizontal:hover  {background-position:-28px; }

#favoritos ul  h3 a { display:block; color:#000; padding:10px 10px 5px 10px; font-size:15px;}
#favoritos ul li:hover h3 a { color:#f67027 }

.jcarousel-skin-fave .jcarousel-clip-horizontal {  width:  100%; margin-left:0px;}
*[dir=rtl] .jcarousel-skin-fave  li { float: right; margin: 0 0 0 10px; }
.jcarousel-skin-fave  li img { border: 0; }

.envia_favo{ width:250px; text-align:center; background-color:#666; color:#fff; padding:10px 0 10px 0; margin:20px 265px 0 250px; float: left; }
.envia_favo h3:hover{ color:#f67027 }

/*Cï¿½digo Antigo*/
/* lista  produtos favoritos
#favoritos { position: relative;   overflow: hidden; width: 75%; height: 182px;}
#favoritos ul { list-style:none;}
#favoritos ul li { display:block; width:160px; height:180px; border:1px solid #000; background:url(libottom.gif) bottom no-repeat; float:left; margin-right:20px;}
#favoritos ul li { display:block; width:160px; background:url(libottom.gif) bottom no-repeat; float:left; margin-right:20px;}

#favoritos ul  h3 a { display:block; color:#000; padding:10px 10px 5px 10px; font-size:15px;}
.mainprodlist .latest { margin-right:0px!important}
#favoritos ul li:hover h3 a { color:#f67027 }
*/

/* J query Carrousel  Faves
.jcarousel-skin-fave .jcarousel-direction-rtl {	direction: rtl;}
.jcarousel-skin-fave .jcarousel-container-horizontal {   }
.jcarousel-skin-fave .jcarousel-clip-horizontal {  width:  728px; margin-left:95px;	}
.jcarousel-skin-fave .jcarousel-item-horizontal { margin-left: 0; }
.jcarousel-skin-fave .jcarousel-direction-rtl .jcarousel-item-horizontal {margin-left: 10px;   margin-right: 0;}

.jcarousel-next-horizontal {  position: absolute;   top:8px;   right: 0px;   width: 28px;  height: 168px;  cursor: pointer;   background: url(next.gif); }
.jcarousel-next-horizontal:hover, .jcarousel-prev-horizontal:hover  {background-position:-28px; }

.jcarousel-prev-horizontal {  position: absolute; top:8px;  left: 5px;  width: 28px;  height: 168px;   cursor: pointer;   background: url(prev.gif);}
*/

/* formularios */

.stylefomrs {}
.stylefomrs label  { display:block; }
.stylefomrs input[type=text] { border:1px solid #a4a4a4; padding:3px; width:180px; margin-bottom:10px;}
.stylefomrs input[type=checkbox] { border:1px solid #a4a4a4; padding:3px;}
.stylefomrs .ddd { width:25px !important;}
.stylefomrs  select { border:1px solid #a4a4a4; padding:3px; width:180px; margin-bottom:10px; font-size:11px;}
.stylefomrs  textarea { width:600px !important; height:150px;  border:1px solid #a4a4a4; padding:3px; width:180px; margin-bottom:10px; }
/*.stylefomrs .botoes { background:#6d6d6d url(barraenvia.gif) no-repeat center; padding:9px;}*/
.stylefomrs .botoes { background: #6D6D6D; padding: 10px 50px 10px 310px;}
.stylefomrs .buttom { background:transparent;  color:#fff; font-weight:bold; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; text-align:center; width:90px; margin: 0 auto}
.stylefomrs  .reset { margin-left:255px;}


/* inicio pagina de lista noticias */
#entry { padding:30px;}
#entry .tituloNoticias { font-size:30px; color:#039; font-weight:bold; color:#025aa4; margin-bottom:40px;}
#entry h2 a { font-size:22px; color:#ed860f}
#entry .metadata { color:#6d6d6d; font-size:11px;}
#entry .metadata a:hover { text-decoration:underline; color:#ed860f}
#entry h2 a:hover { text-decoration:underline}
#entry .the_coment { float:right}
#entry .the_coment a { display:block; background:url(/public/img/service/comment.jpg) no-repeat right; padding-right:30px; height:25px; color:#7a7a7a }
#entry .lermais { font-weight:bold; font-size:14px; color:#7a7a7a}
#entry .lermais:hover { text-decoration:underline}
#entry hr { border:1px solid #ccc; margin:20px 0 20px 0;}


/* single - noticias  */
#comments h3  { font-size:18px; margin-bottom:40px;}
.listcomments { list-style:none; display:block;}
.listcomments .avatar { display:block; width:40px; height:40px; padding:5px; background:#7a7a7a; float:left; margin:0 15px 15px 0}
.listcomments li { border-left:1px dotted #ccc; border-bottom:1px dotted #ccc; padding:10px; margin-bottom:10px;}
.listcomments li:hover { background:#ffedd8;}
.listcomments .commentData { font-size:11px;}
.listcomments .commentName { font-weight:bold; margin-bottom:15px}

#commentform { width:420px;}
#commentform label { display:block; width:100px; float:left;}
#commentform  div { clear:both; }
#commentform input { border:1px solid #ccc; padding:5px; width:300px; float:left; margin-bottom:10px;}
#commentform textarea {  border:1px solid #ccc; padding:5px; width:300px; margin-bottom:10px;}
#commentform input[type=submit] { border:none; background:#7a7a7a; color:#fff; float:right; margin-right:10px; width:310px;}
#commentform input:hover, #commentform textarea:hover { border-color:#222}

/* cool and best and georgeus css3 classes */
.top5, #produtoHome a, #tab a { -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;}


/*Formulario*/
.label_template { float: left; padding: 0 1px; margin: 0 0 0 10px; }

.img_a {background:url(http://www.finamac.com.br/imagens/for_sorvete.png); background-repeat: no-repeat; background-position: 10px 34px;height:109px}
.img_b {background:url(http://www.finamac.com.br/imagens/for_picoles.png); background-repeat: no-repeat; background-position: 10px 34px;height:109px}
.img_c {background:url(http://www.finamac.com.br/imagens/for_gelato.png); background-repeat: no-repeat; background-position: 10px 34px;height:109px}
.img_d {background:url(http://www.finamac.com.br/imagens/for_chocolate.png); background-repeat: no-repeat; background-position: 10px 34px;height:109px}
.img_e {background:url(http://www.finamac.com.br/imagens/for_outros.png); background-repeat: no-repeat; background-position: 10px 34px;height:150px}

.label_form { border-bottom: 21px solid #CCC; width: 110px; height: 80px; margin: 10px 0 0 10px; float: left; }
.label_form input{ margin:60px 0 0 50px ; }
.label_form label{ background-color: #999; color:#fff; height: 19px; text-align: center; padding: 5px 0 0 0; }

.label_form input[type="checkbox"] { border:none; padding:0; }

.medidas{ padding:35px 0 0 15px;  }

.alert {  }