{% extends 'layout/extr_layout.html' %}
{% block title %}DHB-80, DHB-90, DHB-100, DHB-110 | Оборудование для производства емкостей из пластика{% endblock %}
{% block keywords %}Экструзионно, выдувное, оборудование, DHB-80, DHB-90, DHB-100, DHB-110, производство, пластик,
	емкость технические, характеристики.{% endblock %}
{% block description %} Поставка оборудование для производства пластиковых емкостей объемом до 160 л. Купить
	экструзионно выдувные машины DHB-80, DHB-90, DHB-100, DHB-110.{% endblock %}
{% block h1 %}Экструзионно выдувное оборудование DHB80-110 для производства емкостей{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/extr/top/ekstruzionno-vyduvnye_DHB80-100.jpg" width="530" height="278" border="0" alt="Экструзионно выдувное оборудование серии DHB80-110"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p>Экструзионно выдувное оборудование серии DHB80-110 – промышленные автоматы, используемое в промышленности для
		<strong>производства емкостей из пластика</strong> объемом до 160 литров. Сырьем для производства служит
		полиэтилен, полипропилен, акрилонитрил-бутадион-стирол и другие аналогичные материалы. Оборудование DHB-80,
		DHB-90, DHB-100, DHB-110 оснащено системой контроля с обратной связью, высокотехнологичной системой смыкания
		прессформы, баком аккумуляции сырья. Особенность данной серии: 1) Гидравлика имеет двойной пропорциональный
		контроль давления. 2) Высокая скорость выпуска продукции и надежность в процессе эксплуатации. 3) Высокая
		экономия электроэнергии, порядка 30%.
	</p>

	<p>Благодаря невысокой цене и хорошей производительности, экструзионно выдувное оборудование DHB-80, DHB-90,
		DHB-100, DHB-110 быстро окупает себя. Программа производства пластиковых бочек вводится с центрального
		компьютера по средствам сенсорного ЖК-экрана и консольного пульта.
	</p>

	<h2>Характеристики экструзионно выдувного оборудования DHB-80, DHB-90, DHB-100, DHB-110</h2>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>DHB-80</th>
			<th>DHB-90</th>
			<th>DHB-100</th>
			<th>DHB-110</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Используемое сырье</th>
			<td>ПЭ, ПП, АБС-пластик и их производные.</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Max объем производимой тары, л.</th>
			<td>25</td>
			<td>50</td>
			<td>120</td>
			<td>160</td>
		</tr>
		<tr>
			<th>Кол-во головок, шт.</th>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Производительность изделий, шт/ч.</th>
			<td>500</td>
			<td>400</td>
			<td>360</td>
			<td>300</td>
		</tr>
		<tr>
			<th>Размер станка, м.</th>
			<td>4,2х2,3х3,6</td>
			<td>4,6х2,5х3,8</td>
			<td>5,8х2,5х4,6</td>
			<td>6,0х2,9х4,8</td>
		</tr>
		<tr>
			<th>Вес станка, т.</th>
			<td>12</td>
			<td>13,8</td>
			<td>18</td>
			<td>20</td>
		</tr>
		<tr>
			<th>Кол-во зон разогрева, шт.</th>
			<td>4</td>
			<td>4</td>
			<td>4</td>
			<td>5</td>
		</tr>
		<tr>
			<th>Мощность подогрева головки, кВт.</th>
			<td>18</td>
			<td>22</td>
			<td>25</td>
			<td>30</td>
		</tr>
		<tr>
			<th>Max. диаметр сопла, мм.</th>
			<td>300</td>
			<td>350</td>
			<td>450</td>
			<td>510</td>
		</tr>
		<tr>
			<th>Усилие сжатия, кН.</th>
			<td>210</td>
			<td>350</td>
			<td>500</td>
			<td>720</td>
		</tr>
		<tr>
			<th>Ход прессформы, мм.</th>
			<td>350 – 800</td>
			<td>400 – 1000</td>
			<td>500 – 1200</td>
			<td>500 – 1500</td>
		</tr>
		<tr>
			<th>Размер плиты, мм.</th>
			<td>740 х 600</td>
			<td>880 х 780</td>
			<td>1020 х 1260</td>
			<td>1300 х 1300</td>
		</tr>
		<tr>
			<th>Max размер прессформы, мм.</th>
			<td>560 х 630</td>
			<td>700 х 960</td>
			<td>800 х 1260</td>
			<td>900 х 1400</td>
		</tr>
		<tr>
			<th>Толщина прессформы, мм.</th>
			<td>360 – 420</td>
			<td>450 - 510</td>
			<td>510 - 650</td>
			<td>510 – 700</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм.</th>
			<td>80</td>
			<td>90</td>
			<td>100</td>
			<td>110</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>25</td>
			<td>25</td>
			<td>25</td>
			<td>25</td>
		</tr>
		<tr>
			<th>Скорость впрыска, кг/ч.</th>
			<td>100 - 120</td>
			<td>120 - 200</td>
			<td>180 - 270</td>
			<td>200 – 280</td>
		</tr>
		<tr>
			<th>Мощность подогрева шнека, кВт.</th>
			<td>20,2</td>
			<td>21,6</td>
			<td>26</td>
			<td>28</td>
		</tr>
		<tr>
			<th>Мощность привода экструдера, кВт.</th>
			<td>30-37</td>
			<td>37-45</td>
			<td>45-55</td>
			<td>55-75</td>
		</tr>
		<tr>
			<th>Мощность масляного привода, кВт.</th>
			<td>22</td>
			<td>30</td>
			<td>37</td>
			<td>37</td>
		</tr>
		</tbody>
	</table>
	<p>Вся серия экструзионно выдувных машин представлена по ссылке <a href="/ekstruzionno-vyduvnye-mashiny">экструзионно
		выдувное оборудование</a>.
	</p>

	<p><em>Заказать экструзионно выдувное оборудование</em> DHB-80, DHB-90, DHB-100, DHB-110 вы можете связавшись с нами
		или заполнив <a href="/contacts">форму заявки</a>. Если вам не удалось подобрать подходящее <strong>оборудование
			для производства пластиковых емкостей</strong> с заданными параметрами, напишите нам, мы готовы помочь в
		<a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиске производителей</a> на территории Китая.
	</p>

	<p>Поставка, оформление и растаможка мини заводов, <a href="/proizvodstvennye-linii-iz-kitaya">экономичных
		производственных линий из Китая</a> и оборудования осуществляется нашей организацией под заказ.
	</p>
{% endblock %}
