{% extends 'layout/extr_layout.html' %}
{% block title %}DHB-82PC – производство бутылей{% endblock %}
{% block keywords %}Экструзионно, выдувной, автомат, DHB-82PC, производство, поликарбонат, бутыль, технические,
	характеристики..{% endblock %}
{% block description %}Компания Берег поставит экструзионно выдувной автомат DHB-82PC  для производства пластиковых
	бутылей.{% endblock %}
{% block h1 %}DHB-82PC – оборудование для производства бутылей.{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/extr/top/ekstruzionno-vyduvnye_DHB-82PC-.jpg" width="530" height="278" border="0" alt="Экструзионно выдувной автомат DHB-82PC"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p>Экструзионно выдувной автомат DHB-82PC – машина, разработанная специально для <strong>производства
		бутылей</strong> объемом до 25 л. из поликарбоната и её производных. Применяется для массового изготовления
		бутылей (15, 20, 25 литров) и крышек из поликарбоната. Так же отлично подходит для производства защитных
		плафонов светильников и ламп. DHB-82PC собирается в Китае, с использованием
		передовых немецких технологий. Данный экструзионно выдувной автомат обладает высокой производительностью (до 500
		бутылей в час), оснащён различными системами самодиагностики и безопасности. Отличное качество продукции и
		приятная цена обеспечили данному станку популярность в Европе, США и России.
	</p>
	<h2>Характеристики DHB-82PC автомата для производства бутылей</h2>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>DHB-82PC</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Используемое сырье</th>
			<td>поликарбонат</td>
		</tr>
		<tr>
			<th>Максимальный объем производимой тары, л.</th>
			<td>25</td>
		</tr>
		<tr>
			<th>Производительность, бутылей/час.</th>
			<td>500</td>
		</tr>
		<tr>
			<th>Кол-во головок, шт.</th>
			<td>1</td>
		</tr>
		<tr>
			<th>Размер станка, м.</th>
			<td>6,5 х 2,6 х 4,7</td>
		</tr>
		<tr>
			<th>Вес станка, т.</th>
			<td>12</td>
		</tr>
		<tr>
			<th>Кол-во зон разогрева, шт.</th>
			<td>4</td>
		</tr>
		<tr>
			<th>Мощность подогрева головки, кВт.</th>
			<td>8</td>
		</tr>
		<tr>
			<th>Max. диаметр сопла, мм.</th>
			<td>150</td>
		</tr>
		<tr>
			<th>Усилие сжатия, кН.</th>
			<td>220</td>
		</tr>
		<tr>
			<th>Ход прессформы, мм.</th>
			<td>350 – 800</td>
		</tr>
		<tr>
			<th>Размер плиты, мм.</th>
			<td>740 х 630</td>
		</tr>
		<tr>
			<th>Max размер прессформы, мм.</th>
			<td>550 х 660</td>
		</tr>
		<tr>
			<th>Толщина прессформы, мм.</th>
			<td>360 х 420</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм.</th>
			<td>82</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>38</td>
		</tr>
		<tr>
			<th>Скорость впрыска, кг/ч.</th>
			<td>150</td>
		</tr>
		<tr>
			<th>Зон подогрева, шт.</th>
			<td>8</td>
		</tr>
		<tr>
			<th>Мощность подогрева шнека, кВт.</th>
			<td>20</td>
		</tr>
		<tr>
			<th>Мощность привода экструдера, кВт.</th>
			<td>34</td>
		</tr>
		<tr>
			<th>Мощность масляного насоса, кВт.</th>
			<td>45</td>
		</tr>
		<tr>
			<th>Мощность обдува, кВт.</th>
			<td>0,9</td>
		</tr>
		<tr>
			<th>Суммарная мощность, кВт.</th>
			<td>90</td>
		</tr>
		<tr>
			<th>Рабочее давление воздуха, МПа.</th>
			<td>1,2</td>
		</tr>
		<tr>
			<th>Воздухопотребление, м3/мин.</th>
			<td>1</td>
		</tr>
		<tr>
			<th>Энергопотребление, кВт.</th>
			<td>42</td>
		</tr>
		</tbody>
	</table>
	<p>С полным перечнем <em>оборудования для производства бутылей</em> вы можете ознакомиться на странице
		<a href="/ekstruzionno-vyduvnye-mashiny">экструзионно-выдувные машины</a>.
	</p>
	<p>Для получения полного описания и консультации по вопросам покупки и поставки экструзионно выдувной автомат DHB-82PC,
		<a href="/contacts">свяжитесь с нами</a>. Если вы не нашли на страницах нашего каталога подходящую машину для
		производства бутылей, подробно заполните заявку на странице <a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск производителя в Китае</a>. Наши
		специалисты подберут оптимальное оборудование в кратчайшие сроки.
	</p>
	<p>Реализуем проекты комплексного <a href="/about-us">импорта оборудования из Китая</a> под ключ.</p>
{% endblock %}
