{% extends 'layout/extr_layout.html' %}
{% block title %}DHB-250A, DHB-250B, DHB-500, DHB-1000 | Оборудование для производства пластиковых бочек.{% endblock %}
{% block keywords %}Экструзионно, выдувное, оборудование, DHB-250A, DHB-250B, DHB-500, DHB-1000, производство, пластик,
	бочек, характеристики.{% endblock %}
{% block description %} Наша компания готова поставить оборудование для производства пластиковых бочек объемом до 1000
	л. Купить экструзионно выдувное оборудование  DHB-250A, DHB-250B, DHB-500, DHB-1000.{% endblock %}
{% block h1 %}DHB-250A, DHB-250B, DHB-500, DHB-1000 - оборудование для производства пластиковых бочек{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/extr/top/ekstruzionno-vyduvnye_DHB250-1000.jpg" width="530" height="278" border="0" alt="Экструзионно выдувное оборудование серии DHB250-1000"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p>Выдувные машины DHB-250A, DHB-250B, DHB-500, DHB-1000 – тяжелое <strong>оборудование для производства пластиковых
		бочек</strong> объемом до 1000 литров. Материалом служит полиэтилен, полипропилен, акрилонитрил-бутадион-стирол
		и т.д. Оборудование данной серии имеет систему точного контроля толщины стенок бочек. Выдувная головка оснащена
		системой накопления подготовленного сырья. Плиты прессформы имеют функцию горизонтальной и вертикальной
		регулировки, что значительно облегчает её замену. Узлы машин собираются из высококачественных деталей (Япония,
		Германия). Экструзионно выдувные машины серии DHB-250A, DHB-250B, DHB-500, DHB-1000 оснащены современной
		компьютерной системой автоматизации и управления, программируется с ЖК-экрана. Энергопотребление снижено на 30%
		по сравнению с машинами аналогичного класса.
	</p>
	<h2>Характеристики оборудования DHB-250A, DHB-250B, DHB-500, DHB-1000</h2>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>DHB-250A</th>
			<th>DHB-250B</th>
			<th>DHB-500</th>
			<th>DHB-1000</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Используемое сырье</th>
			<td>ПЭ, ПП, АБС-пластик и их производные.</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Max объем производимой тары, л.</th>
			<td>250</td>
			<td>300</td>
			<td>500</td>
			<td>1250</td>
		</tr>
		<tr>
			<th>Кол-во головок, шт.</th>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Производительность изделий, шт/ч.</th>
			<td>260</td>
			<td>260</td>
			<td>200</td>
			<td>180</td>
		</tr>
		<tr>
			<th>Размер станка, м.</th>
			<td>7,6х3,0х5,2</td>
			<td>7,8х3,2х5,5</td>
			<td>9,8х3,5х5</td>
			<td>11,0х4,5х5,8</td>
		</tr>
		<tr>
			<th>Вес станка, т.</th>
			<td>40</td>
			<td>40</td>
			<td>60</td>
			<td>95</td>
		</tr>
		<tr>
			<th>Кол-во зон разогрева, шт.</th>
			<td>5</td>
			<td>5</td>
			<td>5х2</td>
			<td>5х2</td>
		</tr>
		<tr>
			<th>Мощность подогрева головки, кВт.</th>
			<td>45</td>
			<td>46</td>
			<td>55</td>
			<td>68</td>
		</tr>
		<tr>
			<th>Max. диаметр сопла, мм.</th>
			<td>600</td>
			<td>600</td>
			<td>600/750</td>
			<td>600/850</td>
		</tr>
		<tr>
			<th>Усилие сжатия, кН.</th>
			<td>760</td>
			<td>880</td>
			<td>900</td>
			<td>1800</td>
		</tr>
		<tr>
			<th>Ход прессформы, мм.</th>
			<td>700 – 1800</td>
			<td>700 – 1850</td>
			<td>800 – 2200</td>
			<td>1100 – 2700</td>
		</tr>
		<tr>
			<th>Размер плиты, мм.</th>
			<td>1320 х 1600</td>
			<td>1360 х 1900</td>
			<td>1550 х 2000</td>
			<td>1800 х 2200</td>
		</tr>
		<tr>
			<th>Max размер прессформы, мм.</th>
			<td>1200 х 1700</td>
			<td>1260 х 1980</td>
			<td>1450 х 2050</td>
			<td>1800 х 2500</td>
		</tr>
		<tr>
			<th>Толщина прессформы, мм.</th>
			<td>705 – 1000</td>
			<td>705 - 1050</td>
			<td>705 - 1200</td>
			<td>1305 – 1500</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм.</th>
			<td>120</td>
			<td>120</td>
			<td>110х2</td>
			<td>120х2</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>30</td>
			<td>30-32</td>
			<td>30-33</td>
			<td>30</td>
		</tr>
		<tr>
			<th>Скорость впрыска, кг/ч.</th>
			<td>300</td>
			<td>300-400</td>
			<td>450-550</td>
			<td>500-600</td>
		</tr>
		<tr>
			<th>Мощность подогрева шнека, кВт.</th>
			<td>36</td>
			<td>36</td>
			<td>50</td>
			<td>65</td>
		</tr>
		<tr>
			<th>Мощность привода экструдера, кВт.</th>
			<td>32</td>
			<td>90-132</td>
			<td>75х2/90х2</td>
			<td>110х2/132х2</td>
		</tr>
		<tr>
			<th>Мощность масляного привода, кВт.</th>
			<td>45</td>
			<td>45</td>
			<td>45</td>
			<td>55</td>
		</tr>
		</tbody>
	</table>
	<p>Всю линию экструзионно выдувных машин вы можете найти на странице <a href="/ekstruzionno-vyduvnye-mashiny">экструзионно
		выдувное оборудование</a>.
	</p>
	<p><em>Купить выдувные машины DHB-250A, DHB-250B, DHB-500, DHB-1000, </em> вы можете обратившись к нам по средствам
		заполнения <a href="/contacts">формы заявки</a>. Если у вас не получилось найти <strong>оборудование для
			производства пластиковых бочек</strong>, напишите нам, мы готовы помочь в
		<a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиске производителей</a> на территории
		Китая.
	</p>
	<p>Комплексная покупка, поставка и растаможка оборудования, производственных линий и <a href="/">любых станков из
		Китая</a> от компании «Берег»
	</p>

{% endblock %}
