{% extends 'layout/extr_layout.html' %}
{% block title %}DHD-30LII – экструзионно выдувное оборудование.{% endblock %}
{% block keywords %}Экструзионно, выдувное, оборудование, DHD-30LII, технические, характеристики{% endblock %}
{% block description %}Поставка экструзионно выдувного автомата DHD-30LII из Китая на выгодных условиях.{% endblock %}
{% block h1 %}Экструзионно выдувное оборудование DHD-30LII{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/extr/top/ekstruzionno-vyduvnye_DHD-2-16LII.jpg" width="530" height="278" border="0" alt="Экструзионно выдувное оборудование DHD-2LII, DHD-5LII, DHD-12LII, DHD-16LII"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><strong>Экструзионно выдувное оборудование DHD-30LII</strong> – двухстанционный автомат с производительностью до
		250 изделий в час. Используется для производства качественной тары объемом от 1 л. до 30 л. Применим для выпуска
		упаковки из полиэтилена и полипропилена под автозапчасти, медицинские препараты, еду, косметику, производные
		нефтепереработки, бытовую и промышленную химию. Экструзионно выдувное оборудование DHD-30LII отлично подходит
		для производства ящиков для инструмента, полых деталей машин, бочек и канистр среднихразмеров.
	</p>
	<p>Преимущества DHD-30LII: 1) Возможность модернизации до полной автоматической линии (снятие облоя, конвейер,
		автомат розлива, робот запайки горловины и т.д.). 2) Система диагностики неисправностей и ошибок. 3) Модуль
		контроля температур 4) Система оптимизации заданных параметров. 5) Содержит более 40 запатентованных систем и
		элементов. 6) Оптимальное сочетание производительности, качества и цены.
	</p>
	<h2>Технические характеристики DHD-30LII</h2>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>DHD-30LII</th>
			<th>DHD-30L-MIII/IV/V/VI</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Используемое сырье</th>
			<td>ПЭ, ПП и др.</td>
			<td>ПЭ, ПП, ПА и др.</td>
		</tr>
		<tr>
			<th>Максимальный объем производимой тары, л.</th>
			<td>30</td>
			<td>30</td>
		</tr>
		<tr>
			<th>Кол-во головок, шт.</th>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<th>Размер станка, м.</th>
			<td>5,2 х 3,9 х 4,2</td>
			<td>5,9 х 3,9 х 4,2</td>
		</tr>
		<tr>
			<th>Вес станка, т.</th>
			<td>19</td>
			<td>22</td>
		</tr>
		<tr>
			<th>Кол-во зон разогрева, шт.</th>
			<td>5</td>
			<td>8</td>
		</tr>
		<tr>
			<th>Мощность подогрева головки, кВт.</th>
			<td>18</td>
			<td>22</td>
		</tr>
		<tr>
			<th>Max. диаметр сопла, мм.</th>
			<td>300</td>
			<td>300</td>
		</tr>
		<tr>
			<th>Усилие сжатия, кН.</th>
			<td>170</td>
			<td>170</td>
		</tr>
		<tr>
			<th>Ход прессформы, мм.</th>
			<td>450 - 900</td>
			<td>450 - 900</td>
		</tr>
		<tr>
			<th>Размер плиты, мм.</th>
			<td>680 - 750</td>
			<td>680 - 750</td>
		</tr>
		<tr>
			<th>Max размер прессформы, мм.</th>
			<td>560 - 650</td>
			<td>560 - 650</td>
		</tr>
		<tr>
			<th>Толщина прессформы, мм.</th>
			<td>460 - 500</td>
			<td>460 - 500</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм.</th>
			<td>90</td>
			<td>70+60+50+30х4</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>30</td>
			<td>25-30</td>
		</tr>
		<tr>
			<th>Скорость впрыска, кг/ч.</th>
			<td>120-200</td>
			<td>130-240</td>
		</tr>
		<tr>
			<th>Зон подогрева, шт.</th>
			<td>5</td>
			<td>5</td>
		</tr>
		<tr>
			<th>Мощность подогрева шнека, кВт.</th>
			<td>29</td>
			<td>45</td>
		</tr>
		<tr>
			<th>Мощность привода экструдера, кВт.</th>
			<td>55</td>
			<td>18,5+11+7,5+5,5х4</td>
		</tr>
		<tr>
			<th>Мощность масляного насоса, кВт.</th>
			<td>22</td>
			<td>22</td>
		</tr>
		<tr>
			<th>Мощность обдува, кВт.</th>
			<td>7,5</td>
			<td>7,5</td>
		</tr>
		<tr>
			<th>Суммарная мощность, кВт.</th>
			<td>132</td>
			<td>180</td>
		</tr>
		<tr>
			<th>Рабочее давление воздуха, МПа.</th>
			<td>0,6</td>
			<td>0,6</td>
		</tr>
		<tr>
			<th>Воздухопотребление, м3/мин.</th>
			<td> 1-1,5</td>
			<td> 1-1,5</td>
		</tr>
		<tr>
			<th>Энергопотребление, кВт.</th>
			<td>60</td>
			<td>85</td>
		</tr>
		<tr>
			<th>Водопотребление, м3/ч.</th>
			<td>2,5 – 3,5</td>
			<td>2,5 – 3,5</td>
		</tr>
		</tbody>
	</table>
	<p>Вся линия поставляемого выдувного оборудования представленна по ссылке <a href="/ekstruzionno-vyduvnye-mashiny">экструзионно
		выдувные автоматы</a>.
	</p>
	<p>Компания Берег готова поставить <em>экструзионно выдувное оборудование </em>DHD-30LII, для этого вам необходимо
		<a href="/contacts">написать нам</a>. Если вы не нашли на нашем портале машину с искомыми характеристиками,
		заполните как можно подробнее заявку на <a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск
			производителя</a>. В ближайшее время наши специалисты предложат вам варианты оборудования на выбор.
	</p>
	<p>Покупка, оформление, растаможка и поставка оборудования, станков, производственных линий и
		<a href="/mini-zavody-iz-kitaya">мини заводов из Китая</a> реализуется компанией Берег по контракту
	</p>

{% endblock %}
