{% extends 'layout/extr_layout.html' %}
{% block title %}DHD-QR100 – оборудование для производства тары{% endblock %}
{% block keywords %}Оборудование, производство, тара, экструзионно выдувная, машина, DHD-QR100, технические,
	характеристики{% endblock %}
{% block description %}Экструзионно выдувная машина DHD-QR100 – высокотехнологичное оборудование для производства
	тары.{% endblock %}
{% block h1 %}DHD-QR100 - оборудование для производства пластиковой тары{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/extr/top/ekstruzionno-vyduvnye_DHD-QR100.jpg" width="530" height="278" border="0" alt="Экструзионно выдувная машина DHD-QR100"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><strong>Экструзионно выдувная машина DHD-QR100</strong> – это высокотехнологичное оборудование для производства
		пластиковой тары. DHD-QR100 отлично подходит для для высокоскоростного изготовления упаковочной емкости объемом
		от 200 мл. до 5 л. Данное оборудование успешно используется для производства тары под мед.препараты, технические
		жидкости (масла, антифриз, тасол и т.д.), строительные краски, бытовую химию, воду, соки и другие пищевые
		продукты. Сухой цикл работы автомата DHD-QR100 составляет всего 3,8 сек. Способен выпускать до 500 изделий в
		час. Автоматическая диагностика неполадок, датчики контроля температур и гидравлики позволили увеличить
		надежность DHD-QR100.
	</p>
	<h2>Технические характеристики экструзионно выдувного автомата DHD-QR100</h2>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>DHD-1LII</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Используемое сырье</th>
			<td>ПЭ, ПП и др.</td>
		</tr>
		<tr>
			<th>Максимальный объем производимой тары, л.</th>
			<td>5</td>
		</tr>
		<tr>
			<th>Кол-во головок, шт.</th>
			<td>1, 2, 3, 4, 6, 8</td>
		</tr>
		<tr>
			<th>Производительность изделий, шт/ч.</th>
			<td>500</td>
		</tr>
		<tr>
			<th>Размер станка, м.</th>
			<td>6,3 х 3,9 х 2,7</td>
		</tr>
		<tr>
			<th>Вес станка, т.</th>
			<td>20</td>
		</tr>
		<tr>
			<th>Кол-во зон разогрева, шт.</th>
			<td>12</td>
		</tr>
		<tr>
			<th>Мощность подогрева головки, кВт.</th>
			<td>10 &ndash; 19,69</td>
		</tr>
		<tr>
			<th>Max. диаметр сопла, мм.</th>
			<td>140</td>
		</tr>
		<tr>
			<th>Усилие сжатия, кН.</th>
			<td>190</td>
		</tr>
		<tr>
			<th>Ход прессформы, мм.</th>
			<td>210 - 430</td>
		</tr>
		<tr>
			<th>Размер плиты, мм.</th>
			<td>410 х 600</td>
		</tr>
		<tr>
			<th>Max размер прессформы, мм.</th>
			<td>410 х 690</td>
		</tr>
		<tr>
			<th>Толщина прессформы, мм.</th>
			<td>210 - 380</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм.</th>
			<td>100</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>25</td>
		</tr>
		<tr>
			<th>Скорость впрыска, кг/ч.</th>
			<td>200 - 280</td>
		</tr>
		<tr>
			<th>Зон подогрева, шт.</th>
			<td>4</td>
		</tr>
		<tr>
			<th>Мощность подогрева шнека, кВт.</th>
			<td>26,4</td>
		</tr>
		<tr>
			<th>Мощность привода экструдера, кВт.</th>
			<td>55</td>
		</tr>
		<tr>
			<th>Мощность масляного насоса, кВт.</th>
			<td>55</td>
		</tr>
		<tr>
			<th>Мощность обдува, кВт.</th>
			<td>0,6</td>
		</tr>
		<tr>
			<th>Суммарная мощность, кВт.</th>
			<td>157</td>
		</tr>
		<tr>
			<th>Рабочее давление воздуха, МПа.</th>
			<td>0,8</td>
		</tr>
		<tr>
			<th>Воздухопотребление, м3/мин.</th>
			<td>2 - 3</td>
		</tr>
		<tr>
			<th>Энергопотребление, кВт.</th>
			<td>64</td>
		</tr>
		</tbody>
	</table>
	<p>Ознакомиться со всей серией <a href="/ekstruzionno-vyduvnye-mashiny">экструзионно выдувных машин</a> вы можете по ссылке
	слева.</p>
	<p>Для покупки <em>оборудования для производства тары</em> свяжитесь с нами или заполните <a href="/contacts">форму заявки</a>. Если вы не нашли
		подходящий автомат на нашем портале, напишите нам, мы максимально быстро осуществим <a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск
			производителей в Китае</a> и предоставим варианты экструзионно выдувных машин на выбор.
	</p>
	<p>Покупка, растаможка и поставка оборудования, станков и <a href="/mini-zavody-iz-kitaya">мини заводов из Китая</a> реализуется
		компанией ООО Берег по контракту.
	</p>
{% endblock %}
