{% extends 'layout/extr_layout.html' %}
{% block title %}DHD-2LII, DHD-5LII, DHD-12LII, DHD-16LII | Оборудование для производства пластиковых бутылок,
	канистр.{% endblock %}
{% block keywords %}Экструзионно, выдувное, оборудование, DHD-2LII, DHD-5LII, DHD-12LII, DHD-16LII , производство,
	пластик, пластиковых, бутылок, канистр{% endblock %}
{% block description %}Купить оборудование для производства пластиковых бутылок, канистр до до 16 л. Заказать
	экструзионно выдувное оборудование  DHD-2LII, DHD-5LII, DHD-12LII, DHD-16LII{% endblock %}
{% block h1 %}DHD-2LII, DHD-5LII, DHD-12LII, DHD-16LII - оборудование для производства пластиковых бутылок,
	канистр{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/extr/top/ekstruzionno-vyduvnye_DHD-2-16LII.jpg" width="530" height="278" border="0" alt="Экструзионно выдувное оборудование DHD-2LII, DHD-5LII, DHD-12LII, DHD-16LII"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p>Выдувные машины серии DHD-2LII, DHD-5LII, DHD-12LII, DHD-16LII – двухстанционное оборудование, применяемое для
		<strong>производства пластиковых бутылок и канистр</strong> объемом от 1 до 16 литров из полипропилена,
		полиэтиленаи аналогичных материалов. Данная тара с успехом используется для упаковки: производных
		нефтепереработки,медицинских препаратов, бытовой химии, продуктов питания, лаков и красок, косметики и др.
		Скорость производствабутылок и канистр двухстанционного оборудования на 70% выше. Оснащен японской система
		управления, модулем контролятемператур, диагностики ошибок, автоматизации технологическогопроцесса.
	</p>
	<p>Оборудование серии DHD-2LII, DHD-5LII, DHD-12LII, DHD-16LII имеет модуль снятия облоя. Данные автоматы могут быть
		оснащены конвейерной лентой переработки отходов, машиной для снятия бутылок и канистр, подачи емкостей под
		розлив, запайки фольгой.
	</p><h2>Характеристики оборудования</h2>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>DHD-2LII</th>
			<th>DHD-5LII</th>
			<th>DHD-12LII</th>
			<th>DHD-16LII</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Используемое сырье</th>
			<td>ПЭ, ПП, их аналоги.</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Max объем производимой тары, л.</th>
			<td>2</td>
			<td>5</td>
			<td>12</td>
			<td>16</td>
		</tr>
		<tr>
			<th>Кол-во головок, шт.</th>
			<td>1, 2, 3, 4</td>
			<td>1, 2, 3, 4</td>
			<td>1, 2, 3, 4</td>
			<td>1, 2, 3, 4</td>
		</tr>
		<tr>
			<th>Производительность изделий, шт/ч.</th>
			<td>260</td>
			<td>260</td>
			<td>200</td>
			<td>180</td>
		</tr>
		<tr>
			<th>Размер станка, м.</th>
			<td>3,35х2,3х2,35</td>
			<td>3,82х2,66х2,7</td>
			<td>4,1х2,5х3</td>
			<td>4,9х2,7х3,1</td>
		</tr>
		<tr>
			<th>Вес станка, т.</th>
			<td>6</td>
			<td>7,8</td>
			<td>10</td>
			<td>13</td>
		</tr>
		<tr>
			<th>Мощность подогрева головки, кВт.</th>
			<td>7,5</td>
			<td>7,5</td>
			<td>15</td>
			<td>15</td>
		</tr>
		<tr>
			<th>Усилие сжатия, кН.</th>
			<td>60</td>
			<td>100</td>
			<td>110</td>
			<td>155</td>
		</tr>
		<tr>
			<th>Ход прессформы, мм.</th>
			<td>158 – 410</td>
			<td>209 – 510</td>
			<td>219 – 600</td>
			<td>219 – 620</td>
		</tr>
		<tr>
			<th>Размер плиты, мм.</th>
			<td>290 х 320</td>
			<td>350 х 380</td>
			<td>460 х 500</td>
			<td>520 х 480</td>
		</tr>
		<tr>
			<th>Max размер прессформы, мм.</th>
			<td>320 х 320</td>
			<td>400 х 380</td>
			<td>560 х 500</td>
			<td>600 х 480</td>
		</tr>
		<tr>
			<th>Толщина прессформы, мм.</th>
			<td>160 – 240</td>
			<td>210 - 300</td>
			<td>220 - 380</td>
			<td>220 – 380</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм.</th>
			<td>60</td>
			<td>70</td>
			<td>90</td>
			<td>90</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>25</td>
			<td>25</td>
			<td>25</td>
			<td>25</td>
		</tr>
		<tr>
			<th>Скорость впрыска, кг/ч.</th>
			<td>65</td>
			<td>110</td>
			<td>130-160</td>
			<td>130-160</td>
		</tr>
		<tr>
			<th>Мощность подогрева шнека, кВт.</th>
			<td>8</td>
			<td>10</td>
			<td>8,2-9,3</td>
			<td>8,2-9,3</td>
		</tr>
		<tr>
			<th>Мощность привода экструдера, кВт.</th>
			<td>22</td>
			<td>30</td>
			<td>37-45</td>
			<td>37-45</td>
		</tr>
		</tbody>
	</table>
	<p>Всю линию экструзионно выдувных машин вы можете найти на странице <a href="/ekstruzionno-vyduvnye-mashiny">экструзионно
		выдувное оборудование</a>.
	</p>
	<p>Для заказа и<em> покупки выдувного оборудования DHD-2LII, DHD-5LII, DHD-12LII, DHD-16LII</em>
		<em> </em><a href="/contacts">свяжитесь с нами</a>. Если вам не удалось подобрать оптимальное <strong>оборудование
			для производства пластиковых бутылок и канистр</strong>, напишите нам, мы произведем
		<a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск производителя</a> на территории
		Китая и предоставим варианты на выбор.
	</p>
	<p>Осуществляем поставку под ключ оборудования и <a href="/about-us">импорт товаров из Китая</a> для компаний и
		частных лиц
	</p>

{% endblock %}
