{% extends 'layout/list_layout.html' %}{% import '_macros/product_list.html' as list %}
{% block navigation %}
	{% set a4="openMenu" %}
	{% set a4b2="openMenu" %}
	{% include '_includes/nav.html' %}
{% endblock %}

{% block title %}Экструзионно выдувные машины{% endblock %}
{% block keywords %}Экструзионно, выдувная, машина, оборудование, автомат, китая{% endblock %}
{% block description %}Компания «Берег» поставляет высокотехнологичные экструзионно выдувные машины  из
	Китая.{% endblock %}
{% block h1 %}Экструзионно-выдувные машины из Китая{% endblock %}
{% block text %}
	<p><strong>Экструзионно-выдувные машины</strong> – оборудование для производства полых изделий (тары) методом
		экструзионного выдува пластмасс и её производных (полиэтилен, полипропилен, полиэтилентерефталат, ПК, ПВХ).
		Серия экструзионно-выдувных машин, поставляемых нашей компанией «Берег» включает в себя оборудование для
		изготовления различной тары от 10 мл. до 1250 л. Автоматы производятся в Китае известной компанией Tincoo
		Machinery Co., LTD. Вся серия машин соответствует ГОСТ и международным стандартам и не уступают по качеству
		европейским аналогам.
	</p>
	<p>Специально разработанная форма шнека позволяет обеспечить высокую степень гомогенизации расплава, благодаря чему
		удалось добиться снижения уровня внутренних дефектов и увеличить прочность. Профиль шнека дает возможность
		работать с материалами различной текучести и позволяет качественно распределять красители и добавки. Все шнеки
		для экструзионно-выдувных машин производятся из высокопрочной легированной стали с высокой степенью
		азотирования.
	</p>
	<p> Экструзионно-выдувные машины из Китая успешно применяются для изготовления тары в отраслях:</p>
	<ol>
		<li>автомобилестроение (производство канистр, патрубков, баков, бачков-омывателей и т.д.);</li>
		<li>фармацевтика ( изготовление упаковки под витамины, лекарственные средства, жидкости);</li>
		<li>пищевая промышленность (бутылки для соков, воды, тара под молочные продукты, кетчуп, майонез и т.д.);</li>
		<li>нефтехимическая отрасль (бочки и канистры для технических жидкостей, тара для удобрений и т.д..);</li>
		<li>бытовой химии (фасовка моющих средств, жидкостей, порошков, гелей и т.д.);</li>
		<li>парфюмерно-косметическая промышленность (тара под шампунь, кондиционер, пены, жидкого мыла, зубной пасты и
			т.д.);
		</li>
		<li>строительство (емкости для лаков, красок, ацетона, растворителя, клея и т.д..);</li>
	</ol>
	<h2 class="end">Преимущества поставляемых экструзионно-выдувных машин</h2>
	<p>Вся серия представленных <em>экструзионно-выдувных машин </em>обладает следующими преимуществами:</p>
	<ol>
		<li>удобная смена форм, перемещения головок вверх и вниз</li>
		<li>высокая производительность</li>
		<li>высокотехнологичность станков в сочетании с низкой ценой</li>
		<li>продолжительный срок службы/гарантия</li>
		<li>высокая экономия электроэнергии</li>
		<li>оптимизированная компоновка узлов</li>
		<li>система контроля толщины стенок</li>
		<li>могут комплектоваться дополнительным оборудованием (наклейка этикеток, транспортер, линия розлива)</li>
		<li>производство изделий разных цветов</li>
		<li>изготовление из разных пластмасс</li>
	</ol>
	<h2 class="end">Серия экструзионно-выдувных машин из Китая.</h2>
{% endblock %}
{% block list %}
	<ul class="products">
		<li>
			<a href="/ekstruzionno_vyduvnoi_avtomat_dhd-1lii" title="Экструзионно-выдувная машина DHD-1LII"><img src="/public/img/extr/list/ekstruzionno-vyduvnaia-mashina-dhd-1lii.jpg" alt="Экструзионно-выдувная машина DHD-1LII" height="153" width="419"></a>

			<h3>
				<a href="/ekstruzionno-vyduvnaia-mashina-dhd-1lii" title="Экструзионно-выдувная машина DHD-1LII">Экструзионно-выдувная
					машина DHD-1LII </a>
			</h3>
			<span class="desc">двухстанционный автомат для производства тары и емкостей объемом от 10 мл. до 1л. Характеристики: диаметр шнека 45 мм., усилие смыкание 30 кН., диаметр сопла 70 мм.  <a href="/ekstruzionno-vyduvnaia-mashina-dhd-1lii">Подробнее
				о DHD-1LII>>></a></span> <span class="tags"></span>
		</li>
		<li>
			<a href="/dhd-qr100-oborudovanie_dlia_proizvodstva_plastikovoi_tary" title="Экструзионно-выдувная машина DHD-QR100"><img src="/public/img/extr/list/ekstruzionno-vyduvnaia-mashina-dhd-qr100.jpg" alt="Экструзионно-выдувная машина DHD-QR100" height="153" width="419"></a>

			<h3>
				<a href="/dhd-qr100-oborudovanie_dlia_proizvodstva_plastikovoi_tary" title="Экструзионно-выдувная машина DHD-1LII">Экструзионно-выдувная
					машина DHD-QR100</a>
			</h3>
			<span class="desc">высокоскоростной  автомат для выдува тары и емкостей объемом от 200 мл. до 5 л. Характеристики: производительность 500 шт/ч., диаметр шнека 100 мм., усилие смыкание 190 кН., <a href="/dhd-qr100-oborudovanie_dlia_proizvodstva_plastikovoi_tary">Подробнее
				о DHD-QR100>>></a></span> <span class="tags"></span>
		</li>
		<li>
			<a href="seriia_vyduvnykh_mashin_dhd-l-a_dlia_proizvodstva_plastikovoi_tary" title="Серия экструзионно-выдувных машин DHD-2L-A, DHD-5L-A, DHD-10L-A, DHD-16L-A"><img src="/public/img/extr/list/ekstruzionno-vyduvnaia-mashina-serii-dhd-l-a.jpg" alt="Серия экструзионно-выдувных машин DHD-2L-A, DHD-5L-A, DHD-10L-A, DHD-16L-A" height="153" width="419"></a>

			<h3>
				<a href="seriia_vyduvnykh_mashin_dhd-l-a_dlia_proizvodstva_plastikovoi_tary" title="Экструзионно-выдувная машина DHD-1LII">Серия
					машин DHD-2L-A, DHD-5L-A, DHD-10L-A, DHD-16L-A</a>
			</h3>
			<span class="desc">данная серия машин позволяет изготавливать емкости от 500 мл до 16 л. Характеристики: производительность 750х2 шт/ч диаметр шнека 70 мм., усилие смыкание 70 кН., диаметр сопла 80 мм.
				<a href="seriia_vyduvnykh_mashin_dhd-l-a_dlia_proizvodstva_plastikovoi_tary">Подробнее о серии DHD-L-A>>></a></span>
			<span class="tags"></span>
		</li>
		<li>
			<a href="/ekstruzionno-vyduvnaia-mashina-dhb-82pc" title="Выдувная машина DHB-82PC"><img src="/public/img/extr/list/ekstruzionno-vyduvnaia-mashina-dhb-82pc.jpg" alt="Выдувная машина DHB-82PC" height="153" width="419"></a>
			<h3>
				<a href="/ekstruzionno-vyduvnaia-mashina-dhb-82pc" title="Экструзионно-выдувная машина DHD-1LII">
					Выдувная машина DHB-82PC
				</a>
			</h3>
			<span class="desc">станок для изготовления бутылей объемом до 25 л. Характеристики: производительность 500 шт/ч., диаметр шнека 82 мм., усилие смыкание 220 кН., диаметр сопла 150 мм
				<a href="/ekstruzionno-vyduvnaia-mashina-dhb-82pc">Подробнее о DHB-82PC>>></a></span>
			<span class="tags"></span>
		</li>
		<li>
			<a href="/ekstruzionno-vyduvnaia-mashina-serii-dhb" title="Машины серии DHB-80, DHB-90, DHB-100, DHB-110"><img src="/public/img/extr/list/ekstruzionno-vyduvnaia-mashina-serii-dhb80-110.jpg" alt="Машины серии DHB-80, DHB-90, DHB-100, DHB-110" height="153" width="419"></a>
			<h3>
				<a href="/ekstruzionno-vyduvnaia-mashina-serii-dhb" title="Машины серии DHB-80, DHB-90, DHB-100, DHB-110">
					Машины серии DHB-80, DHB-90, DHB-100, DHB-110
				</a>
			</h3>
			<span class="desc">данная серия предназначена для изготовления тары от 25 л. до 160 л. Характеристики: диаметр шнека 80-110 мм., усилие смыкание 210-720 кН., диаметр сопла 300-510 мм.
				<a href="/ekstruzionno-vyduvnaia-mashina-serii-dhb">Подробнее о DHB>>></a></span>
			<span class="tags"></span>
		</li>
		<li>
			<a href="/ekstruzionno-vyduvnaia-mashina-serii-dhb-250a" title="Серия DHB-250A, DHB-250B, DHB-500, DHB-1000"><img src="/public/img/extr/list/ekstruzionno-vyduvnaia-mashina-serii-dhb-250-1000.jpg" alt="Серия DHB-250A, DHB-250B, DHB-500, DHB-1000" height="153" width="419"></a>
			<h3>
				<a href="/ekstruzionno-vyduvnaia-mashina-serii-dhb-250a" title="Серия DHB-250A, DHB-250B, DHB-500, DHB-1000">
					Серия DHB-250A, DHB-250B, DHB-500, DHB-1000
				</a>
			</h3>
			<span class="desc">данная серия машин позволяет изготавливать большие тары объемом от 100 до 1250л. Характеристики: производительность до 260 шт/ч., диаметр шнека 120 мм., усилие смыкание 760 -1800 кН.
				<a href="/ekstruzionno-vyduvnaia-mashina-serii-dhb-250a">Подробнее о серии DHB250 - 1000>>></a></span>
			<span class="tags"></span>
		</li>
		<li>
			<a href="/vyduvnye_mashiny_dhd-2lii_dhd-5lii_dhd-12lii_dhd-16lii" title="Выдувные машины DHD-2LII, DHD-5LII, DHD-12LII, DHD-16LII"><img src="/public/img/extr/list/ekstruzionno-vyduvnaia-mashina-serii-dhd-lii.jpg" alt="Выдувные машины DHD-2LII, DHD-5LII, DHD-12LII, DHD-16LII" height="153" width="419"></a>
			<h3>
				<a href="/vyduvnye_mashiny_dhd-2lii_dhd-5lii_dhd-12lii_dhd-16lii" title="Выдувные машины DHD-2LII, DHD-5LII, DHD-12LII, DHD-16LII">
					Выдувные машины DHD-2LII, DHD-5LII, DHD-12LII, DHD-16LII
				</a>
			</h3>
			<span class="desc">данная серия предназначена для изготовления емкостей от 500 мл. до 16 л. Характеристики: диаметр шнека 60-90 мм., усилие смыкание 60-155 кН.,
				<a href="/vyduvnye_mashiny_dhd-2lii_dhd-5lii_dhd-12lii_dhd-16lii">Подробнее о DHD-LII>>></a></span>
			<span class="tags"></span>
		</li>
		<li>
			<a href="/ekstruzionno_vyduvnaia_mashina_dhd-30lii" title="Экструзионно выдувная машина DHD-30LII"><img src="/public/img/extr/list/ekstruzionno-vyduvnaia-mashina-dhd-30lii.jpg" alt="Экструзионно выдувная машина DHD-30LII" height="153" width="419"></a>
			<h3>
				<a href="/ekstruzionno_vyduvnaia_mashina_dhd-30lii" title="Экструзионно выдувная машина DHD-30LII">
					Экструзионно выдувная машина DHD-30LII
				</a>
			</h3>
			<span class="desc">двухстанционный автомат для производства тары и емкостей объемом от 1 л. до 30 л.. Характеристики: производительность до 260 шт/ч., диаметр шнека 90 мм., усилие смыкание 170 кН., производительность 120-240 Кг/час.
				<a href="/ekstruzionno_vyduvnaia_mashina_dhd-30lii">Подробнее о DHD-LII>>></a></span>
			<span class="tags"></span>
		</li>
	</ul>
{% endblock %}