{% extends 'layout/extr_layout.html' %}
{% block title %}DHD-1LII – экструзионно выдувной автомат{% endblock %}
{% block keywords %}Экструзионно, выдувной, автомат, DHD-1LII, технические, характеристики{% endblock %}
{% block description %}Поставка экструзионно выдувного автомата DHD-1LII из Китая на выгодных условиях.{% endblock %}
{% block h1 %}Экструзионно выдувной автомат DHD-1LII{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/extr/top/ekstruzionno-vyduvnye_DHD-1LII.jpg" width="530" height="278" border="0" alt="Экструзионно выдувной автомат DHD-1LII"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><strong>Экструзионно выдувной автомат DHD-1LII</strong> – двухстанционная машина DHD-1LII используется для
		производства высококачественной тары из полиэтилена, полипропилена и их производных. DHD-1LII применяют для
		изготовления упаковочной емкости объемом от 10 мл. до 1 л. под нефтепродукты, медицинские препараты, косметику,
		химические реагенты, продукты питания и т.д. Данный экструзионно выдувной автомат оснащен компьютерной системой
		контроля технологического процесса производства. Способен автоматически оптимизировать заданные параметры и
		диагностировать неисправности/ошибки системы. Возможна модернизация до автоматической линии путем приобретения
		дополнительного оборудования. Имеет датчики контроля температур. Полностью соответствует нормам и стандартам
		безопасности. Программируется по средствам ЖК-дисплея.
	</p>
	<h2>Технические характеристики экструзионно выдувного автомата DHD-1LII</h2>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>DHD-1LII</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Используемое сырье</th>
			<td>ПЭ, ПП и др.</td>
		</tr>
		<tr>
			<th>Максимальный объем производимой тары, л.</th>
			<td>1</td>
		</tr>
		<tr>
			<th>Кол-во головок, шт.</th>
			<td>1, 2, 3, 4</td>
		</tr>
		<tr>
			<th>Размер станка, м.</th>
			<td>2,5 х 1,8 х 2,24</td>
		</tr>
		<tr>
			<th>Вес станка, т.</th>
			<td>2,5</td>
		</tr>
		<tr>
			<th>Кол-во зон разогрева, шт.</th>
			<td>2</td>
		</tr>
		<tr>
			<th>Мощность подогрева головки, кВт.</th>
			<td>1,3 - 2,5</td>
		</tr>
		<tr>
			<th>Max. диаметр сопла, мм.</th>
			<td>70</td>
		</tr>
		<tr>
			<th>Усилие сжатия, кН.</th>
			<td>30</td>
		</tr>
		<tr>
			<th>Ход прессформы, мм.</th>
			<td>110 - 260</td>
		</tr>
		<tr>
			<th>Размер плиты, мм.</th>
			<td>260 - 210</td>
		</tr>
		<tr>
			<th>Max размер прессформы, мм.</th>
			<td>280 - 210</td>
		</tr>
		<tr>
			<th>Толщина прессформы, мм.</th>
			<td>110 - 150</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм.</th>
			<td>45</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>1</td>
		</tr>
		<tr>
			<th>Скорость впрыска, кг/ч.</th>
			<td>25</td>
		</tr>
		<tr>
			<th>Зон подогрева, шт.</th>
			<td>4</td>
		</tr>
		<tr>
			<th>Мощность подогрева шнека, кВт.</th>
			<td>4</td>
		</tr>
		<tr>
			<th>Мощность привода экструдера, кВт.</th>
			<td>7,5</td>
		</tr>
		<tr>
			<th>Мощность масляного насоса, кВт.</th>
			<td>5,5</td>
		</tr>
		<tr>
			<th>Мощность обдува, кВт.</th>
			<td>—</td>
		</tr>
		<tr>
			<th>Суммарная мощность, кВт.</th>
			<td>18,5</td>
		</tr>
		<tr>
			<th>Рабочее давление воздуха, МПа.</th>
			<td>0,6</td>
		</tr>
		<tr>
			<th>Воздухопотребление, м3/мин.</th>
			<td>0,4 - 0,6</td>
		</tr>
		<tr>
			<th>Энергопотребление, кВт.</th>
			<td>10</td>
		</tr>
		<tr>
			<th>Водопотребление, м3/ч.</th>
			<td>0,8</td>
		</tr>
		</tbody>
	</table>
	<p>Весь перечень поставляемых <em>экструзионно выдувных автомов</em> вы можете найти, следуя по ссылке
		<a href="/ekstruzionno-vyduvnye-mashiny">экструзионно выдувные машины</a>.
	</p>
	<p>Компания Берег готова поставить <em>экструзионно выдувной автомат</em> DHD-1LII, для этого вам необходимо
		<a href="/contacts">связаться с нами</a>. Если вы не обнаружили на нашем сайте искомый экструзионно выдувной
		автомат, заполните как можно подробнее заявку на <a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск
			производителя в Китае</a>. И в скором времени наши специалисты предложат вам машину с заданными параметрами.
	</p>
	<p>Поставка и растаможка под ключ <a href="/oborudovanie-iz-kitaia">оборудования из Китая</a>, мини заводов, станков
		и производственных линий от компании «Берег».
	</p>
{% endblock %}
