{% extends 'layout/list_layout.html' %}{% import '_macros/product_list.html' as list %}
{% block navigation %}
	{% set a4="openMenu" %}
	{% set a4b2="openMenu" %}
	{% include '_includes/nav.html' %}
{% endblock %}

{% block title %}Экструзионно выдувные машины{% endblock %}
{% block keywords %}Экструзионно, выдувная, машина, оборудование, автомат, китая{% endblock %}
{% block description %}Компания «Берег» поставляет высокотехнологичные экструзионно выдувные машины  из
	Китая.{% endblock %}
{% block h1 %}Экструзионно-выдувные машины из Китая{% endblock %}
{% block text %}
	<p><strong>Экструзионно-выдувные машины</strong> – оборудование для производства полых изделий (тары) методом
		экструзионного выдува пластмасс и её производных (полиэтилен, полипропилен, полиэтилентерефталат, ПК, ПВХ).
		Серия экструзионно-выдувных машин, поставляемых нашей компанией «Берег» включает в себя оборудование для
		изготовления различной тары от 10 мл. до 1250 л. Автоматы производятся в Китае известной компанией Tincoo
		Machinery Co., LTD. Вся серия машин соответствует ГОСТ и международным стандартам и не уступают по качеству
		европейским аналогам.
	</p>
	<p>Специально разработанная форма шнека позволяет обеспечить высокую степень гомогенизации расплава, благодаря чему
		удалось добиться снижения уровня внутренних дефектов и увеличить прочность. Профиль шнека дает возможность
		работать с материалами различной текучести и позволяет качественно распределять красители и добавки. Все шнеки
		для экструзионно-выдувных машин производятся из высокопрочной легированной стали с высокой степенью
		азотирования.
	</p>
	<p> Экструзионно-выдувные машины из Китая успешно применяются для изготовления тары в отраслях:</p>
	<ol>
		<li>автомобилестроение (производство канистр, патрубков, баков, бачков-омывателей и т.д.);</li>
		<li>фармацевтика ( изготовление упаковки под витамины, лекарственные средства, жидкости);</li>
		<li>пищевая промышленность (бутылки для соков, воды, тара под молочные продукты, кетчуп, майонез и т.д.);</li>
		<li>нефтехимическая отрасль (бочки и канистры для технических жидкостей, тара для удобрений и т.д..);</li>
		<li>бытовой химии (фасовка моющих средств, жидкостей, порошков, гелей и т.д.);</li>
		<li>парфюмерно-косметическая промышленность (тара под шампунь, кондиционер, пены, жидкого мыла, зубной пасты и
			т.д.);
		</li>
		<li>строительство (емкости для лаков, красок, ацетона, растворителя, клея и т.д..);</li>
	</ol>
	<h2 class="end">Преимущества поставляемых экструзионно-выдувных машин</h2>
	<p>Вся серия представленных <em>экструзионно-выдувных машин </em>обладает следующими преимуществами:</p>
	<ol>
		<li>удобная смена форм, перемещения головок вверх и вниз</li>
		<li>высокая производительность</li>
		<li>высокотехнологичность станков в сочетании с низкой ценой</li>
		<li>продолжительный срок службы/гарантия</li>
		<li>высокая экономия электроэнергии</li>
		<li>оптимизированная компоновка узлов</li>
		<li>система контроля толщины стенок</li>
		<li>могут комплектоваться дополнительным оборудованием (наклейка этикеток, транспортер, линия розлива)</li>
		<li>производство изделий разных цветов</li>
		<li>изготовление из разных пластмасс</li>
	</ol>
	<h2 class="end">Серия экструзионно-выдувных машин из Китая.</h2>
{% endblock %}
{% block list %}
	<ul class="products">
		{{ list.product_extr('yj800', 'самая миниатюрная в своем классе машина. Предназначена для производства небольших изделий из пластмассы. Технические характеристики: диаметр шнека 32-38 мм., объем впрыска 95-149 г., скорость впрыска 80-97 г/сек.') }}
		{{ list.product_extr('yj1000', 'небольшая машина для производства пластиковых изделий.  Технические характеристики: диаметр шнека 40-42 мм., объем впрыска 183-203 г., скорость впрыска 107-150 г/сек., давление впрыска 174-158 МПа.') }}
		{{ list.product_extr('yjk1200', 'производительная машина для изготовления средних деталей из пластмассы (кнопки, корпуса ручек, брелки и т.д.).  Технические характеристики: диаметр шнека 40-45 мм., объем впрыска 183-258 г., скорость впрыска 106-121 г/сек.') }}
		{{ list.product_extr('yj1500', 'автомат для литья пластика под давлением.  Технические характеристики: диаметр шнека 36-43 мм., объем впрыска 115-231 г., скорость впрыска 86-120 г/сек., давление впрыска 174-158 МПа.') }}
		{{ list.product_extr('yjk2000', 'станок для изготовления средних деталей из пластмассы (крышки, мини корпуса, ручки ножей/ножниц, одноразовых ложки, вилки и т.д.).  Технические характеристики: диаметр шнека 45-52 мм., объем впрыска 275-430 г., скорость впрыска 126-183 г/сек.') }}
		{{ list.product_extr('yjk2200', 'машина для литья под давлением заготовок из пластмассы (небольшие корпуса, детали и т.д.).  Технические характеристики: диаметр шнека 48-55 мм., объем впрыска 376-510 г., скорость впрыска 158-198 г/сек.') }}
		{{ list.product_extr('yjk2500', 'машина для производства средних пластиковых заготовок (небольшие корпуса, детали и т.д.).  Технические характеристики: диаметр шнека 45-60 мм., объем впрыска 457-576 г., скорость впрыска 185-227 г/сек.') }}
		{{ list.product_extr('yjt3580', 'позволяет изготавливать более крупные детали по сравнению с серией YJK (большая одноразовая посуда, корпуса стационарных телефонов, офисной техники и т.д.) Технические характеристики: диаметр шнека 60-72 мм., объем впрыска 579-920 г., скорость впрыска 223-320 г/сек.') }}
		{{ list.product_extr('yjt3880', 'Технические характеристики: диаметр шнека 70-75 мм., объем впрыска 1146-1315 г., скорость впрыска 372-405 г/сек., вес машины 18 тонн.') }}
		{{ list.product_extr('yjt5080', 'Технические характеристики: диаметр шнека 80-85 мм., объем впрыска 1650-2030 г., скорость впрыска 448-500 г/сек., вес машины 22 тонн.') }}
		{{ list.product_extr('yjt5600', 'Технические характеристики: диаметр шнека 85-90 мм., объем впрыска 1930-2380 г., скорость впрыска 487-546 г/сек., вес машины 28 тонн.') }}
		{{ list.product_extr('yjt6600', 'Технические характеристики: диаметр шнека 90-100 мм., объем впрыска 2600-3200 г., скорость впрыска 546-638 г/сек., вес машины 35 тонн.') }}
		{{ list.product_extr('yjt7500', 'Технические характеристики: диаметр шнека 100-110 мм., объем впрыска 3200-4191 г., скорость впрыска 660-799 г/сек., вес машины 40 тонн.') }}
		{{ list.product_extr('yjt13000', 'Технические характеристики: диаметр шнека 110-130 мм., объем впрыска 4200-7200 г., скорость впрыска 803-1120 г/сек., вес машины 78 тонн.') }}
		{{ list.product_extr('yjw1580', 'Технические характеристики: диаметр шнека 40-48 мм., объем впрыска 165-341 г., скорость впрыска 101-142г/сек., вес машины 5.2 тонн.') }}
		{{ list.product_extr('yjw11000', 'Технические характеристики: диаметр шнека 110-130 мм., объем впрыска 3780-5972 г., скорость впрыска 760-974г/сек., вес машины 62 тонны.') }}
		{{ list.product_extr('yjw16000', 'Технические характеристики: диаметр шнека 130-150 мм., объем впрыска 7560-10395 г., скорость впрыска 1107-1474г/сек., вес машины 100 тонн.') }}
		{{ list.product_extr('yjfs1600', 'Технические характеристики: диаметр шнека 32-40 мм., объем впрыска 110-168 г., скорость впрыска 51-88г/сек., вес машины 8.1 тонн.') }}
	</ul>
{% endblock %}