{% extends 'layout/extr_layout.html' %}
{% block title %}DHD-2L-A, DHD-5L-A, DHD-10L-A, DHD-16L-A | Серия машин для производства пластиковой тары.{% endblock %}
{% block keywords %}Экструзионно, выдувная, машина, DHD-2L-A, DHD-5L-A, DHD-10L-A, DHD-16L-A, производство, пластиковая,
	тара, технические, характеристики{% endblock %}
{% block description %}Компания Берег поставляет из Китая станки и машины для производства пластиковой тары. Купить
	автоматы DHD-2L-A, DHD-5L-A, DHD-10L-A, DHD-16L-A{% endblock %}
{% block h1 %}Серия выдувных машин DHD-L-A для производства пластиковой тары{% endblock %}
{% block top_images %}
	<li class="active">
		<img src="/public/img/extr/top/ekstruzionno-vyduvnye_DHD-L-A.jpg" width="530" height="278" border="0" alt="Экструзионно выдувная машина DHD-QR100"/>
	</li>
{% endblock %}
{% block prod_desc %}
	<p><strong>Экструзионно выдувные машины серии DHD-L-A</strong> – двухстанционные автоматы, предназначенные для
		производства пластиковой тары, бутылок и других ёмкостей с высокой скоростью. Сырьем для изготовления может
		служить полиэтилен, полипропилен, полиамид и их производные. <em>Машины DHD-2L-A, DHD-5L-A, DHD-10L-A,
			DHD-16L-A</em> применяют для выпуска тары объемом от 0,5 до 16 л. Оборудование имеет усиленную конструкцию
		плиты, которая может двигаться в вертикальном положении. Особенность данной серии экструзионно выдувных машин:
		1)Способность производить как вертикальный выдув изделий, так и под заданным углом. 2)Имеется ручной регулятор
		положения формы и выдувного сопла (значительно упрощает подстройку). 3)Положение шнека может регулироваться в
		двух плоскостях. 4)Механизм движения формы оснащен редукционными клапанам, что обеспечивает более плавное и
		быстрое перемещение.
	</p>
	<p><strong>Экструзионно выдувные машины серии DHD-L-A</strong> оснащены автоматическим устройством снятия облоя,
		патрубком отсоса воздуха. Оборудование может быть модернизированно до производственной линии путем приобретения
		конвейерной лентой переработки отходов, подачи готовой тары под розлив, роботом снятия изделий, роботом для
		отрезания и запайки фольгой горловины.
	</p>
	<h2>Характеристики экструзионно выдувных машин DHD-2L-A, DHD-5L-A, DHD-10L-A, DHD-16L-A</h2>
	<table>
		<thead>
		<tr>
			<th>Технические характеристики</th>
			<th>DHD2LA</th>
			<th>DHD5LA</th>
			<th>DHD10LA</th>
			<th>DHD16LA</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Используемое сырье</th>
			<td>ПЭ, ПП, ПА и их производные.</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>Max объем производимой тары, л.</th>
			<td>2</td>
			<td>5</td>
			<td>10</td>
			<td>16</td>
		</tr>
		<tr>
			<th>Кол-во головок, шт.</th>
			<td>1-4</td>
			<td>1-4</td>
			<td>1-6</td>
			<td>1-6</td>
		</tr>
		<tr>
			<th>Производительность изделий, шт/ч.</th>
			<td>950 х 2</td>
			<td>750 х 2</td>
			<td>700 х 2</td>
			<td>600 х 2</td>
		</tr>
		<tr>
			<th>Размер станка, м.</th>
			<td>2,9х2,1х2,6</td>
			<td>3,6х2,3х2,6</td>
			<td>4,1х2,5х3</td>
			<td>4,5х2,7х3,1</td>
		</tr>
		<tr>
			<th>Вес станка, т.</th>
			<td>4</td>
			<td>6,5</td>
			<td>9,5</td>
			<td>11</td>
		</tr>
		<tr>
			<th>Кол-во зон разогрева, шт.</th>
			<td>3</td>
			<td>3</td>
			<td>3</td>
			<td>4</td>
		</tr>
		<tr>
			<th>Мощность подогрева головки, кВт.</th>
			<td>4,2</td>
			<td>5,8</td>
			<td>6 - 7</td>
			<td>6 - 7</td>
		</tr>
		<tr>
			<th>Max. диаметр сопла, мм.</th>
			<td>60</td>
			<td>80</td>
			<td>140</td>
			<td>140</td>
		</tr>
		<tr>
			<th>Усилие сжатия, кН.</th>
			<td>38</td>
			<td>70</td>
			<td>110</td>
			<td>155</td>
		</tr>
		<tr>
			<th>Ход прессформы, мм.</th>
			<td>120 – 380</td>
			<td>135 – 520</td>
			<td>220 – 610</td>
			<td>220 – 620</td>
		</tr>
		<tr>
			<th>Размер плиты, мм.</th>
			<td>290 х 330</td>
			<td>330 х 400</td>
			<td>450 х 500</td>
			<td>510 х 490</td>
		</tr>
		<tr>
			<th>Max размер прессформы, мм.</th>
			<td>310 х 330</td>
			<td>350 х 400</td>
			<td>520 х 500</td>
			<td>600 х 490</td>
		</tr>
		<tr>
			<th>Толщина прессформы, мм.</th>
			<td>120 – 220</td>
			<td>140 - 300</td>
			<td>235 - 380</td>
			<td>235 – 380</td>
		</tr>
		<tr>
			<th>Диаметр шнека, мм.</th>
			<td>60</td>
			<td>70</td>
			<td>90</td>
			<td>90</td>
		</tr>
		<tr>
			<th>Соотношение длина/диаметр шнека, (L/D)</th>
			<td>24</td>
			<td>24</td>
			<td>25</td>
			<td>25</td>
		</tr>
		<tr>
			<th>Скорость впрыска, кг/ч.</th>
			<td>60 - 80</td>
			<td>100 - 120</td>
			<td>130 - 155</td>
			<td>130 – 155</td>
		</tr>
		<tr>
			<th>Зон подогрева, шт.</th>
			<td>3</td>
			<td>3</td>
			<td>4</td>
			<td>4</td>
		</tr>
		<tr>
			<th>Мощность подогрева шнека, кВт.</th>
			<td>5 – 6,5</td>
			<td>6 – 8,1</td>
			<td>8,1 – 9,2</td>
			<td>8,1 – 9,2</td>
		</tr>
		<tr>
			<th>Мощность привода экструдера, кВт.</th>
			<td>15 - 18,5</td>
			<td>22 - 37</td>
			<td>37 - 45</td>
			<td>37 – 45</td>
		</tr>
		</tbody>
	</table>
	<p>Вся серия выдувного оборудования представлена по ссылке <a href="/ekstruzionno-vyduvnye-mashiny">экструзионно выдувные машины</a>.</p>
	<p><em>Купить экструзионно выдувной автоматы </em>DHD-2L-A, DHD-5L-A, DHD-10L-A, DHD-16L-A вы можете связавшись с
		нами или заполнив <a href="/contacts">форму заявки</a>. Если вам не удалось подобрать подходящую машину для <strong>производства
			пластиковой тары</strong> с искомыми характеристиками, напишите нам, мы максимально быстро осуществим
		<a href="/poisk-proizvoditelei-i-tovarov-v-kitae">поиск производителей по Китаю</a>и предоставим возможные варианты на выбор.
	</p>
	<p>Комплексная поставка и растаможка под ключ оборудования, производственных линий и <a href="/">станков из Китая</a> от
		компании «Берег».
	</p>
{% endblock %}
