{% macro product(name='yj800', desc='') -%}
<li>
	<a href="/termoplastavtomat-{{ name }}" title="Термопластавтомат {{ name | upper}}"><img src="/public/img/tpa/i_{{name}}.jpg" alt="Термопластавтомат {{ name | upper}}" height="153" width="419"></a>

	<h3><a href="/termoplastavtomat-{{ name }}" title="Термопластавтомат {{ name | upper}}">Термопластавтомат {{ name | upper}}</a></h3>
	<span class="desc">{{ desc }} <a href="/termoplastavtomat-{{ name }}">Подробнее о {{ name | upper}}>>></a></span>
	<span class="tags"></span></li>

{%- endmacro %}
{% macro product_extr(fullname, image, link_name, link, desc='') -%}
<li>
	<a href="/termoplastavtomat-{{ name }}" title="Термопластавтомат {{ name | upper}}"><img src="/public/img/tpa/i_{{name}}.jpg" alt="Термопластавтомат {{ name | upper}}" height="153" width="419"></a>

	<h3><a href="/termoplastavtomat-{{ name }}" title="Термопластавтомат {{ name | upper}}">Термопластавтомат {{ name | upper}}</a></h3>
	<span class="desc">{{ desc }} <a href="/termoplastavtomat-{{ name }}">Подробнее о {{ name | upper}}>>></a></span>
	<span class="tags"></span></li>

{%- endmacro %}
