<!DOCTYPE html>
<html>
<head>
	<title>вася</title>
</head>
<body>
Персоны: <br>
<table>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Rate</th>
		<th>Comments count</th>
	</tr>
	{% for person in persons %}
		{% set id = person.key().id() %}
		<tr>
			<td>{{ id }}</td>
			<td><a href="/user/{{ id }}/comments">{{ person.name }}</a></td>
			<td>{{ person.rate }}<a href="/rate/user/{{ id }}/inc">+</a><a href="/rate/user/{{ id }}/dec">-</a></td>
			<td>{{ person.comment_set.count() }}</td>
		</tr>
	{% endfor %}
</table>

</body>
</html>