<!DOCTYPE html>
<html>
<head>
	<title>Выборы №81</title>
	<link href="/public/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/public/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	<style type="text/css">
		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}

		.align-center {
			text-align: center;
		}

		.align-right {
			text-align: right;
		}

		.align-justify {
			text-align: justify;
		}

		.minus, .minus:hover {
			font-size: 30px;
			color: blue;
			text-decoration: none;
		}

		.plus, .plus:hover {
			font-size: 30px;
			color: red;
			text-decoration: none;
		}

		.rank {
			padding: 6px 0;
			font-size: 30px;
		}
	</style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="">Голосуй!</a>
			<ul class="nav pull-right">
				<li><a class="" href="">191</a></li>
				<li>
					<span>
						<a href="" class="btn">Выход</a>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<h1 class="span8 offset2 well align-center">Выборы председателя дома</h1>
	</div>
	<div class="row">
		<div class="span6 offset3 well muted align-center">На этом сайте вы можете выбрать председателя дома №81.
			Доступеы комментарии к каждому кандидату, и также оценки для комментариев и кандидатов. По истечении
			голосования победителем будет набравший наибольшее количество положительных голосов.
		</div>
	</div>

	<div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
				<div class="pull-left">
					<div class="row">
						<a class="btn btn-mini btn-success" href=""><i class="icon-plus-sign"></i><br>32</a></div>
					<div class="row">
						<a class="btn btn-mini btn-danger" href="">15<br><i class="icon-minus-sign"></i></a></div>
				</div>
				<div class="media">

					<a class="media pull-left"> <img class="media-object" data-src="holder.js/70x84"> </a>

					<div class="media-body">
						<h4 class="media-heading">Василий Зайцев</h4>
						Председатель дома с 1990 года. Убил бабушку и 10 котят. Стал председателем т.к. никто больше не
						хотел.
						<button class="accordion-toggle btn" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
							Отзывы(114)...
						</button>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
			<div id="collapseOne" class="accordion-body collapse in">
				<div class="accordion-inner">
					<p class="lead">Комментарии:</p>

					<div class="media">
						<a class="accordion-toggle media pull-left" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
							<img class="media-object" data-src="holder.js/70x84"></a>

						<div class="media-body">
							<div class="well clearfix">
								<div class="pull-right align-center">
									<div>
										<a class="plus" href="">+</a>
									</div>
									<div class="rank">21</div>
									<div>
										<a class="minus" href="">-</a>
									</div>
								</div>

								<h4 class="media-heading">Петя Петушков</h4>
								Я этого пацана видел, он хороший человек!
							</div>
							<div class="media">
								<a class="accordion-toggle media pull-left" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
									<img class="media-object" data-src="holder.js/70x84"></a>

								<div class="media-body well">
									<div class="pull-right align-center">
										<div>
											<a class="plus" href="">+</a>
										</div>
										<div class="rank">15</div>
										<div>
											<a class="minus" href="">-</a>
										</div>
									</div>

									<h4 class="media-heading">Петя Петушков</h4>
									Я этого пацана видел, он хороший человек!
								</div>
							</div>

						</div>

					</div>
				</div>
				<div class="media">
					<a class="accordion-toggle media pull-left" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
						<img class="media-object" data-src="holder.js/70x84"></a>

					<div class="media-body well">
						<div class="pull-right align-center">
							<div>
								<a class="plus" href="">+</a>
							</div>
							<div class="rank">15</div>
							<div>
								<a class="minus" href="">-</a>
							</div>
						</div>

						<h4 class="media-heading">Петя Петушков</h4>
						Я этого пацана видел, он хороший человек!
					</div>
				</div>

			</div>
		</div>
	</div>
	<hr class="bs-docs-separator">
	<footer>
		<p>&copy; Company 2012</p>
	</footer>
</div>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="https://raw.github.com/imsky/holder/master/holder.js"></script>
</body>
</html>