{% extends 'layout/main_layout.html' %}{% set content_width = '990p' %}
{% block content %}

	<div id="model-prod">
		{% block text %}
			<h2>Ice cream and popsicles machines - beginners</h2>

			<p style="margin-bottom: 25px; font-size: 14px; line-height: 20px;">&nbsp; Welcome to the wonderful world of
				Ice Cream Business! &nbsp; &nbsp; It is a tremendous pleasure for us to be able to assist you toward the
				success of your dream.&nbsp; The ice cream&nbsp;production market...
				<a href="/en/produtos/iniciante/sobre-a-linha" target="_blank" class="linkMais">Click here see more</a>
			</p>
		{% endblock %}
		{% block list %}
			<ul>
				<li>
					<a href="/en/produtos/iniciante/kit-200" title="Kit 200"><img src="/public/img/demo/419.jpg" alt="Kit 200" height="153" width="419"></a>

					<h3><a href="/en/produtos/iniciante/kit-200" title="Kit 200">Kit 200</a></h3>
					<span class="tipo">Complete kit to produce popsicles</span> <span class="desc">200-250 Popsicles/hour</span>
					<span class="tags">beginners, popsicles</span></li>
				<li>
					<a href="/en/produtos/iniciante/maquina-sorvete-mixer-15" title="Mixer 15"><img src="/public/img/demo/419.jpg" alt="Mixer 15" height="153" width="419"></a>

					<h3><a href="/en/produtos/iniciante/maquina-sorvete-mixer-15" title="Mixer 15">Mixer 15</a></h3>
					<span class="tipo">Aerator / emulsifier for ice cream and popsicles mixture</span>
					<span class="desc">Up to 8 liters of mixture</span> <span class="tags">beginners, popsicles, ice cream</span>
				</li>
				<li>
					<a href="/en/produtos/iniciante/maquina-sorvete-pp-60" title="PP 60"><img src="/public/img/demo/419.jpg" alt="PP 60" height="153" width="419"></a>

					<h3><a href="/en/produtos/iniciante/maquina-sorvete-pp-60" title="PP 60">PP 60</a></h3>
					<span class="tipo">Low cost Pasteurizer</span> <span class="desc">up to 60 liters / hour</span>
					<span class="tags">beginners, popsicles, ice cream</span></li>
				<li>
					<a href="/en/produtos/iniciante/maquina-sorvete-pro-4" title="Pro 4"><img src="/public/img/demo/419.jpg" alt="Pro 4" height="153" width="419"></a>

					<h3><a href="/en/produtos/iniciante/maquina-sorvete-pro-4" title="Pro 4">Pro 4</a></h3>
					<span class="tipo">Ice cream batch freezer</span> <span class="desc">Up to 60 liters / hour</span>
					<span class="tags">beginners, ice cream</span></li>
				<li>
					<a href="/en/produtos/iniciante/maquina-sorvete-turbo-8" title="Turbo 8"><img src="/public/img/demo/419.jpg" alt="Turbo 8" height="153" width="419"></a>

					<h3><a href="/en/produtos/iniciante/maquina-sorvete-turbo-8" title="Turbo 8">Turbo 8</a></h3>
					<span class="tipo">High performance popsicle machine</span> <span class="desc">200-250 popsicles / hour</span>
					<span class="tags">beginners, popsicles</span></li>
				<li>
					<a href="/en/produtos/iniciante/desenformador-banho-maria" title="Unmold Machine "><img src="/public/img/demo/419.jpg" alt="Unmold Machine " height="153" width="419"></a>

					<h3><a href="/en/produtos/iniciante/desenformador-banho-maria" title="Unmold Machine ">Unmold
						Machine </a></h3>
					<span class="tipo">Bain Marie and Skimo</span> <span class="desc">2 tanks of 20 liters</span>
					<span class="tags">beginners</span></li>
			</ul>
		{% endblock %}
		<br class="c">
	</div>
	<br class="c">
{% endblock %}
{% block sidebar_list %}
{#	{% include '_includes/sidebar.html' %}#}
{% endblock %}{% block sidebar %}{% endblock %}