<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="shortcut icon" href="/public/img/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss"/>
	<meta name="description" content="{% block description %}{% endblock %}"/>
	<meta name="keywords" content="{% block keywords %}{% endblock %}"/>
	<meta name="robots" content="index,follow"/>
	<meta name="author" content="zimzheka"/>
	<title>{% block title %}Станки, оборудование, линии производства из Китая - компания «Берег»{% endblock %}</title>
	<link href="/public/css/estilo.css" rel="stylesheet" type="text/css" media="screen"/>
	<link href="/public/css/dw.css" rel="stylesheet" type="text/css" media="screen"/>
	<link href="/public/css/plugins/shadowbox.css" rel="stylesheet" type="text/css" media="screen"/>
	{% block css %}{% endblock %}
	<script>var basePath = '/';
	var currLang = 'en';
	var headPics;
	var footerPics;
	var footSlider;
	var produtoHome;</script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="/public/js/plugins/jcarousel.js"></script>
	<script type="text/javascript" src="/public/js/plugins/shadowbox.js"></script>
	<script type="text/javascript" src="/public/js/functions.js"></script>
	<script type="text/javascript" src="/public/js/plugins/fancybox-1.3.4.js"></script>
	<link rel="stylesheet" href="/public/css/plugins/fancybox-1.3.4.css" type="text/css" media="screen"/>
	<script>
		$(document).ready(function () {
			$(".fancybox").fancybox();
		});</script>

</head>
<body>
<div id="wrapper">
<div id="header">
	<div class="logo"><a href="/">Bereg</a></div>

	<div class="r">
		<ol id="lang">
			<li><a href="/es/">Español</a></li>
			<li id="en"><a href="/en/" class="current">English</a></li>
			<li id="br"><a href="/br/">Português</a></li>
		</ol>
		<form id="searchform" action="/en/busca" method="get">
			<input name="palavra" type="text" value=""/> <input type="submit" value=" "/>
		</form>
	</div>
	<h3>Online chat ::</h3>	<br class="c"/>

	{# навигация #}
	{% block navigation %}
		{% include '_includes/nav.html' %}
	{% endblock %}
</div>
<!--/header-->
{% block rotate %}
	{% include '_includes/rotate.html' %}
{% endblock %}
{% set content_width = content_width|default('820p') %}
<div id="content-{{ content_width }}">
{% block submenu %}<h1 class="titlename top5">{% block h1 %}Equipment for{% endblock %}</h1>{% endblock %}

<div class="content">
	{% block content %}
		<div class="custom_tab">
			<ul id="produtoHome">
				<li class="aberto"><a href="#iniciantes">Ice cream and popsicle-Small</a></li>
				<li><a href="#intermediarios">Ice cream and popsicles-Med.</a></li>
				<li><a href="#industriais">Ice cream and popsicle-Indust.</a></li>
				<li><a href="#gelateria">Italian Gelato Gelateria </a></li>
				<li><a href="#chocomachine" class="lastLink">Chocolate tempering</a></li>
			</ul>
			<br class="c"/>

			<div class="sliderHolder">
				<div class="contentTab" id="iniciantes" style="display: block;">
					<a href="/en/produtos/iniciante" class="maisDestaqueImg">
						<img src="/public/img/service/turbo-8.jpg" height="278" width="530" alt="Machines for beginners"/>
					</a>

					<div class="desc">
						<h3>Machines for beginners</h3>

						<p>Start with the best equipment</p>
					</div>
					<a href="/en/produtos/iniciante" class="maisDestaque homeLinks">Click here
						see more</a> <br class="c"/>
				</div>
				<div class="contentTab" id="intermediarios" style="display: none;">
					<a href="/en/produtos/intermediario" class="maisDestaqueImg">
						<img src="/public/img/service/turbo25.jpg" height="278" width="530" alt="Machines for intermediates"/>
					</a>

					<div class="desc">
						<h3>Machines for intermediates</h3>

						<p>Increase your production with efficiency</p>
					</div>
					<a href="/en/produtos/intermediario" class="maisDestaque homeLinks">Click
						here see more</a> <br class="c"/>
				</div>
				<div class="contentTab" id="industriais" style="display: none;">
					<a href="/en/produtos/industrial" class="maisDestaqueImg">
						<img src="/public/img/service/titan-12.jpg" height="278" width="530" alt="Machines for industrials"/>
					</a>

					<div class="desc">
						<h3>Machines for industrials</h3>

						<p>High production equipment</p>
					</div>
					<a href="/en/produtos/industrial" class="maisDestaque homeLinks">Click here
						see more</a> <br class="c"/>
				</div>
				<div class="contentTab" id="gelateria" style="display: none;">
					<a href="/en/produtos/gelateria" class="maisDestaqueImg">
						<img src="/public/img/service/suprema1.jpg" height="278" width="530" alt="Italian gelato"/> </a>

					<div class="desc">
						<h3>Italian gelato</h3>

						<p>Machines for hard ice cream</p>
					</div>
					<a href="/en/produtos/gelateria" class="maisDestaque homeLinks">Click here
						see more</a> <br class="c"/>
				</div>
				<div class="contentTab" id="chocomachine" style="display: none;">
					<a href="/en/produtos/chocolate" class="maisDestaqueImg">
						<img src="/public/img/service/chocomachine-painel-2.jpg" height="278" width="530" alt="Chocolate production"/>
					</a>

					<div class="desc">
						<h3>Chocolate production</h3>

						<p>Chocolate tempering machines</p>
					</div>
					<a href="/en/produtos/chocolate" class="maisDestaque homeLinks">Click here
						see more</a> <br class="c"/>
				</div>
			</div>
		</div>
	{% endblock %}
</div>
<!--/content-->
{% block scripts %}
	<script>$(document).ready(function () {
		headPics = new customFadingSlider('#headPics', {slideSpeed:500, slideTimeout:10000, objectInstance:'headPics', paginationList:'#paginatepics'});
		produtoHome = new sliderProdutoHome({ objectInstance:'produtoHome' });
	});</script>
{% endblock %}
{% block footer_content %}
	<div class="footerContent">
		<ul class="lista3-col">
			<li>
				<h3 class="titlename top5">Specials and Releases </h3>

				<div>
					<ol>
						<li>
							<h4><a href="/en/noticias/2012/04/227/kit-ice-cream-production">Kit Ice-cream
								Production!</a>
							</h4>

							<p>The complete kit for your Ice-cream production!</p>
						</li>
						<li>
							<h4>
								<a href="/en/noticias/2012/04/224/gyrofiller-automatic-equipment-for-ice-cream-filling-and-packing">Gyrofiller
									- Automatic Equipment for ice cream filling and packing</a></h4>

							<p>GYROFILLER - ROTARY MACHINE TO FILL, PACK AND LABEL ICE CREAM CONTAINERS</p>
						</li>
						<li>
							<h4><a href="/en/noticias/2012/02/137/kit-200-start-your-own-business">Kit 200 - Start your
								own business!</a></h4>

							<p>Complete kit to star your own business!</p>
						</li>
						<li>
							<h4><a href="/en/noticias/2012/01/131/kit-gelato">Kit Gelato</a></h4>

							<p>Produce delicous italian Gelato with quality and lowest price!</p>
						</li>
					</ol>
				</div>
			</li>
			<li>
				<h3 class="titlename top5">Courses: ice cream and chocolate </h3>

				<div>
					<ol>
						<li>
							<h4><a href="/en/cursos/sorvete-basico-en"><strong>20/12</strong>: Promotional Combo:
								Begginer + Market</a></h4>
							&#160;

							&#160;Bereg has prepared...
						</li>
						<li>
							<h4><a href="/en/cursos/chocolate-en"><strong>07/01</strong>: Chocolate Market</a></h4>
							&#160;

							Designed for new entrepreneurs, and the...
						</li>
						<li>
							<h4><a href="/en/cursos/sorvete-basico-en"><strong>10/01</strong>: Ice Cream - Beginners</a>
							</h4>
							&#160; Consists of the Theory of Ice Cream,...
						</li>
						<li>
							<h4><a href="/en/cursos/---------"><strong>16/01</strong>: </a></h4>

						</li>
					</ol>
				</div>
			</li>
			<li class="ultima">
				<h3 class="titlename top5">News</h3>

				<div>
					<ol>
						<li>
							<h4><a href="/en/noticias/2012/11/411/marked-presence-in-brazil-apex">
								PRESENCE IN BRAZIL APEX</a></h4>

							<p>Finalist Award in the category "Market Diversification"</p>
						</li>
						<li>
							<h4>
								<a href="/en/noticias/2012/11/408/sigep-2013-the-salon-international-ice-cream-pastry-and-bakery-craft.">SIGEP
									2013 - The Salon International Ice Cream, Pastry and Bakery Craft.</a></h4>

							<p>SIGEP, is the Salon International Ice Cream, Pastry and Bakery Craft. The fair remains
								one of the world's most important sector of artisanal ice cream, and how exposure
								predominant European artisan candy, still consolidating sector of artisanal baking.</p>
						</li>
						<li>
							<h4><a href="/en/noticias/2012/11/401/automatic-rotary-filling-machine-for-ice-cream">AUTOMATIC
								ROTARY FILLING MACHINE FOR ICE CREAM</a></h4>

							<p>Optimizes working time and enables the diversification of your products.</p>
						</li>
						<li>
							<h4>
								<a href="/en/noticias/2012/11/402/super-c-continuous-production-of-ice-cream-aerated">Super
									C Continuous Production of ice cream aerated</a></h4>

							<p>Produce in a continuous way up to 200 liters.</p>
						</li>
					</ol>
				</div>
			</li>
		</ul>
		<br class="c"/>

		<div id="getBlog">
			<div id="footerSlider">
				<ul id="footerPics">
					<li class="active">
						<a href="/en/produtos"><img src="/public/img/service/footer-familia-en.jpg" width="820" height="349" border="0"/></a>
					</li>
					<li>
						<a href="/en/produtos/intermediario/maquina-sorvete-super-c2"><img src="/public/img/service/supercplus-en.jpg" width="820" height="349" border="0"/></a>
					</li>
					<li>
						<a href="/en/produtos/industrial/maquina-sorvete-gyrofiller"><img src="/public/img/service/gyrofiller-banner-botton-en.jpg" width="820" height="349" border="0"/></a>
					</li>
					<li>
						<a href="/en/produtos/industrial/maquina-sorvete-if-900"><img src="/public/img/service/footer-if900-en.jpg" width="820" height="349" border="0"/></a>
					</li>
					<li>
						<img src="/public/img/service/footer-suprema-br.jpg" width="820" height="349" border="0"/>
					</li>
					<li>
						<img src="/public/img/service/chocolate-modelagem4.jpg" width="820" height="349" border="0"/>
					</li>
					<li>
						<a href="/en/produtos/chocolate/maquina-chocomachine"><img src="/public/img/service/banner-inferior-chocomachine-en.jpg" width="820" height="349" border="0"/></a>
					</li>
					<li>
						<a href="/en/produtos/industrial/maquina-sorvete-titan-12"><img src="/public/img/service/banner-inferior-titan12-en.jpg" width="820" height="349" border="0"/></a>
					</li>
					<li>
						<a href="/en/produtos/iniciante/maquina-sorvete-turbo-8"><img src="/public/img/service/banner-inferior-turbo8-en.jpg" width="820" height="349" border="0"/></a>
					</li>
				</ul>
				<ul id="footerpagination"></ul>
			</div>
		</div>
	</div>
{% endblock %}

<script>
	$(document).ready(function () {
		// footSlider = new customSlider('#footerPics', '#footerSlider', {slideSpeed: 500, slideTimeout: 5000, objectInstance: 'footSlider', automatic: true});
		footerPics = new customFadingSlider('#footerPics', {slideSpeed:500, slideTimeout:15000, objectInstance:'footerPics', paginationList:'#footerpagination'});
	});
</script>
{% block sidebar_list %}{% endblock %} <br class="c"/>
</div>
<!--/content-820-->
{% block sidebar %}
	{% include '_includes/sidebar.html' %}
{% endblock %}
<br class="c"/>
</div>
{% include '_includes/footer.html' %}
</body>
</html>