<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="shortcut icon" href="/public/img/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss"/>
	<meta name="description" content="{% block description %}{% endblock %}"/>
	<meta name="keywords" content="{% block keywords %}{% endblock %}"/>
	<meta name="robots" content="index,follow"/>
	<meta name="author" content="zimzheka"/>
	<title>{% block title %}Станки, оборудование, линии производства из Китая - компания «Берег»{% endblock %}</title>
	<link href="/public/css/estilo.css" rel="stylesheet" type="text/css" media="screen"/>
	<link href="/public/css/dw.css" rel="stylesheet" type="text/css" media="screen"/>
	<link href="/public/css/plugins/shadowbox.css" rel="stylesheet" type="text/css" media="screen"/>
	{% block css %}{% endblock %}
	<script>var basePath = '/';
	var currLang = 'en';
	var headPics;
	var footerPics;
	var footSlider;
	var produtoHome;</script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="/public/js/plugins/jcarousel.js"></script>
	<script type="text/javascript" src="/public/js/plugins/shadowbox.js"></script>
	<script type="text/javascript" src="/public/js/functions.js"></script>
	<script type="text/javascript" src="/public/js/plugins/fancybox-1.3.4.js"></script>
	<link rel="stylesheet" href="/public/css/plugins/fancybox-1.3.4.css" type="text/css" media="screen"/>
	<script>
		$(document).ready(function () {
			$(".fancybox").fancybox();
		});</script>

</head>
<body>
<div id="wrapper">
{% block header %}
	<div id="header">
		<div class="logo"><a href="/">Bereg</a></div>

		<div class="r">
{#			<ol id="lang">#}
{#				<li><a href="#">Español</a></li>#}
{#				<li id="en" class="lang"><a href="/" class="current">English</a></li>#}
{#				<li id="br" class="lang"><a href="#">Português</a></li>#}
{#			</ol>#}
{#			<form id="searchform" action="/" method="get">#}
{#				<input name="search[text]" type="text" value=""/>#}
{#				<input type="submit" value=" "/>#}
{#			</form>#}
		</div>
		<br class="c"/>

		{# навигация #}
		{% block navigation %}
			{% include '_includes/nav.html' %}
		{% endblock %}
	</div>
	<!--/header-->
{% endblock %}
{% block rotate %}
	{% include '_includes/rotate.html' %}
{% endblock %}
{% set content_width = content_width|default('820p') %}
<div id="content-{{ content_width }}">
{% block submenu %}<h1 class="titlename top5">{% block h1 %}Equipment for{% endblock %}</h1>{% endblock %}

<div class="content">
	{% block content %}
		<div class="custom_tab">
			<ul id="produtoHome">
				<li class="aberto"><a href="#iniciantes">Ice cream and popsicle-Small</a></li>
				<li><a href="#intermediarios">Ice cream and popsicles-Med.</a></li>
				<li><a href="#industriais">Ice cream and popsicle-Indust.</a></li>
				<li><a href="#gelateria">Italian Gelato Gelateria </a></li>
				<li><a href="#chocomachine" class="lastLink">Chocolate tempering</a></li>
			</ul>
			<br class="c"/>

			<div class="sliderHolder">
				<div class="contentTab" id="iniciantes" style="display: block;">
					<a href="/en/produtos/iniciante" class="maisDestaqueImg">
						<img src="/public/img/service/turbo-8.jpg" height="278" width="530" alt="Machines for beginners"/>
					</a>

					<div class="desc">
						<h3>Machines for beginners</h3>

						<p>Start with the best equipment</p>
					</div>
					<a href="/en/produtos/iniciante" class="maisDestaque homeLinks">Click here
						see more</a> <br class="c"/>
				</div>
				<div class="contentTab" id="intermediarios" style="display: none;">
					<a href="/en/produtos/intermediario" class="maisDestaqueImg">
						<img src="/public/img/service/turbo25.jpg" height="278" width="530" alt="Machines for intermediates"/>
					</a>

					<div class="desc">
						<h3>Machines for intermediates</h3>

						<p>Increase your production with efficiency</p>
					</div>
					<a href="/en/produtos/intermediario" class="maisDestaque homeLinks">Click
						here see more</a> <br class="c"/>
				</div>
				<div class="contentTab" id="industriais" style="display: none;">
					<a href="/en/produtos/industrial" class="maisDestaqueImg">
						<img src="/public/img/service/titan-12.jpg" height="278" width="530" alt="Machines for industrials"/>
					</a>

					<div class="desc">
						<h3>Machines for industrials</h3>

						<p>High production equipment</p>
					</div>
					<a href="/en/produtos/industrial" class="maisDestaque homeLinks">Click here
						see more</a> <br class="c"/>
				</div>
				<div class="contentTab" id="gelateria" style="display: none;">
					<a href="/en/produtos/gelateria" class="maisDestaqueImg">
						<img src="/public/img/service/suprema1.jpg" height="278" width="530" alt="Italian gelato"/> </a>

					<div class="desc">
						<h3>Italian gelato</h3>

						<p>Machines for hard ice cream</p>
					</div>
					<a href="/en/produtos/gelateria" class="maisDestaque homeLinks">Click here
						see more</a> <br class="c"/>
				</div>
				<div class="contentTab" id="chocomachine" style="display: none;">
					<a href="/en/produtos/chocolate" class="maisDestaqueImg">
						<img src="/public/img/service/chocomachine-painel-2.jpg" height="278" width="530" alt="Chocolate production"/>
					</a>

					<div class="desc">
						<h3>Chocolate production</h3>

						<p>Chocolate tempering machines</p>
					</div>
					<a href="/en/produtos/chocolate" class="maisDestaque homeLinks">Click here
						see more</a> <br class="c"/>
				</div>
			</div>
		</div>
	{% endblock %}
</div>
<!--/content-->
{% block scripts %}
	<script>$(document).ready(function () {
		headPics = new customFadingSlider('#headPics', {slideSpeed:500, slideTimeout:10000, objectInstance:'headPics', paginationList:'#paginatepics'});
		produtoHome = new sliderProdutoHome({ objectInstance:'produtoHome' });
	});</script>
{% endblock %}
{% block footer_content %}
	<div class="footerContent">
{#	    {% include '_includes/news.html' %}#}
		<br class="c"/>

{#		{% include '_includes/footer_slider.html' %}#}
	</div>
{% endblock %}

<script>
	$(document).ready(function () {
		// footSlider = new customSlider('#footerPics', '#footerSlider', {slideSpeed: 500, slideTimeout: 5000, objectInstance: 'footSlider', automatic: true});
		footerPics = new customFadingSlider('#footerPics', {slideSpeed:500, slideTimeout:15000, objectInstance:'footerPics', paginationList:'#footerpagination'});
	});
</script>
{% block sidebar_list %}{% endblock %} <br class="c"/>
</div>
<!--/content-820-->
{% block sidebar %}
	{% include '_includes/sidebar.html' %}
{% endblock %}
<br class="c"/>
</div>
{% block footer %}
	{% include '_includes/footer.html' %}
{% endblock %}
</body>
</html>